{
  "openapi": "3.1.0",
  "info": {
    "title": "API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://data.sec.gov"
    }
  ],
  "paths": {
    "/api/xbrl/companyfacts/CIK{cik}.json": {
      "parameters": [
        {
          "$ref": "#/components/parameters/cik"
        }
      ],
      "get": {
        "operationId": "ListAPIXbrlCompanyfactsCikCikJSON",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListAPIXbrlCompanyfactsCikCikJSONOkResponse"
          },
          "403": {
            "$ref": "#/components/responses/ListAPIXbrlCompanyfactsCikCikJSONForbiddenResponse"
          }
        }
      }
    },
    "/files/company_tickers.json": {
      "servers": [
        {
          "url": "https://www.sec.gov"
        }
      ],
      "get": {
        "operationId": "ListFilesCompanyTickersJSON",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListFilesCompanyTickersJSONOkResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ListAPIXbrlCompanyfactsCikCikJSONOk": {
        "type": "object",
        "properties": {
          "cik": {
            "type": "integer",
            "example": 320193
          },
          "entityName": {
            "type": "string",
            "example": "Apple Inc."
          },
          "facts": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFacts"
          }
        },
        "required": [
          "cik",
          "entityName",
          "facts"
        ]
      },
      "ListAPIXbrlCompanyfactsCikCikJSONOkFacts": {
        "type": "object",
        "properties": {
          "dei": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsDei"
          },
          "us-gaap": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaap"
          },
          "ecd": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsEcd"
          }
        },
        "required": [
          "dei",
          "us-gaap"
        ]
      },
      "ListAPIXbrlCompanyfactsCikCikJSONOkFactsDei": {
        "type": "object",
        "properties": {
          "EntityCommonStockSharesOutstanding": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityCommonStockSharesOutstanding"
          },
          "EntityPublicFloat": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityPublicFloat"
          }
        },
        "required": [
          "EntityCommonStockSharesOutstanding",
          "EntityPublicFloat"
        ]
      },
      "ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityCommonStockSharesOutstanding": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "example": "Entity Common Stock, Shares Outstanding"
          },
          "description": {
            "type": "string",
            "example": "Indicate number of shares or other units outstanding of each of registrant's classes of capital or common stock or other ownership interests, if and as stated on cover of related periodic report. Where multiple classes or units exist define each class/interest by adding class of stock items such as Common Class A [Member], Common Class B [Member] or Partnership Interest [Member] onto the Instrument [Domain] of the Entity Listings, Instrument."
          },
          "units": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityCommonStockSharesOutstandingUnits"
          }
        },
        "required": [
          "label",
          "description",
          "units"
        ]
      },
      "ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityCommonStockSharesOutstandingUnits": {
        "type": "object",
        "properties": {
          "shares": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityCommonStockSharesOutstandingUnitsShares"
          }
        },
        "required": [
          "shares"
        ]
      },
      "ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityCommonStockSharesOutstandingUnitsShares": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityCommonStockSharesOutstandingUnitsSharesItem"
        }
      },
      "ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityCommonStockSharesOutstandingUnitsSharesItem": {
        "type": "object",
        "properties": {
          "end": {
            "type": "string",
            "example": "2009-06-27"
          },
          "val": {
            "type": "integer",
            "example": 895816758
          },
          "accn": {
            "type": "string",
            "example": "0001193125-09-153165"
          },
          "fy": {
            "type": "integer",
            "example": 2009
          },
          "fp": {
            "type": "string",
            "example": "Q3"
          },
          "form": {
            "type": "string",
            "example": "10-Q"
          },
          "filed": {
            "type": "string",
            "example": "2009-07-22"
          },
          "frame": {
            "type": "string",
            "example": "CY2009Q2I"
          }
        },
        "required": [
          "end",
          "val",
          "accn",
          "fy",
          "fp",
          "form",
          "filed",
          "frame"
        ]
      },
      "ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityPublicFloat": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "example": "Entity Public Float"
          },
          "description": {
            "type": "string",
            "example": "The aggregate market value of the voting and non-voting common equity held by non-affiliates computed by reference to the price at which the common equity was last sold, or the average bid and asked price of such common equity, as of the last business day of the registrant's most recently completed second fiscal quarter."
          },
          "units": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityPublicFloatUnits"
          }
        },
        "required": [
          "label",
          "description",
          "units"
        ]
      },
      "ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityPublicFloatUnits": {
        "type": "object",
        "properties": {
          "USD": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityPublicFloatUnitsUsd"
          }
        },
        "required": [
          "USD"
        ]
      },
      "ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityPublicFloatUnitsUsd": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityPublicFloatUnitsUsdItem"
        }
      },
      "ListAPIXbrlCompanyfactsCikCikJSONOkFactsDeiEntityPublicFloatUnitsUsdItem": {
        "type": "object",
        "properties": {
          "end": {
            "type": "string",
            "example": "2009-03-28"
          },
          "val": {
            "type": "integer",
            "example": 94593000000
          },
          "accn": {
            "type": "string",
            "example": "0001193125-09-153165"
          },
          "fy": {
            "type": "integer",
            "example": 2009
          },
          "fp": {
            "type": "string",
            "example": "Q3"
          },
          "form": {
            "type": "string",
            "example": "10-Q"
          },
          "filed": {
            "type": "string",
            "example": "2009-07-22"
          },
          "frame": {
            "type": "string",
            "example": "CY2009Q1I"
          }
        },
        "required": [
          "end",
          "val",
          "accn",
          "fy",
          "fp",
          "form",
          "filed"
        ]
      },
      "ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaap": {
        "type": "object",
        "properties": {
          "AccountsPayable": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccountsPayable"
          },
          "AccountsPayableCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccountsPayableCurrent"
          },
          "AccountsReceivableNetCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccountsReceivableNetCurrent"
          },
          "AccruedIncomeTaxesCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccruedIncomeTaxesCurrent"
          },
          "AccruedIncomeTaxesNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccruedIncomeTaxesNoncurrent"
          },
          "AccruedLiabilities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccruedLiabilities"
          },
          "AccruedLiabilitiesCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccruedLiabilitiesCurrent"
          },
          "AccruedMarketingCostsCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccruedMarketingCostsCurrent"
          },
          "AccumulatedDepreciationDepletionAndAmortizationPropertyPlantAndEquipment": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccumulatedDepreciationDepletionAndAmortizationPropertyPlantAndEquipment"
          },
          "AccumulatedOtherComprehensiveIncomeLossAvailableForSaleSecuritiesAdjustmentNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccumulatedOtherComprehensiveIncomeLossAvailableForSaleSecuritiesAdjustmentNetOfTax"
          },
          "AccumulatedOtherComprehensiveIncomeLossCumulativeChangesInNetGainLossFromCashFlowHedgesEffectNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccumulatedOtherComprehensiveIncomeLossCumulativeChangesInNetGainLossFromCashFlowHedgesEffectNetOfTax"
          },
          "AccumulatedOtherComprehensiveIncomeLossForeignCurrencyTranslationAdjustmentNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccumulatedOtherComprehensiveIncomeLossForeignCurrencyTranslationAdjustmentNetOfTax"
          },
          "AccumulatedOtherComprehensiveIncomeLossNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAccumulatedOtherComprehensiveIncomeLossNetOfTax"
          },
          "AdjustmentsToAdditionalPaidInCapitalSharebasedCompensationRequisiteServicePeriodRecognitionValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAdjustmentsToAdditionalPaidInCapitalSharebasedCompensationRequisiteServicePeriodRecognitionValue"
          },
          "AdjustmentsToAdditionalPaidInCapitalTaxEffectFromShareBasedCompensation": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAdjustmentsToAdditionalPaidInCapitalTaxEffectFromShareBasedCompensation"
          },
          "AdvertisingExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAdvertisingExpense"
          },
          "AllocatedShareBasedCompensationExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAllocatedShareBasedCompensationExpense"
          },
          "AllowanceForDoubtfulAccountsReceivableCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAllowanceForDoubtfulAccountsReceivableCurrent"
          },
          "AmortizationOfIntangibleAssets": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAmortizationOfIntangibleAssets"
          },
          "AntidilutiveSecuritiesExcludedFromComputationOfEarningsPerShareAmount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAntidilutiveSecuritiesExcludedFromComputationOfEarningsPerShareAmount"
          },
          "Assets": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAssets"
          },
          "AssetsCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAssetsCurrent"
          },
          "AssetsNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAssetsNoncurrent"
          },
          "AvailableForSaleDebtSecuritiesAccumulatedGrossUnrealizedGainBeforeTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleDebtSecuritiesAccumulatedGrossUnrealizedGainBeforeTax"
          },
          "AvailableForSaleDebtSecuritiesAccumulatedGrossUnrealizedLossBeforeTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleDebtSecuritiesAccumulatedGrossUnrealizedLossBeforeTax"
          },
          "AvailableForSaleDebtSecuritiesAmortizedCostBasis": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleDebtSecuritiesAmortizedCostBasis"
          },
          "AvailableForSaleSecurities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecurities"
          },
          "AvailableForSaleSecuritiesAccumulatedGrossUnrealizedGainBeforeTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesAccumulatedGrossUnrealizedGainBeforeTax"
          },
          "AvailableForSaleSecuritiesAccumulatedGrossUnrealizedLossBeforeTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesAccumulatedGrossUnrealizedLossBeforeTax"
          },
          "AvailableForSaleSecuritiesAmortizedCost": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesAmortizedCost"
          },
          "AvailableForSaleSecuritiesContinuousUnrealizedLossPosition12MonthsOrLongerAccumulatedLoss": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesContinuousUnrealizedLossPosition12MonthsOrLongerAccumulatedLoss"
          },
          "AvailableForSaleSecuritiesContinuousUnrealizedLossPositionAccumulatedLoss": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesContinuousUnrealizedLossPositionAccumulatedLoss"
          },
          "AvailableForSaleSecuritiesContinuousUnrealizedLossPositionFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesContinuousUnrealizedLossPositionFairValue"
          },
          "AvailableForSaleSecuritiesContinuousUnrealizedLossPositionLessThan12MonthsAccumulatedLoss": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesContinuousUnrealizedLossPositionLessThan12MonthsAccumulatedLoss"
          },
          "AvailableForSaleSecuritiesContinuousUnrealizedLossPositionLessThanTwelveMonthsFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesContinuousUnrealizedLossPositionLessThanTwelveMonthsFairValue"
          },
          "AvailableForSaleSecuritiesContinuousUnrealizedLossPositionTwelveMonthsOrLongerFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesContinuousUnrealizedLossPositionTwelveMonthsOrLongerFairValue"
          },
          "AvailableForSaleSecuritiesCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesCurrent"
          },
          "AvailableForSaleSecuritiesDebtMaturitiesRollingAfterYearTenFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesDebtMaturitiesRollingAfterYearTenFairValue"
          },
          "AvailableForSaleSecuritiesDebtMaturitiesRollingYearSixThroughTenFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesDebtMaturitiesRollingYearSixThroughTenFairValue"
          },
          "AvailableForSaleSecuritiesDebtMaturitiesRollingYearTwoThroughFiveFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesDebtMaturitiesRollingYearTwoThroughFiveFairValue"
          },
          "AvailableForSaleSecuritiesDebtMaturitiesSingleMaturityDate": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesDebtMaturitiesSingleMaturityDate"
          },
          "AvailableForSaleSecuritiesDebtSecurities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesDebtSecurities"
          },
          "AvailableForSaleSecuritiesDebtSecuritiesCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesDebtSecuritiesCurrent"
          },
          "AvailableForSaleSecuritiesDebtSecuritiesNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesDebtSecuritiesNoncurrent"
          },
          "AvailableForSaleSecuritiesFairValueDisclosure": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesFairValueDisclosure"
          },
          "AvailableForSaleSecuritiesGrossUnrealizedLosses1": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesGrossUnrealizedLosses1"
          },
          "AvailableForSaleSecuritiesNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableForSaleSecuritiesNoncurrent"
          },
          "AvailableforsaleSecuritiesGrossUnrealizedGain": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapAvailableforsaleSecuritiesGrossUnrealizedGain"
          },
          "BusinessAcquisitionCostOfAcquiredEntityPurchasePrice": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapBusinessAcquisitionCostOfAcquiredEntityPurchasePrice"
          },
          "BusinessAcquisitionPurchasePriceAllocationAmortizableIntangibleAssets": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapBusinessAcquisitionPurchasePriceAllocationAmortizableIntangibleAssets"
          },
          "BusinessAcquisitionPurchasePriceAllocationGoodwillAmount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapBusinessAcquisitionPurchasePriceAllocationGoodwillAmount"
          },
          "BusinessAcquisitionPurchasePriceAllocationLiabilitiesAssumed": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapBusinessAcquisitionPurchasePriceAllocationLiabilitiesAssumed"
          },
          "BusinessCombinationRecognizedIdentifiableAssetsAcquiredAndLiabilitiesAssumedIntangibleAssetsOtherThanGoodwill": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapBusinessCombinationRecognizedIdentifiableAssetsAcquiredAndLiabilitiesAssumedIntangibleAssetsOtherThanGoodwill"
          },
          "BusinessCombinationRecognizedIdentifiableAssetsAcquiredAndLiabilitiesAssumedLiabilities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapBusinessCombinationRecognizedIdentifiableAssetsAcquiredAndLiabilitiesAssumedLiabilities"
          },
          "CapitalExpendituresIncurredButNotYetPaid": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCapitalExpendituresIncurredButNotYetPaid"
          },
          "CapitalizedComputerSoftwareAdditions": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCapitalizedComputerSoftwareAdditions"
          },
          "CapitalizedComputerSoftwareAmortization": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCapitalizedComputerSoftwareAmortization"
          },
          "Cash": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCash"
          },
          "CashAndCashEquivalentsAtCarryingValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCashAndCashEquivalentsAtCarryingValue"
          },
          "CashAndCashEquivalentsPeriodIncreaseDecrease": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCashAndCashEquivalentsPeriodIncreaseDecrease"
          },
          "CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCashCashEquivalentsRestrictedCashAndRestrictedCashEquivalents"
          },
          "CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalentsPeriodIncreaseDecreaseIncludingExchangeRateEffect": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCashCashEquivalentsRestrictedCashAndRestrictedCashEquivalentsPeriodIncreaseDecreaseIncludingExchangeRateEffect"
          },
          "CashEquivalentsAtCarryingValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCashEquivalentsAtCarryingValue"
          },
          "ChangeInUnrealizedGainLossOnFairValueHedgingInstruments": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapChangeInUnrealizedGainLossOnFairValueHedgingInstruments"
          },
          "CollateralAlreadyPostedAggregateFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCollateralAlreadyPostedAggregateFairValue"
          },
          "CommercialPaper": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCommercialPaper"
          },
          "CommitmentsAndContingencies": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCommitmentsAndContingencies"
          },
          "CommonStockDividendsPerShareCashPaid": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCommonStockDividendsPerShareCashPaid"
          },
          "CommonStockDividendsPerShareDeclared": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCommonStockDividendsPerShareDeclared"
          },
          "CommonStockNoParValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCommonStockNoParValue"
          },
          "CommonStockParOrStatedValuePerShare": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCommonStockParOrStatedValuePerShare"
          },
          "CommonStockSharesAuthorized": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCommonStockSharesAuthorized"
          },
          "CommonStockSharesIssued": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCommonStockSharesIssued"
          },
          "CommonStockSharesOutstanding": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCommonStockSharesOutstanding"
          },
          "CommonStocksIncludingAdditionalPaidInCapital": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCommonStocksIncludingAdditionalPaidInCapital"
          },
          "CommonStockValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCommonStockValue"
          },
          "ComprehensiveIncomeNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapComprehensiveIncomeNetOfTax"
          },
          "ContractWithCustomerLiability": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapContractWithCustomerLiability"
          },
          "ContractWithCustomerLiabilityCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapContractWithCustomerLiabilityCurrent"
          },
          "ContractWithCustomerLiabilityRevenueRecognized": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapContractWithCustomerLiabilityRevenueRecognized"
          },
          "CostOfGoodsAndServicesSold": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCostOfGoodsAndServicesSold"
          },
          "CostOfGoodsAndServicesSoldDepreciation": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCostOfGoodsAndServicesSoldDepreciation"
          },
          "CostOfReimbursableExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCostOfReimbursableExpense"
          },
          "CumulativeEffectOfInitialAdoptionOfFIN48": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCumulativeEffectOfInitialAdoptionOfFin48"
          },
          "CumulativeEffectOfInitialAdoptionOfNewAccountingPrinciple": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCumulativeEffectOfInitialAdoptionOfNewAccountingPrinciple"
          },
          "CurrentFederalTaxExpenseBenefit": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCurrentFederalTaxExpenseBenefit"
          },
          "CurrentForeignTaxExpenseBenefit": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCurrentForeignTaxExpenseBenefit"
          },
          "CurrentStateAndLocalTaxExpenseBenefit": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapCurrentStateAndLocalTaxExpenseBenefit"
          },
          "DebtInstrumentCarryingAmount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDebtInstrumentCarryingAmount"
          },
          "DebtInstrumentUnamortizedDiscount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDebtInstrumentUnamortizedDiscount"
          },
          "DebtInstrumentUnamortizedDiscountPremiumAndDebtIssuanceCostsNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDebtInstrumentUnamortizedDiscountPremiumAndDebtIssuanceCostsNet"
          },
          "DebtInstrumentUnamortizedDiscountPremiumNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDebtInstrumentUnamortizedDiscountPremiumNet"
          },
          "DebtSecuritiesAvailableForSaleContinuousUnrealizedLossPosition12MonthsOrLonger": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDebtSecuritiesAvailableForSaleContinuousUnrealizedLossPosition12MonthsOrLonger"
          },
          "DebtSecuritiesAvailableForSaleContinuousUnrealizedLossPosition12MonthsOrLongerAccumulatedLoss": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDebtSecuritiesAvailableForSaleContinuousUnrealizedLossPosition12MonthsOrLongerAccumulatedLoss"
          },
          "DebtSecuritiesAvailableForSaleContinuousUnrealizedLossPositionLessThan12Months": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDebtSecuritiesAvailableForSaleContinuousUnrealizedLossPositionLessThan12Months"
          },
          "DebtSecuritiesAvailableForSaleContinuousUnrealizedLossPositionLessThan12MonthsAccumulatedLoss": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDebtSecuritiesAvailableForSaleContinuousUnrealizedLossPositionLessThan12MonthsAccumulatedLoss"
          },
          "DebtSecuritiesAvailableForSaleUnrealizedLossPosition": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDebtSecuritiesAvailableForSaleUnrealizedLossPosition"
          },
          "DebtSecuritiesAvailableForSaleUnrealizedLossPositionAccumulatedLoss": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDebtSecuritiesAvailableForSaleUnrealizedLossPositionAccumulatedLoss"
          },
          "DecreaseInUnrecognizedTaxBenefitsIsReasonablyPossible": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDecreaseInUnrecognizedTaxBenefitsIsReasonablyPossible"
          },
          "DeferredFederalIncomeTaxExpenseBenefit": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredFederalIncomeTaxExpenseBenefit"
          },
          "DeferredForeignIncomeTaxExpenseBenefit": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredForeignIncomeTaxExpenseBenefit"
          },
          "DeferredIncomeTaxExpenseBenefit": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredIncomeTaxExpenseBenefit"
          },
          "DeferredIncomeTaxLiabilities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredIncomeTaxLiabilities"
          },
          "DeferredIncomeTaxLiabilitiesNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredIncomeTaxLiabilitiesNet"
          },
          "DeferredRevenueCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredRevenueCurrent"
          },
          "DeferredRevenueNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredRevenueNoncurrent"
          },
          "DeferredStateAndLocalIncomeTaxExpenseBenefit": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredStateAndLocalIncomeTaxExpenseBenefit"
          },
          "DeferredTaxAssetsDeferredIncome": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsDeferredIncome"
          },
          "DeferredTaxAssetsGoodwillAndIntangibleAssets": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsGoodwillAndIntangibleAssets"
          },
          "DeferredTaxAssetsGross": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsGross"
          },
          "DeferredTaxAssetsLiabilitiesNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsLiabilitiesNet"
          },
          "DeferredTaxAssetsLiabilitiesNetCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsLiabilitiesNetCurrent"
          },
          "DeferredTaxAssetsNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsNet"
          },
          "DeferredTaxAssetsNetCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsNetCurrent"
          },
          "DeferredTaxAssetsOther": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsOther"
          },
          "DeferredTaxAssetsPropertyPlantAndEquipment": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsPropertyPlantAndEquipment"
          },
          "DeferredTaxAssetsTaxCreditCarryforwards": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsTaxCreditCarryforwards"
          },
          "DeferredTaxAssetsTaxCreditCarryforwardsForeign": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsTaxCreditCarryforwardsForeign"
          },
          "DeferredTaxAssetsTaxCreditCarryforwardsResearch": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsTaxCreditCarryforwardsResearch"
          },
          "DeferredTaxAssetsTaxDeferredExpenseCompensationAndBenefitsShareBasedCompensationCost": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsTaxDeferredExpenseCompensationAndBenefitsShareBasedCompensationCost"
          },
          "DeferredTaxAssetsTaxDeferredExpenseReservesAndAccruals": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsTaxDeferredExpenseReservesAndAccruals"
          },
          "DeferredTaxAssetsUnrealizedLossesOnAvailableforSaleSecuritiesGross": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsUnrealizedLossesOnAvailableforSaleSecuritiesGross"
          },
          "DeferredTaxAssetsValuationAllowance": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxAssetsValuationAllowance"
          },
          "DeferredTaxLiabilities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxLiabilities"
          },
          "DeferredTaxLiabilitiesLeasingArrangements": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxLiabilitiesLeasingArrangements"
          },
          "DeferredTaxLiabilitiesNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxLiabilitiesNoncurrent"
          },
          "DeferredTaxLiabilitiesOther": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxLiabilitiesOther"
          },
          "DeferredTaxLiabilitiesOtherComprehensiveIncome": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxLiabilitiesOtherComprehensiveIncome"
          },
          "DeferredTaxLiabilitiesUndistributedForeignEarnings": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxLiabilitiesUndistributedForeignEarnings"
          },
          "DeferredTaxLiabilityNotRecognizedAmountOfUnrecognizedDeferredTaxLiabilityUndistributedEarningsOfForeignSubsidiaries": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDeferredTaxLiabilityNotRecognizedAmountOfUnrecognizedDeferredTaxLiabilityUndistributedEarningsOfForeignSubsidiaries"
          },
          "DefinedContributionPlanCostRecognized": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDefinedContributionPlanCostRecognized"
          },
          "DefinedContributionPlanMaximumAnnualContributionPerEmployeeAmount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDefinedContributionPlanMaximumAnnualContributionPerEmployeeAmount"
          },
          "DefinedContributionPlanMaximumAnnualContributionsPerEmployeeAmount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDefinedContributionPlanMaximumAnnualContributionsPerEmployeeAmount"
          },
          "Depreciation": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDepreciation"
          },
          "DepreciationAmortizationAndAccretionNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDepreciationAmortizationAndAccretionNet"
          },
          "DepreciationAndAmortization": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDepreciationAndAmortization"
          },
          "DepreciationDepletionAndAmortization": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDepreciationDepletionAndAmortization"
          },
          "DerivativeCollateralObligationToReturnCash": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDerivativeCollateralObligationToReturnCash"
          },
          "DerivativeFairValueOfDerivativeNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDerivativeFairValueOfDerivativeNet"
          },
          "DerivativeInstrumentsGainLossReclassifiedFromAccumulatedOCIIntoIncomeEffectivePortionNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDerivativeInstrumentsGainLossReclassifiedFromAccumulatedOciIntoIncomeEffectivePortionNet"
          },
          "DerivativeInstrumentsGainLossRecognizedInIncomeIneffectivePortionAndAmountExcludedFromEffectivenessTestingNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDerivativeInstrumentsGainLossRecognizedInIncomeIneffectivePortionAndAmountExcludedFromEffectivenessTestingNet"
          },
          "DerivativeInstrumentsGainLossRecognizedInOtherComprehensiveIncomeEffectivePortionNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDerivativeInstrumentsGainLossRecognizedInOtherComprehensiveIncomeEffectivePortionNet"
          },
          "DerivativeInstrumentsNotDesignatedAsHedgingInstrumentsGainLossNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDerivativeInstrumentsNotDesignatedAsHedgingInstrumentsGainLossNet"
          },
          "Dividends": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapDividends"
          },
          "EarningsPerShareBasic": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEarningsPerShareBasic"
          },
          "EarningsPerShareDiluted": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEarningsPerShareDiluted"
          },
          "EffectiveIncomeTaxRateContinuingOperations": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEffectiveIncomeTaxRateContinuingOperations"
          },
          "EffectiveIncomeTaxRateReconciliationAtFederalStatutoryIncomeTaxRate": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEffectiveIncomeTaxRateReconciliationAtFederalStatutoryIncomeTaxRate"
          },
          "EffectiveIncomeTaxRateReconciliationForeignIncomeTaxRateDifferential": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEffectiveIncomeTaxRateReconciliationForeignIncomeTaxRateDifferential"
          },
          "EffectiveIncomeTaxRateReconciliationShareBasedCompensationExcessTaxBenefitAmount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEffectiveIncomeTaxRateReconciliationShareBasedCompensationExcessTaxBenefitAmount"
          },
          "EffectiveIncomeTaxRateReconciliationTaxCutsAndJobsActOf2017Amount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEffectiveIncomeTaxRateReconciliationTaxCutsAndJobsActOf2017Amount"
          },
          "EmployeeRelatedLiabilitiesCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEmployeeRelatedLiabilitiesCurrent"
          },
          "EmployeeServiceShareBasedCompensationCashFlowEffectCashUsedToSettleAwards": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEmployeeServiceShareBasedCompensationCashFlowEffectCashUsedToSettleAwards"
          },
          "EmployeeServiceShareBasedCompensationNonvestedAwardsTotalCompensationCostNotYetRecognized": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEmployeeServiceShareBasedCompensationNonvestedAwardsTotalCompensationCostNotYetRecognized"
          },
          "EmployeeServiceShareBasedCompensationNonvestedAwardsTotalCompensationCostNotYetRecognizedPeriodForRecognition": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEmployeeServiceShareBasedCompensationNonvestedAwardsTotalCompensationCostNotYetRecognizedPeriodForRecognition"
          },
          "EmployeeServiceShareBasedCompensationTaxBenefitFromCompensationExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEmployeeServiceShareBasedCompensationTaxBenefitFromCompensationExpense"
          },
          "EmployeeServiceShareBasedCompensationUnrecognizedCompensationCostsOnNonvestedAwards": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEmployeeServiceShareBasedCompensationUnrecognizedCompensationCostsOnNonvestedAwards"
          },
          "EmployeeServiceShareBasedCompensationUnrecognizedCompensationCostsOnNonvestedAwardsWeightedAveragePeriodOfRecognition": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEmployeeServiceShareBasedCompensationUnrecognizedCompensationCostsOnNonvestedAwardsWeightedAveragePeriodOfRecognition"
          },
          "EquitySecuritiesWithoutReadilyDeterminableFairValueAmount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapEquitySecuritiesWithoutReadilyDeterminableFairValueAmount"
          },
          "ExcessTaxBenefitFromShareBasedCompensationFinancingActivities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapExcessTaxBenefitFromShareBasedCompensationFinancingActivities"
          },
          "FairValueAssetsMeasuredOnRecurringBasisCashAndCashEquivalents": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFairValueAssetsMeasuredOnRecurringBasisCashAndCashEquivalents"
          },
          "FairValueAssetsMeasuredOnRecurringBasisDerivativeFinancialInstrumentsAssets": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFairValueAssetsMeasuredOnRecurringBasisDerivativeFinancialInstrumentsAssets"
          },
          "FairValueHedgesAtFairValueNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFairValueHedgesAtFairValueNet"
          },
          "FairValueLiabilitiesMeasuredOnRecurringBasisDerivativeFinancialInstrumentsLiabilities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFairValueLiabilitiesMeasuredOnRecurringBasisDerivativeFinancialInstrumentsLiabilities"
          },
          "FederalIncomeTaxExpenseBenefitContinuingOperations": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFederalIncomeTaxExpenseBenefitContinuingOperations"
          },
          "FinanceLeaseLiability": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiability"
          },
          "FinanceLeaseLiabilityCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiabilityCurrent"
          },
          "FinanceLeaseLiabilityNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiabilityNoncurrent"
          },
          "FinanceLeaseLiabilityPaymentsDue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiabilityPaymentsDue"
          },
          "FinanceLeaseLiabilityPaymentsDueAfterYearFive": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiabilityPaymentsDueAfterYearFive"
          },
          "FinanceLeaseLiabilityPaymentsDueNextTwelveMonths": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiabilityPaymentsDueNextTwelveMonths"
          },
          "FinanceLeaseLiabilityPaymentsDueYearFive": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiabilityPaymentsDueYearFive"
          },
          "FinanceLeaseLiabilityPaymentsDueYearFour": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiabilityPaymentsDueYearFour"
          },
          "FinanceLeaseLiabilityPaymentsDueYearThree": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiabilityPaymentsDueYearThree"
          },
          "FinanceLeaseLiabilityPaymentsDueYearTwo": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiabilityPaymentsDueYearTwo"
          },
          "FinanceLeaseLiabilityPaymentsRemainderOfFiscalYear": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiabilityPaymentsRemainderOfFiscalYear"
          },
          "FinanceLeaseLiabilityUndiscountedExcessAmount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseLiabilityUndiscountedExcessAmount"
          },
          "FinanceLeaseRightOfUseAsset": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFinanceLeaseRightOfUseAsset"
          },
          "FiniteLivedIntangibleAssetsAccumulatedAmortization": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsAccumulatedAmortization"
          },
          "FiniteLivedIntangibleAssetsAmortizationExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsAmortizationExpense"
          },
          "FiniteLivedIntangibleAssetsAmortizationExpenseAfterYearFive": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsAmortizationExpenseAfterYearFive"
          },
          "FiniteLivedIntangibleAssetsAmortizationExpenseNextTwelveMonths": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsAmortizationExpenseNextTwelveMonths"
          },
          "FiniteLivedIntangibleAssetsAmortizationExpenseYearFive": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsAmortizationExpenseYearFive"
          },
          "FiniteLivedIntangibleAssetsAmortizationExpenseYearFour": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsAmortizationExpenseYearFour"
          },
          "FiniteLivedIntangibleAssetsAmortizationExpenseYearThree": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsAmortizationExpenseYearThree"
          },
          "FiniteLivedIntangibleAssetsAmortizationExpenseYearTwo": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsAmortizationExpenseYearTwo"
          },
          "FiniteLivedIntangibleAssetsGross": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsGross"
          },
          "FiniteLivedIntangibleAssetsNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsNet"
          },
          "FiniteLivedIntangibleAssetsUsefulLifeMaximum": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsUsefulLifeMaximum"
          },
          "FiniteLivedIntangibleAssetsUsefulLifeMinimum": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFiniteLivedIntangibleAssetsUsefulLifeMinimum"
          },
          "ForeignCurrencyDerivativeAssetsAtFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapForeignCurrencyDerivativeAssetsAtFairValue"
          },
          "ForeignCurrencyDerivativeInstrumentsNotDesignatedAsHedgingInstrumentsAssetAtFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapForeignCurrencyDerivativeInstrumentsNotDesignatedAsHedgingInstrumentsAssetAtFairValue"
          },
          "ForeignCurrencyDerivativeInstrumentsNotDesignatedAsHedgingInstrumentsLiabilityAtFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapForeignCurrencyDerivativeInstrumentsNotDesignatedAsHedgingInstrumentsLiabilityAtFairValue"
          },
          "ForeignCurrencyDerivativeLiabilitiesAtFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapForeignCurrencyDerivativeLiabilitiesAtFairValue"
          },
          "ForeignIncomeTaxExpenseBenefitContinuingOperations": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapForeignIncomeTaxExpenseBenefitContinuingOperations"
          },
          "FurnitureAndFixturesGross": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFurnitureAndFixturesGross"
          },
          "FutureAmortizationExpenseYearFive": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFutureAmortizationExpenseYearFive"
          },
          "FutureAmortizationExpenseYearFour": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFutureAmortizationExpenseYearFour"
          },
          "FutureAmortizationExpenseYearOne": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFutureAmortizationExpenseYearOne"
          },
          "FutureAmortizationExpenseYearThree": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFutureAmortizationExpenseYearThree"
          },
          "FutureAmortizationExpenseYearTwo": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapFutureAmortizationExpenseYearTwo"
          },
          "GainLossFromComponentsExcludedFromAssessmentOfFairValueHedgeEffectivenessNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapGainLossFromComponentsExcludedFromAssessmentOfFairValueHedgeEffectivenessNet"
          },
          "GainLossOnSaleOfPropertyPlantEquipment": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapGainLossOnSaleOfPropertyPlantEquipment"
          },
          "Goodwill": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapGoodwill"
          },
          "GoodwillAcquiredDuringPeriod": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapGoodwillAcquiredDuringPeriod"
          },
          "GoodwillImpairmentLoss": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapGoodwillImpairmentLoss"
          },
          "GrossProfit": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapGrossProfit"
          },
          "HeldToMaturitySecurities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapHeldToMaturitySecurities"
          },
          "ImpairmentOfIntangibleAssetsExcludingGoodwill": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapImpairmentOfIntangibleAssetsExcludingGoodwill"
          },
          "ImpairmentOfIntangibleAssetsIndefinitelivedExcludingGoodwill": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapImpairmentOfIntangibleAssetsIndefinitelivedExcludingGoodwill"
          },
          "IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest"
          },
          "IncomeLossFromContinuingOperationsBeforeIncomeTaxesForeign": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeLossFromContinuingOperationsBeforeIncomeTaxesForeign"
          },
          "IncomeLossFromContinuingOperationsBeforeIncomeTaxesMinorityInterestAndIncomeLossFromEquityMethodInvestments": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeLossFromContinuingOperationsBeforeIncomeTaxesMinorityInterestAndIncomeLossFromEquityMethodInvestments"
          },
          "IncomeTaxExaminationInterestExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxExaminationInterestExpense"
          },
          "IncomeTaxExpenseBenefit": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxExpenseBenefit"
          },
          "IncomeTaxesPaidNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxesPaidNet"
          },
          "IncomeTaxReconciliationDeductionsQualifiedProductionActivities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxReconciliationDeductionsQualifiedProductionActivities"
          },
          "IncomeTaxReconciliationForeignIncomeTaxRateDifferential": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxReconciliationForeignIncomeTaxRateDifferential"
          },
          "IncomeTaxReconciliationIncomeTaxExpenseBenefitAtFederalStatutoryIncomeTaxRate": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxReconciliationIncomeTaxExpenseBenefitAtFederalStatutoryIncomeTaxRate"
          },
          "IncomeTaxReconciliationNondeductibleExpenseShareBasedCompensationCost": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxReconciliationNondeductibleExpenseShareBasedCompensationCost"
          },
          "IncomeTaxReconciliationOtherAdjustments": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxReconciliationOtherAdjustments"
          },
          "IncomeTaxReconciliationOtherReconcilingItems": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxReconciliationOtherReconcilingItems"
          },
          "IncomeTaxReconciliationStateAndLocalIncomeTaxes": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxReconciliationStateAndLocalIncomeTaxes"
          },
          "IncomeTaxReconciliationTaxContingenciesDomestic": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxReconciliationTaxContingenciesDomestic"
          },
          "IncomeTaxReconciliationTaxCreditsResearch": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxReconciliationTaxCreditsResearch"
          },
          "IncomeTaxReconciliationTaxSettlementsDomestic": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncomeTaxReconciliationTaxSettlementsDomestic"
          },
          "IncreaseDecreaseInAccountsPayable": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncreaseDecreaseInAccountsPayable"
          },
          "IncreaseDecreaseInAccountsReceivable": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncreaseDecreaseInAccountsReceivable"
          },
          "IncreaseDecreaseInContractWithCustomerLiability": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncreaseDecreaseInContractWithCustomerLiability"
          },
          "IncreaseDecreaseInDeferredRevenue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncreaseDecreaseInDeferredRevenue"
          },
          "IncreaseDecreaseInInventories": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncreaseDecreaseInInventories"
          },
          "IncreaseDecreaseInOtherOperatingAssets": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncreaseDecreaseInOtherOperatingAssets"
          },
          "IncreaseDecreaseInOtherOperatingLiabilities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncreaseDecreaseInOtherOperatingLiabilities"
          },
          "IncreaseDecreaseInOtherReceivables": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIncreaseDecreaseInOtherReceivables"
          },
          "IndefiniteLivedIntangibleAssetsExcludingGoodwill": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIndefiniteLivedIntangibleAssetsExcludingGoodwill"
          },
          "IntangibleAssetsGrossExcludingGoodwill": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIntangibleAssetsGrossExcludingGoodwill"
          },
          "IntangibleAssetsNetExcludingGoodwill": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapIntangibleAssetsNetExcludingGoodwill"
          },
          "InterestCostsIncurred": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapInterestCostsIncurred"
          },
          "InterestExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapInterestExpense"
          },
          "InterestExpenseDebt": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapInterestExpenseDebt"
          },
          "InterestPaid": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapInterestPaid"
          },
          "InterestPaidNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapInterestPaidNet"
          },
          "InventoryFinishedGoodsNetOfReserves": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapInventoryFinishedGoodsNetOfReserves"
          },
          "InventoryNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapInventoryNet"
          },
          "InventoryPartsAndComponentsNetOfReserves": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapInventoryPartsAndComponentsNetOfReserves"
          },
          "InvestmentIncomeInterestAndDividend": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapInvestmentIncomeInterestAndDividend"
          },
          "LeaseAndRentalExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLeaseAndRentalExpense"
          },
          "LeaseholdImprovementsGross": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLeaseholdImprovementsGross"
          },
          "LesseeOperatingLeaseLiabilityPaymentsDue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLesseeOperatingLeaseLiabilityPaymentsDue"
          },
          "LesseeOperatingLeaseLiabilityPaymentsDueAfterYearFive": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLesseeOperatingLeaseLiabilityPaymentsDueAfterYearFive"
          },
          "LesseeOperatingLeaseLiabilityPaymentsDueNextTwelveMonths": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLesseeOperatingLeaseLiabilityPaymentsDueNextTwelveMonths"
          },
          "LesseeOperatingLeaseLiabilityPaymentsDueYearFive": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLesseeOperatingLeaseLiabilityPaymentsDueYearFive"
          },
          "LesseeOperatingLeaseLiabilityPaymentsDueYearFour": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLesseeOperatingLeaseLiabilityPaymentsDueYearFour"
          },
          "LesseeOperatingLeaseLiabilityPaymentsDueYearThree": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLesseeOperatingLeaseLiabilityPaymentsDueYearThree"
          },
          "LesseeOperatingLeaseLiabilityPaymentsDueYearTwo": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLesseeOperatingLeaseLiabilityPaymentsDueYearTwo"
          },
          "LesseeOperatingLeaseLiabilityPaymentsRemainderOfFiscalYear": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLesseeOperatingLeaseLiabilityPaymentsRemainderOfFiscalYear"
          },
          "LesseeOperatingLeaseLiabilityUndiscountedExcessAmount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLesseeOperatingLeaseLiabilityUndiscountedExcessAmount"
          },
          "Liabilities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLiabilities"
          },
          "LiabilitiesAndStockholdersEquity": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLiabilitiesAndStockholdersEquity"
          },
          "LiabilitiesCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLiabilitiesCurrent"
          },
          "LiabilitiesNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLiabilitiesNoncurrent"
          },
          "LongTermDebt": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLongTermDebt"
          },
          "LongTermDebtCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLongTermDebtCurrent"
          },
          "LongTermDebtMaturitiesRepaymentsOfPrincipalAfterYearFive": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLongTermDebtMaturitiesRepaymentsOfPrincipalAfterYearFive"
          },
          "LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths"
          },
          "LongTermDebtMaturitiesRepaymentsOfPrincipalInYearFive": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLongTermDebtMaturitiesRepaymentsOfPrincipalInYearFive"
          },
          "LongTermDebtMaturitiesRepaymentsOfPrincipalInYearFour": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLongTermDebtMaturitiesRepaymentsOfPrincipalInYearFour"
          },
          "LongTermDebtMaturitiesRepaymentsOfPrincipalInYearThree": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLongTermDebtMaturitiesRepaymentsOfPrincipalInYearThree"
          },
          "LongTermDebtMaturitiesRepaymentsOfPrincipalInYearTwo": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLongTermDebtMaturitiesRepaymentsOfPrincipalInYearTwo"
          },
          "LongTermDebtMaturitiesRepaymentsOfPrincipalRemainderOfFiscalYear": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLongTermDebtMaturitiesRepaymentsOfPrincipalRemainderOfFiscalYear"
          },
          "LongTermDebtNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLongTermDebtNoncurrent"
          },
          "LongTermPurchaseCommitmentAmount": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapLongTermPurchaseCommitmentAmount"
          },
          "MarketableSecuritiesCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapMarketableSecuritiesCurrent"
          },
          "MarketableSecuritiesNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapMarketableSecuritiesNoncurrent"
          },
          "MarketableSecuritiesRealizedGainLoss": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapMarketableSecuritiesRealizedGainLoss"
          },
          "MarketingExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapMarketingExpense"
          },
          "NetCashProvidedByUsedInFinancingActivities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNetCashProvidedByUsedInFinancingActivities"
          },
          "NetCashProvidedByUsedInFinancingActivitiesContinuingOperations": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNetCashProvidedByUsedInFinancingActivitiesContinuingOperations"
          },
          "NetCashProvidedByUsedInInvestingActivities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNetCashProvidedByUsedInInvestingActivities"
          },
          "NetCashProvidedByUsedInInvestingActivitiesContinuingOperations": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNetCashProvidedByUsedInInvestingActivitiesContinuingOperations"
          },
          "NetCashProvidedByUsedInOperatingActivities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNetCashProvidedByUsedInOperatingActivities"
          },
          "NetCashProvidedByUsedInOperatingActivitiesContinuingOperations": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNetCashProvidedByUsedInOperatingActivitiesContinuingOperations"
          },
          "NetIncomeLoss": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNetIncomeLoss"
          },
          "NoncurrentAssets": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNoncurrentAssets"
          },
          "NonoperatingIncomeExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNonoperatingIncomeExpense"
          },
          "NontradeReceivablesCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNontradeReceivablesCurrent"
          },
          "NotionalAmountOfForeignCurrencyDerivativeInstrumentsNotDesignatedAsHedgingInstruments": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNotionalAmountOfForeignCurrencyDerivativeInstrumentsNotDesignatedAsHedgingInstruments"
          },
          "NumberOfStores": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapNumberOfStores"
          },
          "OciBeforeReclassificationsBeforeTaxAttributableToParent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOciBeforeReclassificationsBeforeTaxAttributableToParent"
          },
          "OperatingExpenses": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingExpenses"
          },
          "OperatingIncomeLoss": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingIncomeLoss"
          },
          "OperatingLeaseCost": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeaseCost"
          },
          "OperatingLeaseLiability": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeaseLiability"
          },
          "OperatingLeaseLiabilityCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeaseLiabilityCurrent"
          },
          "OperatingLeaseLiabilityNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeaseLiabilityNoncurrent"
          },
          "OperatingLeasePayments": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeasePayments"
          },
          "OperatingLeaseRightOfUseAsset": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeaseRightOfUseAsset"
          },
          "OperatingLeasesFutureMinimumPaymentsDue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeasesFutureMinimumPaymentsDue"
          },
          "OperatingLeasesFutureMinimumPaymentsDueCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeasesFutureMinimumPaymentsDueCurrent"
          },
          "OperatingLeasesFutureMinimumPaymentsDueInFiveYears": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeasesFutureMinimumPaymentsDueInFiveYears"
          },
          "OperatingLeasesFutureMinimumPaymentsDueInFourYears": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeasesFutureMinimumPaymentsDueInFourYears"
          },
          "OperatingLeasesFutureMinimumPaymentsDueInThreeYears": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeasesFutureMinimumPaymentsDueInThreeYears"
          },
          "OperatingLeasesFutureMinimumPaymentsDueInTwoYears": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeasesFutureMinimumPaymentsDueInTwoYears"
          },
          "OperatingLeasesFutureMinimumPaymentsDueThereafter": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeasesFutureMinimumPaymentsDueThereafter"
          },
          "OperatingLeasesRentExpenseNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOperatingLeasesRentExpenseNet"
          },
          "OtherAccruedLiabilitiesCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherAccruedLiabilitiesCurrent"
          },
          "OtherAccruedLiabilitiesNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherAccruedLiabilitiesNoncurrent"
          },
          "OtherAssetsCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherAssetsCurrent"
          },
          "OtherAssetsNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherAssetsNoncurrent"
          },
          "OtherComprehensiveIncomeAvailableForSaleSecuritiesAdjustmentNetOfTaxPeriodIncreaseDecrease": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeAvailableForSaleSecuritiesAdjustmentNetOfTaxPeriodIncreaseDecrease"
          },
          "OtherComprehensiveIncomeDerivativesQualifyingAsHedgesNetOfTaxPeriodIncreaseDecrease": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeDerivativesQualifyingAsHedgesNetOfTaxPeriodIncreaseDecrease"
          },
          "OtherComprehensiveIncomeForeignCurrencyTransactionAndTranslationAdjustmentNetOfTaxPeriodIncreaseDecrease": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeForeignCurrencyTransactionAndTranslationAdjustmentNetOfTaxPeriodIncreaseDecrease"
          },
          "OtherComprehensiveIncomeLossAvailableForSaleSecuritiesAdjustmentNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossAvailableForSaleSecuritiesAdjustmentNetOfTax"
          },
          "OtherComprehensiveIncomeLossBeforeReclassificationsBeforeTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossBeforeReclassificationsBeforeTax"
          },
          "OtherComprehensiveIncomeLossBeforeReclassificationsNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossBeforeReclassificationsNetOfTax"
          },
          "OtherComprehensiveIncomeLossCashFlowHedgeGainLossBeforeReclassificationAndTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossCashFlowHedgeGainLossBeforeReclassificationAndTax"
          },
          "OtherComprehensiveIncomeLossCashFlowHedgeGainLossReclassificationAfterTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossCashFlowHedgeGainLossReclassificationAfterTax"
          },
          "OtherComprehensiveIncomeLossCashFlowHedgeGainLossReclassificationBeforeTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossCashFlowHedgeGainLossReclassificationBeforeTax"
          },
          "OtherComprehensiveIncomeLossDerivativeExcludedComponentIncreaseDecreaseBeforeAdjustmentsAndTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossDerivativeExcludedComponentIncreaseDecreaseBeforeAdjustmentsAndTax"
          },
          "OtherComprehensiveIncomeLossDerivativesQualifyingAsHedgesNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossDerivativesQualifyingAsHedgesNetOfTax"
          },
          "OtherComprehensiveIncomeLossForeignCurrencyTransactionAndTranslationAdjustmentNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossForeignCurrencyTransactionAndTranslationAdjustmentNetOfTax"
          },
          "OtherComprehensiveIncomeLossForeignCurrencyTranslationAdjustmentTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossForeignCurrencyTranslationAdjustmentTax"
          },
          "OtherComprehensiveIncomeLossNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossNetOfTax"
          },
          "OtherComprehensiveIncomeLossNetOfTaxPortionAttributableToParent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossNetOfTaxPortionAttributableToParent"
          },
          "OtherComprehensiveIncomeLossReclassificationAdjustmentForSaleOfSecuritiesIncludedInNetIncomeNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossReclassificationAdjustmentForSaleOfSecuritiesIncludedInNetIncomeNetOfTax"
          },
          "OtherComprehensiveIncomeLossReclassificationAdjustmentFromAOCIForSaleOfSecuritiesBeforeTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossReclassificationAdjustmentFromAociForSaleOfSecuritiesBeforeTax"
          },
          "OtherComprehensiveIncomeLossReclassificationAdjustmentFromAOCIForSaleOfSecuritiesNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossReclassificationAdjustmentFromAociForSaleOfSecuritiesNetOfTax"
          },
          "OtherComprehensiveIncomeLossReclassificationAdjustmentFromAOCIForSaleOfSecuritiesTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossReclassificationAdjustmentFromAociForSaleOfSecuritiesTax"
          },
          "OtherComprehensiveIncomeLossReclassificationAdjustmentFromAOCIOnDerivativesBeforeTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossReclassificationAdjustmentFromAociOnDerivativesBeforeTax"
          },
          "OtherComprehensiveIncomeLossReclassificationAdjustmentFromAOCIOnDerivativesNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossReclassificationAdjustmentFromAociOnDerivativesNetOfTax"
          },
          "OtherComprehensiveIncomeLossReclassificationAdjustmentFromAOCIOnDerivativesTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossReclassificationAdjustmentFromAociOnDerivativesTax"
          },
          "OtherComprehensiveIncomeLossReclassificationAdjustmentOnDerivativesIncludedInNetIncomeNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossReclassificationAdjustmentOnDerivativesIncludedInNetIncomeNetOfTax"
          },
          "OtherComprehensiveIncomeLossReclassificationAdjustmentOnDerivativesIncludedInNetIncomeTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossReclassificationAdjustmentOnDerivativesIncludedInNetIncomeTax"
          },
          "OtherComprehensiveIncomeLossTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossTax"
          },
          "OtherComprehensiveIncomeLossTaxPortionAttributableToParent1": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeLossTaxPortionAttributableToParent1"
          },
          "OtherComprehensiveIncomeReclassificationAdjustmentOnDerivativesIncludedInNetIncomeNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeReclassificationAdjustmentOnDerivativesIncludedInNetIncomeNetOfTax"
          },
          "OtherComprehensiveIncomeReclassificationAdjustmentOnDerivativesIncludedInNetIncomeTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeReclassificationAdjustmentOnDerivativesIncludedInNetIncomeTax"
          },
          "OtherComprehensiveIncomeUnrealizedGainLossOnDerivativesArisingDuringPeriodNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeUnrealizedGainLossOnDerivativesArisingDuringPeriodNetOfTax"
          },
          "OtherComprehensiveIncomeUnrealizedGainLossOnDerivativesArisingDuringPeriodTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeUnrealizedGainLossOnDerivativesArisingDuringPeriodTax"
          },
          "OtherComprehensiveIncomeUnrealizedHoldingGainLossOnSecuritiesArisingDuringPeriodNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeUnrealizedHoldingGainLossOnSecuritiesArisingDuringPeriodNetOfTax"
          },
          "OtherComprehensiveIncomeUnrealizedHoldingGainLossOnSecuritiesArisingDuringPeriodTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherComprehensiveIncomeUnrealizedHoldingGainLossOnSecuritiesArisingDuringPeriodTax"
          },
          "OtherDeferredCreditsCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherDeferredCreditsCurrent"
          },
          "OtherLiabilitiesCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherLiabilitiesCurrent"
          },
          "OtherLiabilitiesNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherLiabilitiesNoncurrent"
          },
          "OtherNoncashIncomeExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherNoncashIncomeExpense"
          },
          "OtherNonoperatingIncomeExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherNonoperatingIncomeExpense"
          },
          "OtherPrepaidExpenseCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherPrepaidExpenseCurrent"
          },
          "OtherShortTermBorrowings": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapOtherShortTermBorrowings"
          },
          "PaymentsForProceedsFromOtherInvestingActivities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsForProceedsFromOtherInvestingActivities"
          },
          "PaymentsForRepurchaseOfCommonStock": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsForRepurchaseOfCommonStock"
          },
          "PaymentsOfDividends": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsOfDividends"
          },
          "PaymentsOfDividendsCommonStock": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsOfDividendsCommonStock"
          },
          "PaymentsRelatedToTaxWithholdingForShareBasedCompensation": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsRelatedToTaxWithholdingForShareBasedCompensation"
          },
          "PaymentsToAcquireAvailableForSaleSecurities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsToAcquireAvailableForSaleSecurities"
          },
          "PaymentsToAcquireAvailableForSaleSecuritiesDebt": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsToAcquireAvailableForSaleSecuritiesDebt"
          },
          "PaymentsToAcquireBusinessesNetOfCashAcquired": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsToAcquireBusinessesNetOfCashAcquired"
          },
          "PaymentsToAcquireIntangibleAssets": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsToAcquireIntangibleAssets"
          },
          "PaymentsToAcquireOtherInvestments": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsToAcquireOtherInvestments"
          },
          "PaymentsToAcquireProductiveAssets": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsToAcquireProductiveAssets"
          },
          "PaymentsToAcquirePropertyPlantAndEquipment": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPaymentsToAcquirePropertyPlantAndEquipment"
          },
          "PreferredStockSharesAuthorized": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPreferredStockSharesAuthorized"
          },
          "PrepaidExpenseOtherNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPrepaidExpenseOtherNoncurrent"
          },
          "ProceedsFromIssuanceOfCommonStock": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromIssuanceOfCommonStock"
          },
          "ProceedsFromIssuanceOfLongTermDebt": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromIssuanceOfLongTermDebt"
          },
          "ProceedsFromMaturitiesPrepaymentsAndCallsOfAvailableForSaleSecurities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromMaturitiesPrepaymentsAndCallsOfAvailableForSaleSecurities"
          },
          "ProceedsFromOtherShortTermDebt": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromOtherShortTermDebt"
          },
          "ProceedsFromPaymentsForOtherFinancingActivities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromPaymentsForOtherFinancingActivities"
          },
          "ProceedsFromRepaymentsOfCommercialPaper": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromRepaymentsOfCommercialPaper"
          },
          "ProceedsFromRepaymentsOfShortTermDebt": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromRepaymentsOfShortTermDebt"
          },
          "ProceedsFromRepaymentsOfShortTermDebtMaturingInMoreThanThreeMonths": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromRepaymentsOfShortTermDebtMaturingInMoreThanThreeMonths"
          },
          "ProceedsFromRepaymentsOfShortTermDebtMaturingInThreeMonthsOrLess": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromRepaymentsOfShortTermDebtMaturingInThreeMonthsOrLess"
          },
          "ProceedsFromSaleAndMaturityOfOtherInvestments": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromSaleAndMaturityOfOtherInvestments"
          },
          "ProceedsFromSaleOfAvailableForSaleSecurities": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromSaleOfAvailableForSaleSecurities"
          },
          "ProceedsFromSaleOfAvailableForSaleSecuritiesDebt": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromSaleOfAvailableForSaleSecuritiesDebt"
          },
          "ProceedsFromShortTermDebtMaturingInMoreThanThreeMonths": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProceedsFromShortTermDebtMaturingInMoreThanThreeMonths"
          },
          "ProductWarrantyAccrualClassifiedCurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProductWarrantyAccrualClassifiedCurrent"
          },
          "ProductWarrantyAccrualPayments": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProductWarrantyAccrualPayments"
          },
          "ProductWarrantyAccrualWarrantiesIssued": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProductWarrantyAccrualWarrantiesIssued"
          },
          "ProductWarrantyExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapProductWarrantyExpense"
          },
          "PropertyPlantAndEquipmentGross": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPropertyPlantAndEquipmentGross"
          },
          "PropertyPlantAndEquipmentNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapPropertyPlantAndEquipmentNet"
          },
          "ReclassificationFromAccumulatedOtherComprehensiveIncomeCurrentPeriodBeforeTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapReclassificationFromAccumulatedOtherComprehensiveIncomeCurrentPeriodBeforeTax"
          },
          "ReclassificationFromAccumulatedOtherComprehensiveIncomeCurrentPeriodNetOfTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapReclassificationFromAccumulatedOtherComprehensiveIncomeCurrentPeriodNetOfTax"
          },
          "ReclassificationFromAociCurrentPeriodBeforeTaxAttributableToParent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapReclassificationFromAociCurrentPeriodBeforeTaxAttributableToParent"
          },
          "RepaymentsOfLongTermDebt": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapRepaymentsOfLongTermDebt"
          },
          "RepaymentsOfOtherShortTermDebt": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapRepaymentsOfOtherShortTermDebt"
          },
          "RepaymentsOfShortTermDebtMaturingInMoreThanThreeMonths": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapRepaymentsOfShortTermDebtMaturingInMoreThanThreeMonths"
          },
          "ResearchAndDevelopmentExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapResearchAndDevelopmentExpense"
          },
          "RestrictedCash": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapRestrictedCash"
          },
          "RestrictedCashAndCashEquivalentsAtCarryingValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapRestrictedCashAndCashEquivalentsAtCarryingValue"
          },
          "RestrictedCashAndCashEquivalentsNoncurrent": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapRestrictedCashAndCashEquivalentsNoncurrent"
          },
          "RestrictedInvestments": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapRestrictedInvestments"
          },
          "RetainedEarningsAccumulatedDeficit": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapRetainedEarningsAccumulatedDeficit"
          },
          "RevenueFromContractWithCustomerExcludingAssessedTax": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapRevenueFromContractWithCustomerExcludingAssessedTax"
          },
          "Revenues": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapRevenues"
          },
          "SalesRevenueNet": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapSalesRevenueNet"
          },
          "SalesRevenueServicesGross": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapSalesRevenueServicesGross"
          },
          "SecuritiesSoldUnderAgreementsToRepurchaseFairValueOfCollateral": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapSecuritiesSoldUnderAgreementsToRepurchaseFairValueOfCollateral"
          },
          "SegmentReportingInformationOperatingIncomeLoss": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapSegmentReportingInformationOperatingIncomeLoss"
          },
          "SegmentReportingReconcilingItemsAssets": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapSegmentReportingReconcilingItemsAssets"
          },
          "SegmentReportingSegmentAssets": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapSegmentReportingSegmentAssets"
          },
          "SellingGeneralAndAdministrativeExpense": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapSellingGeneralAndAdministrativeExpense"
          },
          "ShareBasedCompensation": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensation"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsForfeitedInPeriod": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsForfeitedInPeriod"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsForfeitedInPeriodWeightedAverageGrantDateFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsForfeitedInPeriodWeightedAverageGrantDateFairValue"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsForfeituresWeightedAverageGrantDateFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsForfeituresWeightedAverageGrantDateFairValue"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsGrantsInPeriod": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsGrantsInPeriod"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsGrantsInPeriodWeightedAverageGrantDateFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsGrantsInPeriodWeightedAverageGrantDateFairValue"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsNonvestedIntrinsicValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsNonvestedIntrinsicValue"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsNonvestedNumber": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsNonvestedNumber"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsNonvestedWeightedAverageGrantDateFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsNonvestedWeightedAverageGrantDateFairValue"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsVestedInPeriod": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsVestedInPeriod"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsVestedInPeriodTotalFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsVestedInPeriodTotalFairValue"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsVestedInPeriodWeightedAverageGrantDateFairValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardEquityInstrumentsOtherThanOptionsVestedInPeriodWeightedAverageGrantDateFairValue"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardFairValueAssumptionsExpectedDividendRate": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardFairValueAssumptionsExpectedDividendRate"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardFairValueAssumptionsExpectedTerm": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardFairValueAssumptionsExpectedTerm"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardFairValueAssumptionsRiskFreeInterestRate": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardFairValueAssumptionsRiskFreeInterestRate"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardFairValueAssumptionsWeightedAverageVolatilityRate": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardFairValueAssumptionsWeightedAverageVolatilityRate"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardNumberOfSharesAvailableForGrant": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardNumberOfSharesAvailableForGrant"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardOptionsExercisableIntrinsicValue": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardOptionsExercisableIntrinsicValue"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardOptionsExercisableNumber": {
            "$ref": "#/components/schemas/ListAPIXbrlCompanyfactsCikCikJSONOkFactsUsGaapShareBasedCompensationArrangementByShareBasedPaymentAwardOptionsExercisableNumber"
          },
          "ShareBasedCompensationArrangementByShareBasedPaymentAwardOptionsExercisableWeightedAverageExercisePrice": {
[...]
