{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API (Undocumented)",
    "description": "Internal/undocumented Notion API endpoints. These endpoints are not part of the public API and may change without notice. Do not rely on these for production integrations.",
    "termsOfService": "https://notion.notion.site/Terms-and-Privacy-28ffdd083dc3473e9c2da6ec011b58ac",
    "version": "1.0.0",
    "x-noIndex": true
  },
  "servers": [
    {
      "url": "https://api.notion.com/v1"
    }
  ],
  "paths": {
    "/groups/{group_id}/members": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List group members",
        "operationId": "list-group-members",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/start_cursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListGroupMembersOk"
          },
          "400": {
            "$ref": "#/components/responses/ListGroupMembersBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListGroupMembersUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListGroupMembersForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListGroupMembersNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListGroupMembersNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListGroupMembersConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListGroupMembersTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListGroupMembersInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListGroupMembersServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListGroupMembersGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListGroupMembersTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Add a group member",
        "operationId": "add-group-member",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id2"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AddGroupMember"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AddGroupMemberOk"
          },
          "400": {
            "$ref": "#/components/responses/AddGroupMemberBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AddGroupMemberUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AddGroupMemberForbidden"
          },
          "404": {
            "$ref": "#/components/responses/AddGroupMemberNotFound"
          },
          "406": {
            "$ref": "#/components/responses/AddGroupMemberNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/AddGroupMemberConflict"
          },
          "429": {
            "$ref": "#/components/responses/AddGroupMemberTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/AddGroupMemberInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/AddGroupMemberServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/AddGroupMemberGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/AddGroupMemberTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external/decagon": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Tools for Decagon's CX chatbot",
        "operationId": "external-decagon",
        "requestBody": {
          "$ref": "#/components/requestBodies/ExternalDecagon"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExternalDecagonOk"
          },
          "400": {
            "$ref": "#/components/responses/ExternalDecagonBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ExternalDecagonUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ExternalDecagonForbidden"
          },
          "500": {
            "$ref": "#/components/responses/ExternalDecagonInternalServerError"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external/refundEligibility": {
      "parameters": [
        {
          "$ref": "#/components/parameters/space_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Check if a user is eligible for a refund",
        "operationId": "external-refund-eligibility",
        "requestBody": {
          "$ref": "#/components/requestBodies/ExternalRefundEligibility"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExternalRefundEligibilityOk"
          },
          "400": {
            "$ref": "#/components/responses/ExternalRefundEligibilityBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ExternalRefundEligibilityUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ExternalRefundEligibilityForbidden"
          },
          "500": {
            "$ref": "#/components/responses/ExternalRefundEligibilityInternalServerError"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external/userC360Profile": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Fetch a user's C360 lifecycle signals for Decagon chat init",
        "operationId": "external-user-c360-profile",
        "requestBody": {
          "$ref": "#/components/requestBodies/ExternalUserC360Profile"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExternalUserC360ProfileOk"
          },
          "400": {
            "$ref": "#/components/responses/ExternalUserC360ProfileBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ExternalUserC360ProfileUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ExternalUserC360ProfileForbidden"
          },
          "500": {
            "$ref": "#/components/responses/ExternalUserC360ProfileInternalServerError"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/agents/{agent_id}/chat": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id"
        },
        {
          "$ref": "#/components/parameters/verbose"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Chat with agent",
        "operationId": "chat-with-agent",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChatWithAgent"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ChatWithAgentOk"
          },
          "400": {
            "$ref": "#/components/responses/ChatWithAgentBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ChatWithAgentUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ChatWithAgentForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ChatWithAgentNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ChatWithAgentNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ChatWithAgentConflict"
          },
          "429": {
            "$ref": "#/components/responses/ChatWithAgentTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ChatWithAgentInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ChatWithAgentServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ChatWithAgentGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ChatWithAgentTheServiceIsOverloaded"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/internal/chat-with-agent"
      }
    },
    "/agents/{agent_id}/chatStream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id2"
        },
        {
          "$ref": "#/components/parameters/verbose2"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Chat with agent (streaming)",
        "operationId": "chat-with-agent-stream",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChatWithAgentStream"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ChatWithAgentStreamOk"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/internal/chat-with-agent-stream"
      }
    },
    "/threads/{thread_id}/continue": {
      "parameters": [
        {
          "$ref": "#/components/parameters/thread_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Continue a thread",
        "operationId": "continue-thread",
        "requestBody": {
          "$ref": "#/components/requestBodies/ContinueThread"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContinueThreadOk"
          },
          "400": {
            "$ref": "#/components/responses/ContinueThreadBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ContinueThreadUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ContinueThreadForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ContinueThreadNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ContinueThreadNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ContinueThreadConflict"
          },
          "429": {
            "$ref": "#/components/responses/ContinueThreadTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ContinueThreadInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ContinueThreadServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ContinueThreadGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ContinueThreadTheServiceIsOverloaded"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external_agent_stub/{agent_id}/vaults": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id3"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Create external agent stub vault",
        "operationId": "create-external-agent-stub-vault",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateExternalAgentStubVault"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultOk"
          },
          "400": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultNotFound"
          },
          "406": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultConflict"
          },
          "429": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/external-agent-apis/create-external-agent-vault"
      }
    },
    "/groups": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Create a group",
        "operationId": "create-group",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateGroup"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateGroupOk"
          },
          "400": {
            "$ref": "#/components/responses/CreateGroupBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CreateGroupUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateGroupForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CreateGroupNotFound"
          },
          "406": {
            "$ref": "#/components/responses/CreateGroupNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/CreateGroupConflict"
          },
          "429": {
            "$ref": "#/components/responses/CreateGroupTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/CreateGroupInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/CreateGroupServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/CreateGroupGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/CreateGroupTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Create a rollout",
        "operationId": "create-rollout",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateRollout"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateRolloutOk"
          },
          "400": {
            "$ref": "#/components/responses/CreateRolloutBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CreateRolloutUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateRolloutForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CreateRolloutNotFound"
          },
          "406": {
            "$ref": "#/components/responses/CreateRolloutNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/CreateRolloutConflict"
          },
          "429": {
            "$ref": "#/components/responses/CreateRolloutTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/CreateRolloutInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/CreateRolloutServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/CreateRolloutGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/CreateRolloutTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/teamspaces": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List teamspaces",
        "operationId": "list-teamspaces",
        "parameters": [
          {
            "$ref": "#/components/parameters/start_cursor2"
          },
          {
            "$ref": "#/components/parameters/page_size2"
          },
          {
            "$ref": "#/components/parameters/user_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListTeamspacesOk"
          },
          "400": {
            "$ref": "#/components/responses/ListTeamspacesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListTeamspacesUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListTeamspacesForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListTeamspacesNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListTeamspacesNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListTeamspacesConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListTeamspacesTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListTeamspacesInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListTeamspacesServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListTeamspacesGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListTeamspacesTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Create teamspace",
        "operationId": "create-teamspace",
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateTeamspace"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateTeamspaceOk"
          },
          "400": {
            "$ref": "#/components/responses/CreateTeamspaceBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/CreateTeamspaceUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/CreateTeamspaceForbidden"
          },
          "404": {
            "$ref": "#/components/responses/CreateTeamspaceNotFound"
          },
          "406": {
            "$ref": "#/components/responses/CreateTeamspaceNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/CreateTeamspaceConflict"
          },
          "429": {
            "$ref": "#/components/responses/CreateTeamspaceTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/CreateTeamspaceInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/CreateTeamspaceServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/CreateTeamspaceGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/CreateTeamspaceTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external_agent_stub/{agent_id}/vaults/{vault_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "delete": {
        "tags": [
          "Internal"
        ],
        "summary": "Delete external agent stub vault",
        "operationId": "delete-external-agent-stub-vault",
        "parameters": [
          {
            "$ref": "#/components/parameters/agent_id4"
          },
          {
            "$ref": "#/components/parameters/vault_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultOk"
          },
          "400": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultForbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultNotFound"
          },
          "406": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultConflict"
          },
          "429": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/external-agent-apis/delete-external-agent-vault"
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Update external agent stub vault",
        "operationId": "update-external-agent-stub-vault",
        "parameters": [
          {
            "$ref": "#/components/parameters/agent_id5"
          },
          {
            "$ref": "#/components/parameters/vault_id2"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateExternalAgentStubVault"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultOk"
          },
          "400": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/external-agent-apis/update-external-agent-vault"
      }
    },
    "/groups/{group_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Retrieve a group",
        "operationId": "retrieve-group",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id3"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveGroupOk"
          },
          "400": {
            "$ref": "#/components/responses/RetrieveGroupBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RetrieveGroupUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RetrieveGroupForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RetrieveGroupNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RetrieveGroupNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RetrieveGroupConflict"
          },
          "429": {
            "$ref": "#/components/responses/RetrieveGroupTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RetrieveGroupInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RetrieveGroupServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RetrieveGroupGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RetrieveGroupTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "delete": {
        "tags": [
          "Internal"
        ],
        "summary": "Delete a group",
        "operationId": "delete-group",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id4"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/DeleteGroup"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteGroupOk"
          },
          "400": {
            "$ref": "#/components/responses/DeleteGroupBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/DeleteGroupUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/DeleteGroupForbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeleteGroupNotFound"
          },
          "406": {
            "$ref": "#/components/responses/DeleteGroupNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/DeleteGroupConflict"
          },
          "429": {
            "$ref": "#/components/responses/DeleteGroupTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DeleteGroupInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/DeleteGroupServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/DeleteGroupGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/DeleteGroupTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Update a group",
        "operationId": "update-group",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id5"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateGroup"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateGroupOk"
          },
          "400": {
            "$ref": "#/components/responses/UpdateGroupBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdateGroupUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdateGroupForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdateGroupNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdateGroupNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdateGroupConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdateGroupTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdateGroupInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdateGroupServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdateGroupGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdateGroupTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/export/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Export a page",
        "operationId": "export-page",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportPageOk"
          },
          "400": {
            "$ref": "#/components/responses/ExportPageBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ExportPageUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ExportPageForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ExportPageNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ExportPageNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ExportPageConflict"
          },
          "429": {
            "$ref": "#/components/responses/ExportPageTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ExportPageInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ExportPageServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ExportPageGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ExportPageTheServiceIsOverloaded"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout/generate-transcript": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Generate transcript",
        "operationId": "generate-transcript",
        "requestBody": {
          "$ref": "#/components/requestBodies/GenerateTranscript"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenerateTranscriptOk"
          },
          "400": {
            "$ref": "#/components/responses/GenerateTranscriptBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/GenerateTranscriptUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/GenerateTranscriptForbidden"
          },
          "404": {
            "$ref": "#/components/responses/GenerateTranscriptNotFound"
          },
          "406": {
            "$ref": "#/components/responses/GenerateTranscriptNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/GenerateTranscriptConflict"
          },
          "429": {
            "$ref": "#/components/responses/GenerateTranscriptTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/GenerateTranscriptInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/GenerateTranscriptServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GenerateTranscriptGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/GenerateTranscriptTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout/{rollout_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/rollout_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Get a rollout",
        "operationId": "get-rollout",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetRolloutOk"
          },
          "400": {
            "$ref": "#/components/responses/GetRolloutBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/GetRolloutUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/GetRolloutForbidden"
          },
          "404": {
            "$ref": "#/components/responses/GetRolloutNotFound"
          },
          "406": {
            "$ref": "#/components/responses/GetRolloutNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/GetRolloutConflict"
          },
          "429": {
            "$ref": "#/components/responses/GetRolloutTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/GetRolloutInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/GetRolloutServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GetRolloutGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/GetRolloutTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/security_center/posture": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Get workspace security posture",
        "operationId": "get-security-posture",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSecurityPostureOk"
          },
          "400": {
            "$ref": "#/components/responses/GetSecurityPostureBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/GetSecurityPostureUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/GetSecurityPostureForbidden"
          },
          "404": {
            "$ref": "#/components/responses/GetSecurityPostureNotFound"
          },
          "406": {
            "$ref": "#/components/responses/GetSecurityPostureNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/GetSecurityPostureConflict"
          },
          "429": {
            "$ref": "#/components/responses/GetSecurityPostureTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/GetSecurityPostureInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/GetSecurityPostureServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GetSecurityPostureGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/GetSecurityPostureTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/teamspaces/{team_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Get teamspace",
        "operationId": "get-teamspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTeamspaceOk"
          },
          "400": {
            "$ref": "#/components/responses/GetTeamspaceBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/GetTeamspaceUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/GetTeamspaceForbidden"
          },
          "404": {
            "$ref": "#/components/responses/GetTeamspaceNotFound"
          },
          "406": {
            "$ref": "#/components/responses/GetTeamspaceNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/GetTeamspaceConflict"
          },
          "429": {
            "$ref": "#/components/responses/GetTeamspaceTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/GetTeamspaceInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/GetTeamspaceServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GetTeamspaceGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/GetTeamspaceTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Update teamspace",
        "operationId": "update-teamspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id2"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateTeamspace"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateTeamspaceOk"
          },
          "400": {
            "$ref": "#/components/responses/UpdateTeamspaceBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdateTeamspaceUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdateTeamspaceForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdateTeamspaceNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdateTeamspaceNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdateTeamspaceConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdateTeamspaceTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdateTeamspaceInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdateTeamspaceServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdateTeamspaceGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdateTeamspaceTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/export": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Export a page",
        "operationId": "initiate-page-export",
        "requestBody": {
          "$ref": "#/components/requestBodies/InitiatePageExport"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/InitiatePageExportOk"
          },
          "400": {
            "$ref": "#/components/responses/InitiatePageExportBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/InitiatePageExportUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InitiatePageExportForbidden"
          },
          "404": {
            "$ref": "#/components/responses/InitiatePageExportNotFound"
          },
          "406": {
            "$ref": "#/components/responses/InitiatePageExportNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/InitiatePageExportConflict"
          },
          "429": {
            "$ref": "#/components/responses/InitiatePageExportTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InitiatePageExportInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/InitiatePageExportServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/InitiatePageExportGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/InitiatePageExportTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/agents": {
      "parameters": [
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/agent_type"
        },
        {
          "$ref": "#/components/parameters/agent_ids"
        },
        {
          "$ref": "#/components/parameters/created_by"
        },
        {
          "$ref": "#/components/parameters/start_cursor3"
        },
        {
          "$ref": "#/components/parameters/page_size3"
        },
        {
          "$ref": "#/components/parameters/verbose3"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List agents",
        "operationId": "list-agents",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListAgentsOk"
          },
          "400": {
            "$ref": "#/components/responses/ListAgentsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListAgentsUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListAgentsForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListAgentsNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListAgentsNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListAgentsConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListAgentsTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListAgentsInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListAgentsServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListAgentsGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListAgentsTheServiceIsOverloaded"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/internal/list-agents"
      }
    },
    "/connections": {
      "parameters": [
        {
          "$ref": "#/components/parameters/include_types"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List connections",
        "operationId": "list-connections",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListConnectionsOk"
          },
          "400": {
            "$ref": "#/components/responses/ListConnectionsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListConnectionsUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListConnectionsForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListConnectionsNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListConnectionsNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListConnectionsConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListConnectionsTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListConnectionsInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListConnectionsServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListConnectionsGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListConnectionsTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/data_sources": {
      "parameters": [
        {
          "$ref": "#/components/parameters/start_cursor4"
        },
        {
          "$ref": "#/components/parameters/page_size4"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List data sources",
        "operationId": "get-databases",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetDatabasesOk"
          },
          "400": {
            "$ref": "#/components/responses/GetDatabasesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/GetDatabasesUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/GetDatabasesForbidden"
          },
          "404": {
            "$ref": "#/components/responses/GetDatabasesNotFound"
          },
          "406": {
            "$ref": "#/components/responses/GetDatabasesNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/GetDatabasesConflict"
          },
          "429": {
            "$ref": "#/components/responses/GetDatabasesTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/GetDatabasesInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/GetDatabasesServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GetDatabasesGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/GetDatabasesTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external_agent_stub/{agent_id}/sessions/{session_id}/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id6"
        },
        {
          "$ref": "#/components/parameters/session_id"
        },
        {
          "$ref": "#/components/parameters/cursor"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List external agent stub session events",
        "operationId": "list-external-agent-stub-session-events",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsOk"
          },
          "400": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/external-agent-apis/list-external-agent-session-events"
      }
    },
    "/teamspaces/{team_id}/membership": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Lists team membership (users/groups that are owners/members) of a team.",
        "operationId": "listTeamMembership",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id3"
          },
          {
            "$ref": "#/components/parameters/page_size5"
          },
          {
            "$ref": "#/components/parameters/start_cursor5"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListTeamMembershipOk"
          },
          "400": {
            "$ref": "#/components/responses/ListTeamMembershipBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListTeamMembershipUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListTeamMembershipForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListTeamMembershipNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListTeamMembershipNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListTeamMembershipConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListTeamMembershipTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListTeamMembershipInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListTeamMembershipServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListTeamMembershipGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListTeamMembershipTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Updates team membership for a given team.",
        "operationId": "update-team-membership",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id4"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateTeamMembership"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateTeamMembershipOk"
          },
          "400": {
            "$ref": "#/components/responses/UpdateTeamMembershipBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdateTeamMembershipUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdateTeamMembershipForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdateTeamMembershipNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdateTeamMembershipNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdateTeamMembershipConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdateTeamMembershipTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdateTeamMembershipInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdateTeamMembershipServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdateTeamMembershipGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdateTeamMembershipTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/teamspaces/{team_id}/permissions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List permission roles for various entities in a teamspace.",
        "operationId": "listTeamPermissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id5"
          },
          {
            "$ref": "#/components/parameters/page_size6"
          },
          {
            "$ref": "#/components/parameters/start_cursor6"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListTeamPermissionsOk"
          },
          "400": {
            "$ref": "#/components/responses/ListTeamPermissionsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListTeamPermissionsUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListTeamPermissionsForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListTeamPermissionsNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListTeamPermissionsNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListTeamPermissionsConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListTeamPermissionsTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListTeamPermissionsInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListTeamPermissionsServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListTeamPermissionsGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListTeamPermissionsTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Updates permission levels for a given teamspace.",
        "operationId": "update-teamspace-permissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id6"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateTeamspacePermissions"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsOk"
          },
          "400": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/threads/{thread_id}/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List thread messages",
        "operationId": "list-thread-messages",
        "parameters": [
          {
            "$ref": "#/components/parameters/thread_id2"
          },
          {
            "$ref": "#/components/parameters/verbose4"
          },
          {
            "$ref": "#/components/parameters/role"
          },
          {
            "$ref": "#/components/parameters/start_cursor7"
          },
          {
            "$ref": "#/components/parameters/page_size7"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListThreadMessagesOk"
          },
          "400": {
            "$ref": "#/components/responses/ListThreadMessagesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListThreadMessagesUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListThreadMessagesForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListThreadMessagesNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListThreadMessagesNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListThreadMessagesConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListThreadMessagesTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListThreadMessagesInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListThreadMessagesServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListThreadMessagesGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListThreadMessagesTheServiceIsOverloaded"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/internal/list-thread-messages"
      },
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Send a thread message",
        "operationId": "send-thread-message",
        "parameters": [
          {
            "$ref": "#/components/parameters/thread_id3"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SendThreadMessage"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SendThreadMessageOk"
          },
          "400": {
            "$ref": "#/components/responses/SendThreadMessageBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SendThreadMessageUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SendThreadMessageForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SendThreadMessageNotFound"
          },
          "406": {
            "$ref": "#/components/responses/SendThreadMessageNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/SendThreadMessageConflict"
          },
          "429": {
            "$ref": "#/components/responses/SendThreadMessageTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/SendThreadMessageInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/SendThreadMessageServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/SendThreadMessageGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/SendThreadMessageTheServiceIsOverloaded"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/agents/{agent_id}/threads": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id7"
        },
        {
          "$ref": "#/components/parameters/id2"
        },
        {
          "$ref": "#/components/parameters/title"
        },
        {
          "$ref": "#/components/parameters/status"
        },
        {
          "$ref": "#/components/parameters/activity"
        },
        {
          "$ref": "#/components/parameters/created_by2"
        },
        {
          "$ref": "#/components/parameters/last_used_by"
        },
        {
          "$ref": "#/components/parameters/sort_by"
        },
        {
          "$ref": "#/components/parameters/sort_direction"
        },
        {
          "$ref": "#/components/parameters/start_cursor8"
        },
        {
          "$ref": "#/components/parameters/page_size8"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List threads",
        "operationId": "list-threads",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListThreadsOk"
          },
          "400": {
            "$ref": "#/components/responses/ListThreadsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListThreadsUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListThreadsForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListThreadsNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListThreadsNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListThreadsConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListThreadsTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListThreadsInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListThreadsServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListThreadsGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListThreadsTheServiceIsOverloaded"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/internal/list-threads"
      }
    },
    "/tools": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List tools",
        "operationId": "list-tools",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListToolsOk"
          },
          "400": {
            "$ref": "#/components/responses/ListToolsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ListToolsUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ListToolsForbidden"
          },
          "404": {
            "$ref": "#/components/responses/ListToolsNotFound"
          },
          "406": {
            "$ref": "#/components/responses/ListToolsNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/ListToolsConflict"
          },
          "429": {
            "$ref": "#/components/responses/ListToolsTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ListToolsInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ListToolsServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/ListToolsGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/ListToolsTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/oauth/ema/resolve": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Resolve an EMA ID-JAG identity to an MCP access token",
        "operationId": "ema-resolve-identity",
        "requestBody": {
          "$ref": "#/components/requestBodies/EmaResolveIdentity"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmaResolveIdentityOk"
          },
          "400": {
            "$ref": "#/components/responses/EmaResolveIdentityBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EmaResolveIdentityUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EmaResolveIdentityForbidden"
          },
          "500": {
            "$ref": "#/components/responses/EmaResolveIdentityInternalServerError"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/oauth/ema/trusted-issuer": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Resolve an EMA trusted issuer",
        "operationId": "ema-resolve-trusted-issuer",
        "requestBody": {
          "$ref": "#/components/requestBodies/EmaResolveTrustedIssuer"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmaResolveTrustedIssuerOk"
          },
          "400": {
            "$ref": "#/components/responses/EmaResolveTrustedIssuerBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/EmaResolveTrustedIssuerUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/EmaResolveTrustedIssuerForbidden"
          },
          "500": {
            "$ref": "#/components/responses/EmaResolveTrustedIssuerInternalServerError"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/threads/{thread_id}/messages/query": {
      "parameters": [
        {
          "$ref": "#/components/parameters/thread_id4"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Query thread messages",
        "operationId": "query-thread-messages",
        "requestBody": {
          "$ref": "#/components/requestBodies/QueryThreadMessages"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryThreadMessagesOk"
          },
          "400": {
            "$ref": "#/components/responses/QueryThreadMessagesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/QueryThreadMessagesUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/QueryThreadMessagesForbidden"
          },
          "404": {
            "$ref": "#/components/responses/QueryThreadMessagesNotFound"
          },
          "406": {
            "$ref": "#/components/responses/QueryThreadMessagesNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/QueryThreadMessagesConflict"
          },
          "429": {
            "$ref": "#/components/responses/QueryThreadMessagesTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/QueryThreadMessagesInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/QueryThreadMessagesServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/QueryThreadMessagesGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/QueryThreadMessagesTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/query-thread-messages"
      }
    },
    "/agents/{agent_id}/threads/query": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id8"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Query threads",
        "operationId": "query-threads",
        "requestBody": {
          "$ref": "#/components/requestBodies/QueryThreads"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryThreadsOk"
          },
          "400": {
            "$ref": "#/components/responses/QueryThreadsBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/QueryThreadsUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/QueryThreadsForbidden"
          },
          "404": {
            "$ref": "#/components/responses/QueryThreadsNotFound"
          },
          "406": {
            "$ref": "#/components/responses/QueryThreadsNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/QueryThreadsConflict"
          },
          "429": {
            "$ref": "#/components/responses/QueryThreadsTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/QueryThreadsInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/QueryThreadsServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/QueryThreadsGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/QueryThreadsTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/query-threads"
      }
    },
    "/groups/{group_id}/members/users/{user_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "delete": {
        "tags": [
          "Internal"
        ],
        "summary": "Remove a group member",
        "operationId": "remove-group-member",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id6"
          },
          {
            "$ref": "#/components/parameters/user_id2"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RemoveGroupMemberOk"
          },
          "400": {
            "$ref": "#/components/responses/RemoveGroupMemberBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RemoveGroupMemberUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RemoveGroupMemberForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RemoveGroupMemberNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RemoveGroupMemberNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RemoveGroupMemberConflict"
          },
          "429": {
            "$ref": "#/components/responses/RemoveGroupMemberTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RemoveGroupMemberInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RemoveGroupMemberServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RemoveGroupMemberGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RemoveGroupMemberTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Update a group member",
        "operationId": "update-group-member",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id7"
          },
          {
            "$ref": "#/components/parameters/user_id3"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateGroupMember"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateGroupMemberOk"
          },
          "400": {
            "$ref": "#/components/responses/UpdateGroupMemberBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UpdateGroupMemberUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/UpdateGroupMemberForbidden"
          },
          "404": {
            "$ref": "#/components/responses/UpdateGroupMemberNotFound"
          },
          "406": {
            "$ref": "#/components/responses/UpdateGroupMemberNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/UpdateGroupMemberConflict"
          },
          "429": {
            "$ref": "#/components/responses/UpdateGroupMemberTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UpdateGroupMemberInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/UpdateGroupMemberServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/UpdateGroupMemberGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/UpdateGroupMemberTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/pages/{page_id}/remove_guests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/page_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Remove guests from a page",
        "operationId": "remove-page-guest",
        "requestBody": {
          "$ref": "#/components/requestBodies/RemovePageGuest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RemovePageGuestOk"
          },
          "400": {
            "$ref": "#/components/responses/RemovePageGuestBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RemovePageGuestUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RemovePageGuestForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RemovePageGuestNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RemovePageGuestNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RemovePageGuestConflict"
          },
          "429": {
            "$ref": "#/components/responses/RemovePageGuestTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RemovePageGuestInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RemovePageGuestServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RemovePageGuestGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RemovePageGuestTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/tools/run/internal": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run an internal tool",
        "operationId": "run-internal-tool",
        "requestBody": {
          "$ref": "#/components/requestBodies/RunInternalTool"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunInternalToolOk"
          },
          "400": {
            "$ref": "#/components/responses/RunInternalToolBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RunInternalToolUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RunInternalToolForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RunInternalToolNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RunInternalToolNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RunInternalToolConflict"
          },
          "429": {
            "$ref": "#/components/responses/RunInternalToolTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RunInternalToolInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RunInternalToolServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RunInternalToolGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RunInternalToolTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout/minimal": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run a minimal rollout",
        "operationId": "run-minimal-rollout",
        "requestBody": {
          "$ref": "#/components/requestBodies/RunMinimalRollout"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunMinimalRolloutOk"
          },
          "400": {
            "$ref": "#/components/responses/RunMinimalRolloutBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RunMinimalRolloutUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RunMinimalRolloutForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RunMinimalRolloutNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RunMinimalRolloutNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RunMinimalRolloutConflict"
          },
          "429": {
            "$ref": "#/components/responses/RunMinimalRolloutTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RunMinimalRolloutInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RunMinimalRolloutServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RunMinimalRolloutGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RunMinimalRolloutTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout/run": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run a rollout",
        "operationId": "run-rollout",
        "requestBody": {
          "$ref": "#/components/requestBodies/RunRollout"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunRolloutOk"
          },
          "400": {
            "$ref": "#/components/responses/RunRolloutBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RunRolloutUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RunRolloutForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RunRolloutNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RunRolloutNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RunRolloutConflict"
          },
          "429": {
            "$ref": "#/components/responses/RunRolloutTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RunRolloutInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RunRolloutServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RunRolloutGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RunRolloutTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/tools/run": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run an AI tool",
        "operationId": "run-tool",
        "requestBody": {
          "$ref": "#/components/requestBodies/RunTool"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunToolOk"
          },
          "202": {
            "$ref": "#/components/responses/RunToolAccepted"
          },
          "400": {
            "$ref": "#/components/responses/RunToolBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RunToolUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RunToolForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RunToolNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RunToolNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RunToolConflict"
          },
          "429": {
            "$ref": "#/components/responses/RunToolTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RunToolInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RunToolServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RunToolGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RunToolTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/tools/auth": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Authorize an AI tools session",
        "operationId": "authorize-tools-session",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AuthorizeToolsSessionOk"
          },
          "400": {
            "$ref": "#/components/responses/AuthorizeToolsSessionBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/AuthorizeToolsSessionUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizeToolsSessionForbidden"
          },
          "404": {
            "$ref": "#/components/responses/AuthorizeToolsSessionNotFound"
          },
          "406": {
            "$ref": "#/components/responses/AuthorizeToolsSessionNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/AuthorizeToolsSessionConflict"
          },
          "429": {
            "$ref": "#/components/responses/AuthorizeToolsSessionTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/AuthorizeToolsSessionInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/AuthorizeToolsSessionServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/AuthorizeToolsSessionGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/AuthorizeToolsSessionTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/tools/{tool_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tool_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run a tool by id",
        "operationId": "run-tool-by-id",
        "requestBody": {
          "$ref": "#/components/requestBodies/RunToolByID"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunToolByIDOk"
          },
          "202": {
            "$ref": "#/components/responses/RunToolByIDAccepted"
          },
          "400": {
            "$ref": "#/components/responses/RunToolByIDBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RunToolByIDUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RunToolByIDForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RunToolByIDNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RunToolByIDNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RunToolByIDConflict"
          },
          "429": {
            "$ref": "#/components/responses/RunToolByIDTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RunToolByIDInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RunToolByIDServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RunToolByIDGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RunToolByIDTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/tools/run/eval": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run an AI tool in eval mode",
        "operationId": "run-tool-eval",
        "requestBody": {
          "$ref": "#/components/requestBodies/RunToolEval"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunToolEvalOk"
          },
          "400": {
            "$ref": "#/components/responses/RunToolEvalBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RunToolEvalUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RunToolEvalForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RunToolEvalNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RunToolEvalNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RunToolEvalConflict"
          },
          "429": {
            "$ref": "#/components/responses/RunToolEvalTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RunToolEvalInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RunToolEvalServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RunToolEvalGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RunToolEvalTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout/unified": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run a unified rollout",
        "operationId": "run-unified-rollout",
        "requestBody": {
          "$ref": "#/components/requestBodies/RunUnifiedRollout"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunUnifiedRolloutOk"
          },
          "400": {
            "$ref": "#/components/responses/RunUnifiedRolloutBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RunUnifiedRolloutUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/RunUnifiedRolloutForbidden"
          },
          "404": {
            "$ref": "#/components/responses/RunUnifiedRolloutNotFound"
          },
          "406": {
            "$ref": "#/components/responses/RunUnifiedRolloutNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/RunUnifiedRolloutConflict"
          },
          "429": {
            "$ref": "#/components/responses/RunUnifiedRolloutTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/RunUnifiedRolloutInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/RunUnifiedRolloutServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/RunUnifiedRolloutGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/RunUnifiedRolloutTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external_agent_stub/{agent_id}/sessions/{session_id}/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id9"
        },
        {
          "$ref": "#/components/parameters/session_id2"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Send external agent stub session message",
        "operationId": "send-external-agent-stub-session-message",
        "requestBody": {
          "$ref": "#/components/requestBodies/SendExternalAgentStubSessionMessage"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageOk"
          },
          "400": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageForbidden"
          },
          "404": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageNotFound"
          },
          "406": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageConflict"
          },
          "429": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/external-agent-apis/send-external-agent-session-message"
      }
    },
    "/external_agent_stub/{agent_id}/sessions/{session_id}/messages/stream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id10"
        },
        {
          "$ref": "#/components/parameters/session_id3"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Send external agent stub session message (streaming)",
        "operationId": "send-external-agent-stub-session-message-stream",
        "requestBody": {
          "$ref": "#/components/requestBodies/SendExternalAgentStubSessionMessageStream"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageStreamOk"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/external-agent-apis/stream-external-agent-session-message"
      }
    },
    "/external_agent_stub/{agent_id}/sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id11"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Start external agent stub session",
        "operationId": "start-external-agent-stub-session",
        "requestBody": {
          "$ref": "#/components/requestBodies/StartExternalAgentStubSession"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionOk"
          },
          "400": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionForbidden"
          },
          "404": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionNotFound"
          },
          "406": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionConflict"
          },
          "429": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionGatewayTimeout"
          },
          "529": {
            "$ref": "#/components/responses/StartExternalAgentStubSessionTheServiceIsOverloaded"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/external-agent-apis/start-external-agent-session"
      }
    },
    "/users/transfer": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Transfer workspace user content",
        "operationId": "transfer-user-content",
        "requestBody": {
          "$ref": "#/components/requestBodies/TransferUserContent"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/TransferUserContentOk"
          },
          "400": {
            "$ref": "#/components/responses/TransferUserContentBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/TransferUserContentUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TransferUserContentForbidden"
          },
          "404": {
            "$ref": "#/components/responses/TransferUserContentNotFound"
          },
          "406": {
            "$ref": "#/components/responses/TransferUserContentNotAcceptable"
          },
          "409": {
            "$ref": "#/components/responses/TransferUserContentConflict"
          },
          "429": {
            "$ref": "#/components/responses/TransferUserContentTooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/TransferUserContentInternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/TransferUserContentServiceUnavailable"
          },
[...]
