{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API (Undocumented)",
    "description": "Internal/undocumented Notion API endpoints. These endpoints are not part of the public API and may change without notice. Do not rely on these for production integrations.",
    "termsOfService": "https://notion.notion.site/Terms-and-Privacy-28ffdd083dc3473e9c2da6ec011b58ac",
    "version": "1.0.0",
    "x-noIndex": true
  },
  "servers": [
    {
      "url": "https://api.notion.com/v1"
    }
  ],
  "paths": {
    "/groups/{group_id}/members": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List group members",
        "operationId": "list-group-members",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/start_cursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListGroupMembersOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ListGroupMembersBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ListGroupMembersUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ListGroupMembersForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ListGroupMembersNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ListGroupMembersNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ListGroupMembersConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ListGroupMembersTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ListGroupMembersInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ListGroupMembersServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ListGroupMembersGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ListGroupMembersTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Add a group member",
        "operationId": "add-group-member",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id2"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/add-group-memberRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AddGroupMemberOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/AddGroupMemberBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/AddGroupMemberUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/AddGroupMemberForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/AddGroupMemberNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/AddGroupMemberNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/AddGroupMemberConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/AddGroupMemberTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/AddGroupMemberInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/AddGroupMemberServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/AddGroupMemberGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/AddGroupMemberTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external/decagon": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Tools for Decagon's CX chatbot",
        "operationId": "external-decagon",
        "requestBody": {
          "$ref": "#/components/requestBodies/external-decagonRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExternalDecagonOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ExternalDecagonBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ExternalDecagonUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ExternalDecagonForbiddenResponse"
          },
          "500": {
            "$ref": "#/components/responses/ExternalDecagonInternalServerErrorResponse"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external/refundEligibility": {
      "parameters": [
        {
          "$ref": "#/components/parameters/space_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Check if a user is eligible for a refund",
        "operationId": "external-refund-eligibility",
        "requestBody": {
          "$ref": "#/components/requestBodies/external-refund-eligibilityRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExternalRefundEligibilityOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ExternalRefundEligibilityBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ExternalRefundEligibilityUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ExternalRefundEligibilityForbiddenResponse"
          },
          "500": {
            "$ref": "#/components/responses/ExternalRefundEligibilityInternalServerErrorResponse"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external/userC360Profile": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Fetch a user's C360 lifecycle signals for Decagon chat init",
        "operationId": "external-user-c360-profile",
        "requestBody": {
          "$ref": "#/components/requestBodies/external-user-c360-profileRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExternalUserC360ProfileOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ExternalUserC360ProfileBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ExternalUserC360ProfileUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ExternalUserC360ProfileForbiddenResponse"
          },
          "500": {
            "$ref": "#/components/responses/ExternalUserC360ProfileInternalServerErrorResponse"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/agents/{agent_id}/chat": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id"
        },
        {
          "$ref": "#/components/parameters/verbose"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Chat with agent",
        "operationId": "chat-with-agent",
        "requestBody": {
          "$ref": "#/components/requestBodies/chat-with-agentRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ChatWithAgentOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ChatWithAgentBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ChatWithAgentUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ChatWithAgentForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ChatWithAgentNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ChatWithAgentNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ChatWithAgentConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ChatWithAgentTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ChatWithAgentInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ChatWithAgentServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ChatWithAgentGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ChatWithAgentTheServiceIsOverloadedResponse"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/internal/chat-with-agent"
      }
    },
    "/agents/{agent_id}/chatStream": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id2"
        },
        {
          "$ref": "#/components/parameters/verbose2"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Chat with agent (streaming)",
        "operationId": "chat-with-agent-stream",
        "requestBody": {
          "$ref": "#/components/requestBodies/chat-with-agent-streamRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ChatWithAgentStreamOkResponse"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/internal/chat-with-agent-stream"
      }
    },
    "/threads/{thread_id}/continue": {
      "parameters": [
        {
          "$ref": "#/components/parameters/thread_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Continue a thread",
        "operationId": "continue-thread",
        "requestBody": {
          "$ref": "#/components/requestBodies/continue-threadRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContinueThreadOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ContinueThreadBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ContinueThreadUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ContinueThreadForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ContinueThreadNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ContinueThreadNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ContinueThreadConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ContinueThreadTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ContinueThreadInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ContinueThreadServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ContinueThreadGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ContinueThreadTheServiceIsOverloadedResponse"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external_agent_stub/{agent_id}/vaults": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id3"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Create external agent stub vault",
        "operationId": "create-external-agent-stub-vault",
        "requestBody": {
          "$ref": "#/components/requestBodies/create-external-agent-stub-vaultRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/CreateExternalAgentStubVaultTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/external-agent-apis/create-external-agent-vault"
      }
    },
    "/groups": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Create a group",
        "operationId": "create-group",
        "requestBody": {
          "$ref": "#/components/requestBodies/create-groupRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateGroupOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/CreateGroupBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/CreateGroupUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/CreateGroupForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/CreateGroupNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/CreateGroupNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/CreateGroupConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/CreateGroupTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/CreateGroupInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/CreateGroupServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/CreateGroupGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/CreateGroupTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Create a rollout",
        "operationId": "create-rollout",
        "requestBody": {
          "$ref": "#/components/requestBodies/create-rolloutRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateRolloutOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/CreateRolloutBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/CreateRolloutUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/CreateRolloutForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/CreateRolloutNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/CreateRolloutNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/CreateRolloutConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/CreateRolloutTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/CreateRolloutInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/CreateRolloutServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/CreateRolloutGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/CreateRolloutTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/teamspaces": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List teamspaces",
        "operationId": "list-teamspaces",
        "parameters": [
          {
            "$ref": "#/components/parameters/start_cursor2"
          },
          {
            "$ref": "#/components/parameters/page_size2"
          },
          {
            "$ref": "#/components/parameters/user_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListTeamspacesOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ListTeamspacesBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ListTeamspacesUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ListTeamspacesForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ListTeamspacesNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ListTeamspacesNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ListTeamspacesConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ListTeamspacesTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ListTeamspacesInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ListTeamspacesServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ListTeamspacesGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ListTeamspacesTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Create teamspace",
        "operationId": "create-teamspace",
        "requestBody": {
          "$ref": "#/components/requestBodies/create-teamspaceRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateTeamspaceOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/CreateTeamspaceBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/CreateTeamspaceUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/CreateTeamspaceForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/CreateTeamspaceNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/CreateTeamspaceNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/CreateTeamspaceConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/CreateTeamspaceTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/CreateTeamspaceInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/CreateTeamspaceServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/CreateTeamspaceGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/CreateTeamspaceTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external_agent_stub/{agent_id}/vaults/{vault_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "delete": {
        "tags": [
          "Internal"
        ],
        "summary": "Delete external agent stub vault",
        "operationId": "delete-external-agent-stub-vault",
        "parameters": [
          {
            "$ref": "#/components/parameters/agent_id4"
          },
          {
            "$ref": "#/components/parameters/vault_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/DeleteExternalAgentStubVaultTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/external-agent-apis/delete-external-agent-vault"
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Update external agent stub vault",
        "operationId": "update-external-agent-stub-vault",
        "parameters": [
          {
            "$ref": "#/components/parameters/agent_id5"
          },
          {
            "$ref": "#/components/parameters/vault_id2"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-external-agent-stub-vaultRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/UpdateExternalAgentStubVaultTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/external-agent-apis/update-external-agent-vault"
      }
    },
    "/groups/{group_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Retrieve a group",
        "operationId": "retrieve-group",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id3"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveGroupOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/RetrieveGroupBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/RetrieveGroupUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/RetrieveGroupForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/RetrieveGroupNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/RetrieveGroupNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/RetrieveGroupConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/RetrieveGroupTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/RetrieveGroupInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/RetrieveGroupServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/RetrieveGroupGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/RetrieveGroupTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "delete": {
        "tags": [
          "Internal"
        ],
        "summary": "Delete a group",
        "operationId": "delete-group",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id4"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/delete-groupRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteGroupOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/DeleteGroupBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/DeleteGroupUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/DeleteGroupForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/DeleteGroupNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/DeleteGroupNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/DeleteGroupConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/DeleteGroupTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/DeleteGroupInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/DeleteGroupServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/DeleteGroupGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/DeleteGroupTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Update a group",
        "operationId": "update-group",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id5"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-groupRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateGroupOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/UpdateGroupBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UpdateGroupUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/UpdateGroupForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/UpdateGroupNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/UpdateGroupNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/UpdateGroupConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/UpdateGroupTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/UpdateGroupInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/UpdateGroupServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/UpdateGroupGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/UpdateGroupTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/export/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Export a page",
        "operationId": "export-page",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExportPageOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ExportPageBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ExportPageUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ExportPageForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ExportPageNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ExportPageNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ExportPageConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ExportPageTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ExportPageInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ExportPageServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ExportPageGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ExportPageTheServiceIsOverloadedResponse"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout/generate-transcript": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Generate transcript",
        "operationId": "generate-transcript",
        "requestBody": {
          "$ref": "#/components/requestBodies/generate-transcriptRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenerateTranscriptOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/GenerateTranscriptBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/GenerateTranscriptUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/GenerateTranscriptForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/GenerateTranscriptNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/GenerateTranscriptNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/GenerateTranscriptConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/GenerateTranscriptTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/GenerateTranscriptInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/GenerateTranscriptServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/GenerateTranscriptGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/GenerateTranscriptTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout/{rollout_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/rollout_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Get a rollout",
        "operationId": "get-rollout",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetRolloutOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/GetRolloutBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/GetRolloutUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/GetRolloutForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/GetRolloutNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/GetRolloutNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/GetRolloutConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/GetRolloutTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/GetRolloutInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/GetRolloutServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/GetRolloutGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/GetRolloutTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/security_center/posture": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Get workspace security posture",
        "operationId": "get-security-posture",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSecurityPostureOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/GetSecurityPostureBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/GetSecurityPostureUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/GetSecurityPostureForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/GetSecurityPostureNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/GetSecurityPostureNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/GetSecurityPostureConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/GetSecurityPostureTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/GetSecurityPostureInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/GetSecurityPostureServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/GetSecurityPostureGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/GetSecurityPostureTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/teamspaces/{team_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Get teamspace",
        "operationId": "get-teamspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTeamspaceOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/GetTeamspaceBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/GetTeamspaceUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/GetTeamspaceForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/GetTeamspaceNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/GetTeamspaceNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/GetTeamspaceConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/GetTeamspaceTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/GetTeamspaceInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/GetTeamspaceServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/GetTeamspaceGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/GetTeamspaceTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Update teamspace",
        "operationId": "update-teamspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id2"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-teamspaceRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateTeamspaceOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/UpdateTeamspaceBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UpdateTeamspaceUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/UpdateTeamspaceForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/UpdateTeamspaceNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/UpdateTeamspaceNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/UpdateTeamspaceConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/UpdateTeamspaceTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/UpdateTeamspaceInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/UpdateTeamspaceServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/UpdateTeamspaceGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/UpdateTeamspaceTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/export": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Export a page",
        "operationId": "initiate-page-export",
        "requestBody": {
          "$ref": "#/components/requestBodies/initiate-page-exportRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/InitiatePageExportOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/InitiatePageExportBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/InitiatePageExportUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/InitiatePageExportForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/InitiatePageExportNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/InitiatePageExportNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/InitiatePageExportConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/InitiatePageExportTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/InitiatePageExportInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/InitiatePageExportServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/InitiatePageExportGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/InitiatePageExportTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/agents": {
      "parameters": [
        {
          "$ref": "#/components/parameters/name"
        },
        {
          "$ref": "#/components/parameters/agent_type"
        },
        {
          "$ref": "#/components/parameters/agent_ids"
        },
        {
          "$ref": "#/components/parameters/created_by"
        },
        {
          "$ref": "#/components/parameters/start_cursor3"
        },
        {
          "$ref": "#/components/parameters/page_size3"
        },
        {
          "$ref": "#/components/parameters/verbose3"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List agents",
        "operationId": "list-agents",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListAgentsOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ListAgentsBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ListAgentsUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ListAgentsForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ListAgentsNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ListAgentsNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ListAgentsConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ListAgentsTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ListAgentsInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ListAgentsServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ListAgentsGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ListAgentsTheServiceIsOverloadedResponse"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/internal/list-agents"
      }
    },
    "/connections": {
      "parameters": [
        {
          "$ref": "#/components/parameters/include_types"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List connections",
        "operationId": "list-connections",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListConnectionsOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ListConnectionsBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ListConnectionsUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ListConnectionsForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ListConnectionsNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ListConnectionsNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ListConnectionsConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ListConnectionsTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ListConnectionsInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ListConnectionsServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ListConnectionsGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ListConnectionsTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/data_sources": {
      "parameters": [
        {
          "$ref": "#/components/parameters/start_cursor4"
        },
        {
          "$ref": "#/components/parameters/page_size4"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List data sources",
        "operationId": "get-databases",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetDatabasesOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/GetDatabasesBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/GetDatabasesUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/GetDatabasesForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/GetDatabasesNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/GetDatabasesNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/GetDatabasesConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/GetDatabasesTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/GetDatabasesInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/GetDatabasesServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/GetDatabasesGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/GetDatabasesTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external_agent_stub/{agent_id}/sessions/{session_id}/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id6"
        },
        {
          "$ref": "#/components/parameters/session_id"
        },
        {
          "$ref": "#/components/parameters/cursor"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List external agent stub session events",
        "operationId": "list-external-agent-stub-session-events",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ListExternalAgentStubSessionEventsTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/external-agent-apis/list-external-agent-session-events"
      }
    },
    "/teamspaces/{team_id}/membership": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Lists team membership (users/groups that are owners/members) of a team.",
        "operationId": "listTeamMembership",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id3"
          },
          {
            "$ref": "#/components/parameters/page_size5"
          },
          {
            "$ref": "#/components/parameters/start_cursor5"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListTeamMembershipOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ListTeamMembershipBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ListTeamMembershipUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ListTeamMembershipForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ListTeamMembershipNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ListTeamMembershipNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ListTeamMembershipConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ListTeamMembershipTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ListTeamMembershipInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ListTeamMembershipServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ListTeamMembershipGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ListTeamMembershipTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Updates team membership for a given team.",
        "operationId": "update-team-membership",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id4"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-team-membershipRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateTeamMembershipOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/UpdateTeamMembershipBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UpdateTeamMembershipUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/UpdateTeamMembershipForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/UpdateTeamMembershipNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/UpdateTeamMembershipNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/UpdateTeamMembershipConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/UpdateTeamMembershipTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/UpdateTeamMembershipInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/UpdateTeamMembershipServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/UpdateTeamMembershipGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/UpdateTeamMembershipTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/teamspaces/{team_id}/permissions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List permission roles for various entities in a teamspace.",
        "operationId": "listTeamPermissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id5"
          },
          {
            "$ref": "#/components/parameters/page_size6"
          },
          {
            "$ref": "#/components/parameters/start_cursor6"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListTeamPermissionsOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ListTeamPermissionsBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ListTeamPermissionsUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ListTeamPermissionsForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ListTeamPermissionsNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ListTeamPermissionsNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ListTeamPermissionsConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ListTeamPermissionsTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ListTeamPermissionsInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ListTeamPermissionsServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ListTeamPermissionsGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ListTeamPermissionsTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Updates permission levels for a given teamspace.",
        "operationId": "update-teamspace-permissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_id6"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-teamspace-permissionsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/UpdateTeamspacePermissionsTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/threads/{thread_id}/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List thread messages",
        "operationId": "list-thread-messages",
        "parameters": [
          {
            "$ref": "#/components/parameters/thread_id2"
          },
          {
            "$ref": "#/components/parameters/verbose4"
          },
          {
            "$ref": "#/components/parameters/role"
          },
          {
            "$ref": "#/components/parameters/start_cursor7"
          },
          {
            "$ref": "#/components/parameters/page_size7"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListThreadMessagesOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ListThreadMessagesBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ListThreadMessagesUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ListThreadMessagesForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ListThreadMessagesNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ListThreadMessagesNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ListThreadMessagesConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ListThreadMessagesTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ListThreadMessagesInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ListThreadMessagesServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ListThreadMessagesGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ListThreadMessagesTheServiceIsOverloadedResponse"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/internal/list-thread-messages"
      },
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Send a thread message",
        "operationId": "send-thread-message",
        "parameters": [
          {
            "$ref": "#/components/parameters/thread_id3"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/send-thread-messageRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SendThreadMessageOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/SendThreadMessageBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/SendThreadMessageUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/SendThreadMessageForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/SendThreadMessageNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/SendThreadMessageNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/SendThreadMessageConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/SendThreadMessageTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/SendThreadMessageInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/SendThreadMessageServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/SendThreadMessageGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/SendThreadMessageTheServiceIsOverloadedResponse"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/agents/{agent_id}/threads": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id7"
        },
        {
          "$ref": "#/components/parameters/id2"
        },
        {
          "$ref": "#/components/parameters/title"
        },
        {
          "$ref": "#/components/parameters/status"
        },
        {
          "$ref": "#/components/parameters/activity"
        },
        {
          "$ref": "#/components/parameters/created_by2"
        },
        {
          "$ref": "#/components/parameters/last_used_by"
        },
        {
          "$ref": "#/components/parameters/sort_by"
        },
        {
          "$ref": "#/components/parameters/sort_direction"
        },
        {
          "$ref": "#/components/parameters/start_cursor8"
        },
        {
          "$ref": "#/components/parameters/page_size8"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List threads",
        "operationId": "list-threads",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListThreadsOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ListThreadsBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ListThreadsUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ListThreadsForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ListThreadsNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ListThreadsNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ListThreadsConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ListThreadsTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ListThreadsInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ListThreadsServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ListThreadsGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ListThreadsTheServiceIsOverloadedResponse"
          }
        },
        "deprecated": true,
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/internal/list-threads"
      }
    },
    "/tools": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "List tools",
        "operationId": "list-tools",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListToolsOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/ListToolsBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/ListToolsUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ListToolsForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/ListToolsNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ListToolsNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/ListToolsConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/ListToolsTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ListToolsInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/ListToolsServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/ListToolsGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/ListToolsTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/oauth/ema/resolve": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Resolve an EMA ID-JAG identity to an MCP access token",
        "operationId": "ema-resolve-identity",
        "requestBody": {
          "$ref": "#/components/requestBodies/ema-resolve-identityRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmaResolveIdentityOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/EmaResolveIdentityBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/EmaResolveIdentityUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/EmaResolveIdentityForbiddenResponse"
          },
          "500": {
            "$ref": "#/components/responses/EmaResolveIdentityInternalServerErrorResponse"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/oauth/ema/trusted-issuer": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Resolve an EMA trusted issuer",
        "operationId": "ema-resolve-trusted-issuer",
        "requestBody": {
          "$ref": "#/components/requestBodies/ema-resolve-trusted-issuerRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmaResolveTrustedIssuerOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/EmaResolveTrustedIssuerBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/EmaResolveTrustedIssuerUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/EmaResolveTrustedIssuerForbiddenResponse"
          },
          "500": {
            "$ref": "#/components/responses/EmaResolveTrustedIssuerInternalServerErrorResponse"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/threads/{thread_id}/messages/query": {
      "parameters": [
        {
          "$ref": "#/components/parameters/thread_id4"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Query thread messages",
        "operationId": "query-thread-messages",
        "requestBody": {
          "$ref": "#/components/requestBodies/query-thread-messagesRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryThreadMessagesOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/QueryThreadMessagesBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/QueryThreadMessagesUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/QueryThreadMessagesForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/QueryThreadMessagesNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/QueryThreadMessagesNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/QueryThreadMessagesConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/QueryThreadMessagesTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/QueryThreadMessagesInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/QueryThreadMessagesServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/QueryThreadMessagesGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/QueryThreadMessagesTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/query-thread-messages"
      }
    },
    "/agents/{agent_id}/threads/query": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id8"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Query threads",
        "operationId": "query-threads",
        "requestBody": {
          "$ref": "#/components/requestBodies/query-threadsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryThreadsOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/QueryThreadsBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/QueryThreadsUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/QueryThreadsForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/QueryThreadsNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/QueryThreadsNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/QueryThreadsConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/QueryThreadsTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/QueryThreadsInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/QueryThreadsServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/QueryThreadsGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/QueryThreadsTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true,
        "x-notion-docs-ref": "https://developers.notion.com/reference/unreleased/query-threads"
      }
    },
    "/groups/{group_id}/members/users/{user_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "delete": {
        "tags": [
          "Internal"
        ],
        "summary": "Remove a group member",
        "operationId": "remove-group-member",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id6"
          },
          {
            "$ref": "#/components/parameters/user_id2"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RemoveGroupMemberOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/RemoveGroupMemberBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/RemoveGroupMemberUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/RemoveGroupMemberForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/RemoveGroupMemberNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/RemoveGroupMemberNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/RemoveGroupMemberConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/RemoveGroupMemberTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/RemoveGroupMemberInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/RemoveGroupMemberServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/RemoveGroupMemberGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/RemoveGroupMemberTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      },
      "patch": {
        "tags": [
          "Internal"
        ],
        "summary": "Update a group member",
        "operationId": "update-group-member",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_id7"
          },
          {
            "$ref": "#/components/parameters/user_id3"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-group-memberRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateGroupMemberOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/UpdateGroupMemberBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UpdateGroupMemberUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/UpdateGroupMemberForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/UpdateGroupMemberNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/UpdateGroupMemberNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/UpdateGroupMemberConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/UpdateGroupMemberTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/UpdateGroupMemberInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/UpdateGroupMemberServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/UpdateGroupMemberGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/UpdateGroupMemberTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/pages/{page_id}/remove_guests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/page_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Remove guests from a page",
        "operationId": "remove-page-guest",
        "requestBody": {
          "$ref": "#/components/requestBodies/remove-page-guestRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RemovePageGuestOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/RemovePageGuestBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/RemovePageGuestUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/RemovePageGuestForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/RemovePageGuestNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/RemovePageGuestNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/RemovePageGuestConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/RemovePageGuestTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/RemovePageGuestInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/RemovePageGuestServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/RemovePageGuestGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/RemovePageGuestTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/tools/run/internal": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run an internal tool",
        "operationId": "run-internal-tool",
        "requestBody": {
          "$ref": "#/components/requestBodies/run-internal-toolRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunInternalToolOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/RunInternalToolBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/RunInternalToolUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/RunInternalToolForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/RunInternalToolNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/RunInternalToolNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/RunInternalToolConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/RunInternalToolTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/RunInternalToolInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/RunInternalToolServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/RunInternalToolGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/RunInternalToolTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout/minimal": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run a minimal rollout",
        "operationId": "run-minimal-rollout",
        "requestBody": {
          "$ref": "#/components/requestBodies/run-minimal-rolloutRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunMinimalRolloutOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/RunMinimalRolloutBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/RunMinimalRolloutUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/RunMinimalRolloutForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/RunMinimalRolloutNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/RunMinimalRolloutNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/RunMinimalRolloutConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/RunMinimalRolloutTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/RunMinimalRolloutInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/RunMinimalRolloutServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/RunMinimalRolloutGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/RunMinimalRolloutTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout/run": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run a rollout",
        "operationId": "run-rollout",
        "requestBody": {
          "$ref": "#/components/requestBodies/run-rolloutRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunRolloutOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/RunRolloutBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/RunRolloutUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/RunRolloutForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/RunRolloutNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/RunRolloutNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/RunRolloutConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/RunRolloutTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/RunRolloutInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/RunRolloutServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/RunRolloutGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/RunRolloutTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/tools/run": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run an AI tool",
        "operationId": "run-tool",
        "requestBody": {
          "$ref": "#/components/requestBodies/run-toolRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunToolOkResponse"
          },
          "202": {
            "$ref": "#/components/responses/RunToolAcceptedResponse"
          },
          "400": {
            "$ref": "#/components/responses/RunToolBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/RunToolUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/RunToolForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/RunToolNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/RunToolNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/RunToolConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/RunToolTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/RunToolInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/RunToolServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/RunToolGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/RunToolTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/tools/auth": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Authorize an AI tools session",
        "operationId": "authorize-tools-session",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AuthorizeToolsSessionOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/AuthorizeToolsSessionBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/AuthorizeToolsSessionUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizeToolsSessionForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/AuthorizeToolsSessionNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/AuthorizeToolsSessionNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/AuthorizeToolsSessionConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/AuthorizeToolsSessionTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/AuthorizeToolsSessionInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/AuthorizeToolsSessionServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/AuthorizeToolsSessionGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/AuthorizeToolsSessionTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/tools/{tool_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tool_id"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run a tool by id",
        "operationId": "run-tool-by-id",
        "requestBody": {
          "$ref": "#/components/requestBodies/run-tool-by-idRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunToolByIDOkResponse"
          },
          "202": {
            "$ref": "#/components/responses/RunToolByIDAcceptedResponse"
          },
          "400": {
            "$ref": "#/components/responses/RunToolByIDBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/RunToolByIDUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/RunToolByIDForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/RunToolByIDNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/RunToolByIDNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/RunToolByIDConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/RunToolByIDTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/RunToolByIDInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/RunToolByIDServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/RunToolByIDGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/RunToolByIDTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/tools/run/eval": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run an AI tool in eval mode",
        "operationId": "run-tool-eval",
        "requestBody": {
          "$ref": "#/components/requestBodies/run-tool-evalRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunToolEvalOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/RunToolEvalBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/RunToolEvalUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/RunToolEvalForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/RunToolEvalNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/RunToolEvalNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/RunToolEvalConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/RunToolEvalTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/RunToolEvalInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/RunToolEvalServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/RunToolEvalGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/RunToolEvalTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/rollout/unified": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Run a unified rollout",
        "operationId": "run-unified-rollout",
        "requestBody": {
          "$ref": "#/components/requestBodies/run-unified-rolloutRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RunUnifiedRolloutOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/RunUnifiedRolloutBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/RunUnifiedRolloutUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/RunUnifiedRolloutForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/RunUnifiedRolloutNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/RunUnifiedRolloutNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/RunUnifiedRolloutConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/RunUnifiedRolloutTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/RunUnifiedRolloutInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/RunUnifiedRolloutServiceUnavailableResponse"
          },
          "504": {
            "$ref": "#/components/responses/RunUnifiedRolloutGatewayTimeoutResponse"
          },
          "529": {
            "$ref": "#/components/responses/RunUnifiedRolloutTheServiceIsOverloadedResponse"
          }
        },
        "x-hidden": true,
        "x-noIndex": true
      }
    },
    "/external_agent_stub/{agent_id}/sessions/{session_id}/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/agent_id9"
        },
        {
          "$ref": "#/components/parameters/session_id2"
        },
        {
          "$ref": "#/components/parameters/notionVersion"
        }
      ],
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Send external agent stub session message",
        "operationId": "send-external-agent-stub-session-message",
        "requestBody": {
          "$ref": "#/components/requestBodies/send-external-agent-stub-session-messageRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageOkResponse"
          },
          "400": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageUnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageNotAcceptableResponse"
          },
          "409": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageConflictResponse"
          },
          "429": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageTooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageInternalServerErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/SendExternalAgentStubSessionMessageServiceUnavailableResponse"
          },
          "504": {
[...]
