{
  "openapi": "3.1.0",
  "info": {
    "title": "API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://habitica.com/api/v3"
    }
  ],
  "paths": {
    "/tasks/user": {
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Api-Key"
        },
        {
          "$ref": "#/components/parameters/X-Api-User"
        },
        {
          "$ref": "#/components/parameters/X-Client"
        }
      ],
      "get": {
        "operationId": "ListAPIV3TasksUser",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListApiv3TasksUserOkResponse"
          }
        }
      }
    },
    "/tasks/{taskId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/taskId"
        },
        {
          "$ref": "#/components/parameters/X-Api-Key2"
        },
        {
          "$ref": "#/components/parameters/X-Api-User2"
        },
        {
          "$ref": "#/components/parameters/X-Client2"
        }
      ],
      "get": {
        "operationId": "GetAPIV3TaskByTaskID",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetApiv3TaskByTaskIDOkResponse"
          }
        }
      }
    },
    "/user": {
      "parameters": [
        {
          "$ref": "#/components/parameters/X-Api-Key3"
        },
        {
          "$ref": "#/components/parameters/X-Api-User3"
        },
        {
          "$ref": "#/components/parameters/X-Client3"
        }
      ],
      "get": {
        "operationId": "ListAPIV3User",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListApiv3UserOkResponse"
          }
        }
      }
    },
    "/tasks/{taskId}/score/up": {
      "parameters": [
        {
          "$ref": "#/components/parameters/taskId2"
        },
        {
          "$ref": "#/components/parameters/X-Api-Key4"
        },
        {
          "$ref": "#/components/parameters/X-Api-User4"
        },
        {
          "$ref": "#/components/parameters/X-Client4"
        }
      ],
      "post": {
        "operationId": "PostAPIV3TaskScoreUp",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostApiv3TaskScoreUpOkResponse"
          },
          "404": {
            "$ref": "#/components/responses/PostApiv3TaskScoreUpNotFoundResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ListApiv3TasksUserOk": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ListApiv3TasksUserOkData"
          },
          "notifications": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          }
        },
        "required": [
          "success",
          "data",
          "notifications"
        ]
      },
      "ListApiv3TasksUserOkData": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ListApiv3TasksUserOkDataItem"
        }
      },
      "ListApiv3TasksUserOkDataItem": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "text": {
            "type": "string",
            "example": "15 minute break"
          },
          "type": {
            "type": "string",
            "example": "reward"
          },
          "notes": {
            "type": "string",
            "example": ""
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "value": {
            "type": "integer",
            "example": 10
          },
          "priority": {
            "type": "integer",
            "example": 1
          },
          "attribute": {
            "type": "string",
            "example": "str"
          },
          "challenge": {
            "type": "object"
          },
          "group": {
            "$ref": "#/components/schemas/ListApiv3TasksUserOkDataItemGroup"
          },
          "reminders": {
            "$ref": "#/components/schemas/ListApiv3TasksUserOkDataItemReminders"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-07T17:52:09.121Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-11T14:25:32.504Z"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "alias": {
            "type": "string",
            "example": "prac31"
          },
          "checklist": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "collapseChecklist": {
            "type": "boolean"
          },
          "completed": {
            "type": "boolean"
          },
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "streak": {
            "type": "integer",
            "example": 1
          },
          "repeat": {
            "$ref": "#/components/schemas/ListApiv3TasksUserOkDataItemRepeat"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-13T00:00:00.000Z"
          },
          "everyX": {
            "type": "integer",
            "example": 1
          },
          "frequency": {
            "type": "string",
            "example": "weekly"
          }
        },
        "required": [
          "_id",
          "userId",
          "text",
          "type",
          "notes",
          "tags",
          "value",
          "priority",
          "attribute",
          "challenge",
          "group",
          "reminders",
          "createdAt",
          "updatedAt",
          "id"
        ]
      },
      "ListApiv3TasksUserOkDataItemGroup": {
        "type": "object",
        "properties": {
          "assignedUsers": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "approval": {
            "$ref": "#/components/schemas/ListApiv3TasksUserOkDataItemGroupApproval"
          }
        },
        "required": [
          "assignedUsers",
          "approval"
        ]
      },
      "ListApiv3TasksUserOkDataItemGroupApproval": {
        "type": "object",
        "properties": {
          "required": {
            "type": "boolean"
          },
          "approved": {
            "type": "boolean"
          },
          "requested": {
            "type": "boolean"
          }
        },
        "required": [
          "required",
          "approved",
          "requested"
        ]
      },
      "ListApiv3TasksUserOkDataItemReminders": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ListApiv3TasksUserOkDataItemRemindersItem"
        }
      },
      "ListApiv3TasksUserOkDataItemRemindersItem": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-13T16:21:00.074Z"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-13T16:20:00.074Z"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": null
      },
      "ListApiv3TasksUserOkDataItemRepeat": {
        "type": "object",
        "properties": {
          "su": {
            "type": "boolean"
          },
          "s": {
            "type": "boolean"
          },
          "f": {
            "type": "boolean"
          },
          "th": {
            "type": "boolean"
          },
          "w": {
            "type": "boolean"
          },
          "t": {
            "type": "boolean"
          },
          "m": {
            "type": "boolean"
          }
        },
        "required": [
          "su",
          "s",
          "f",
          "th",
          "w",
          "t",
          "m"
        ]
      },
      "GetApiv3TaskByTaskIDOk": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/GetApiv3TaskByTaskIDOkData"
          },
          "notifications": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          }
        },
        "required": [
          "success",
          "data",
          "notifications"
        ]
      },
      "GetApiv3TaskByTaskIDOkData": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "text": {
            "type": "string",
            "example": "API Trial"
          },
          "alias": {
            "type": "string",
            "example": "apiTrial"
          },
          "type": {
            "type": "string",
            "example": "habit"
          },
          "notes": {
            "type": "string",
            "example": ""
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "value": {
            "type": "number",
            "format": "double",
            "example": 11.996661122825959
          },
          "priority": {
            "type": "number",
            "format": "double",
            "example": 1.5
          },
          "attribute": {
            "type": "string",
            "example": "str"
          },
          "challenge": {
            "$ref": "#/components/schemas/GetApiv3TaskByTaskIDOkDataChallenge"
          },
          "group": {
            "$ref": "#/components/schemas/GetApiv3TaskByTaskIDOkDataGroup"
          },
          "reminders": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-12T19:03:33.495Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-13T20:52:02.927Z"
          },
          "history": {
            "$ref": "#/components/schemas/GetApiv3TaskByTaskIDOkDataHistory"
          },
          "down": {
            "type": "boolean"
          },
          "up": {
            "type": "boolean"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "_id",
          "userId",
          "text",
          "alias",
          "type",
          "notes",
          "tags",
          "value",
          "priority",
          "attribute",
          "challenge",
          "group",
          "reminders",
          "createdAt",
          "updatedAt",
          "history",
          "down",
          "up",
          "id"
        ]
      },
      "GetApiv3TaskByTaskIDOkDataChallenge": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string",
            "format": "uuid",
            "example": "5f12bfba-da30-4733-ad01-9c42f9817975"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "taskId",
          "id"
        ]
      },
      "GetApiv3TaskByTaskIDOkDataGroup": {
        "type": "object",
        "properties": {
          "assignedUsers": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "approval": {
            "$ref": "#/components/schemas/GetApiv3TaskByTaskIDOkDataGroupApproval"
          }
        },
        "required": [
          "assignedUsers",
          "approval"
        ]
      },
      "GetApiv3TaskByTaskIDOkDataGroupApproval": {
        "type": "object",
        "properties": {
          "required": {
            "type": "boolean"
          },
          "approved": {
            "type": "boolean"
          },
          "requested": {
            "type": "boolean"
          }
        },
        "required": [
          "required",
          "approved",
          "requested"
        ]
      },
      "GetApiv3TaskByTaskIDOkDataHistory": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/GetApiv3TaskByTaskIDOkDataHistoryItem"
        }
      },
      "GetApiv3TaskByTaskIDOkDataHistoryItem": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "double",
            "example": 1.9747
          },
          "date": {
            "type": "integer",
            "example": 1484248053486
          }
        },
        "required": [
          "value",
          "date"
        ]
      },
      "ListApiv3UserOk": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ListApiv3UserOkData"
          },
          "notifications": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "userV": {
            "type": "integer",
            "example": 15885
          },
          "appVersion": {
            "type": "string",
            "example": "5.48.6"
          }
        },
        "required": [
          "success",
          "data",
          "notifications",
          "userV",
          "appVersion"
        ]
      },
      "ListApiv3UserOkData": {
        "type": "object",
        "properties": {
          "auth": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataAuth"
          },
          "achievements": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataAchievements"
          },
          "backer": {
            "type": "object"
          },
          "contributor": {
            "type": "object"
          },
          "permissions": {
            "type": "object"
          },
          "purchased": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPurchased"
          },
          "flags": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataFlags"
          },
          "history": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataHistory"
          },
          "items": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItems"
          },
          "invitations": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataInvitations"
          },
          "party": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataParty"
          },
          "preferences": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPreferences"
          },
          "profile": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataProfile"
          },
          "stats": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataStats"
          },
          "inbox": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataInbox"
          },
          "tasksOrder": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataTasksOrder"
          },
          "_id": {
            "type": "string",
            "format": "uuid"
          },
          "_ABtest": {
            "type": "string",
            "example": ""
          },
          "loginIncentives": {
            "type": "integer",
            "example": 1538
          },
          "webhooks": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "pushDevices": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPushDevices"
          },
          "extra": {
            "type": "object"
          },
          "tags": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataTags"
          },
          "notifications": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "guilds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "cf0a9cb8-606e-4bf0-bcad-f9b1715b8819"
            }
          },
          "challenges": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "3cb189ef-3a5d-4177-8bc6-fad7f4c055bf"
            }
          },
          "newMessages": {
            "type": "object"
          },
          "lastCron": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-05T11:40:25.172Z"
          },
          "balance": {
            "type": "integer",
            "example": 21
          },
          "_v": {
            "type": "integer",
            "example": 15885
          },
          "migration": {
            "type": "string",
            "example": "20264april-fools-2026"
          },
          "pinnedItems": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPinnedItems"
          },
          "unpinnedItems": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "invitesSent": {
            "type": "integer",
            "example": 4
          },
          "pinnedItemsOrder": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "_subSignature": {
            "type": "string",
            "example": "NOT_RUNNING"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "needsCron": {
            "type": "boolean"
          }
        },
        "required": [
          "auth",
          "achievements",
          "backer",
          "contributor",
          "permissions",
          "purchased",
          "flags",
          "history",
          "items",
          "invitations",
          "party",
          "preferences",
          "profile",
          "stats",
          "inbox",
          "tasksOrder",
          "_id",
          "_ABtest",
          "loginIncentives",
          "webhooks",
          "pushDevices",
          "extra",
          "tags",
          "notifications",
          "guilds",
          "challenges",
          "newMessages",
          "lastCron",
          "balance",
          "_v",
          "migration",
          "pinnedItems",
          "unpinnedItems",
          "invitesSent",
          "pinnedItemsOrder",
          "_subSignature",
          "id",
          "needsCron"
        ]
      },
      "ListApiv3UserOkDataAuth": {
        "type": "object",
        "properties": {
          "local": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataAuthLocal"
          },
          "timestamps": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataAuthTimestamps"
          },
          "google": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataAuthGoogle"
          },
          "apple": {
            "type": "object"
          },
          "facebook": {
            "type": "object"
          }
        },
        "required": [
          "local",
          "timestamps",
          "google",
          "apple",
          "facebook"
        ]
      },
      "ListApiv3UserOkDataAuthLocal": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "lowerCaseUsername": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "has_password": {
            "type": "boolean"
          }
        },
        "required": [
          "username",
          "lowerCaseUsername",
          "email",
          "has_password"
        ]
      },
      "ListApiv3UserOkDataAuthTimestamps": {
        "type": "object",
        "properties": {
          "loggedin": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-05T11:40:25.172Z"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-26T18:12:42.188Z"
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-05T22:07:05.119Z"
          }
        },
        "required": [
          "loggedin",
          "created",
          "updated"
        ]
      },
      "ListApiv3UserOkDataAuthGoogle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "emails": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataAuthGoogleEmails"
          }
        },
        "required": [
          "id",
          "emails"
        ]
      },
      "ListApiv3UserOkDataAuthGoogleEmails": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ListApiv3UserOkDataAuthGoogleEmailsItem"
        }
      },
      "ListApiv3UserOkDataAuthGoogleEmailsItem": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "format": "email"
          },
          "verified": {
            "type": "boolean"
          }
        },
        "required": [
          "value",
          "verified"
        ]
      },
      "ListApiv3UserOkDataAchievements": {
        "type": "object",
        "properties": {
          "ultimateGearSets": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataAchievementsUltimateGearSets"
          },
          "perfect": {
            "type": "integer",
            "example": 93
          },
          "quests": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataAchievementsQuests"
          },
          "challenges": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "partyUp": {
            "type": "boolean"
          },
          "partyOn": {
            "type": "boolean"
          },
          "habitBirthdays": {
            "type": "integer",
            "example": 9
          },
          "streak": {
            "type": "integer",
            "example": 197
          },
          "joinedGuild": {
            "type": "boolean"
          },
          "joinedChallenge": {
            "type": "boolean"
          },
          "habiticaDays": {
            "type": "integer",
            "example": 9
          },
          "invitedFriend": {
            "type": "boolean"
          },
          "backToBasics": {
            "type": "boolean"
          },
          "dustDevil": {
            "type": "boolean"
          },
          "monsterMagus": {
            "type": "boolean"
          },
          "completedTask": {
            "type": "boolean"
          },
          "createdTask": {
            "type": "boolean"
          },
          "fedPet": {
            "type": "boolean"
          },
          "hatchedPet": {
            "type": "boolean"
          },
          "purchasedEquipment": {
            "type": "boolean"
          },
          "seeingRed": {
            "type": "boolean"
          },
          "shadyCustomer": {
            "type": "boolean"
          },
          "royallyLoyal": {
            "type": "boolean"
          },
          "allYourBase": {
            "type": "boolean"
          },
          "pearlyPro": {
            "type": "boolean"
          }
        },
        "required": [
          "ultimateGearSets",
          "perfect",
          "quests",
          "challenges",
          "partyUp",
          "partyOn",
          "habitBirthdays",
          "streak",
          "joinedGuild",
          "joinedChallenge",
          "habiticaDays",
          "invitedFriend",
          "backToBasics",
          "dustDevil",
          "monsterMagus",
          "completedTask",
          "createdTask",
          "fedPet",
          "hatchedPet",
          "purchasedEquipment",
          "seeingRed",
          "shadyCustomer",
          "royallyLoyal",
          "allYourBase",
          "pearlyPro"
        ]
      },
      "ListApiv3UserOkDataAchievementsUltimateGearSets": {
        "type": "object",
        "properties": {
          "warrior": {
            "type": "boolean"
          },
          "rogue": {
            "type": "boolean"
          },
          "wizard": {
            "type": "boolean"
          },
          "healer": {
            "type": "boolean"
          }
        },
        "required": [
          "warrior",
          "rogue",
          "wizard",
          "healer"
        ]
      },
      "ListApiv3UserOkDataAchievementsQuests": {
        "type": "object",
        "properties": {
          "dustbunnies": {
            "type": "integer",
            "example": 1
          },
          "basilist": {
            "type": "integer",
            "example": 1
          },
          "moon1": {
            "type": "integer",
            "example": 1
          },
          "moon2": {
            "type": "integer",
            "example": 1
          },
          "dysheartener": {
            "type": "integer",
            "example": 1
          },
          "moon3": {
            "type": "integer",
            "example": 1
          },
          "vice1": {
            "type": "integer",
            "example": 1
          },
          "vice2": {
            "type": "integer",
            "example": 1
          },
          "vice3": {
            "type": "integer",
            "example": 1
          },
          "atom1": {
            "type": "integer",
            "example": 1
          },
          "atom2": {
            "type": "integer",
            "example": 1
          }
        },
        "required": [
          "dustbunnies",
          "basilist",
          "moon1",
          "moon2",
          "dysheartener",
          "moon3",
          "vice1",
          "vice2",
          "vice3",
          "atom1",
          "atom2"
        ]
      },
      "ListApiv3UserOkDataPurchased": {
        "type": "object",
        "properties": {
          "plan": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPurchasedPlan"
          },
          "txnCount": {
            "type": "integer",
            "example": 0
          },
          "background": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPurchasedBackground"
          },
          "shirt": {
            "type": "object"
          },
          "hair": {
            "type": "object"
          },
          "skin": {
            "type": "object"
          },
          "ads": {
            "type": "boolean"
          }
        },
        "required": [
          "plan",
          "txnCount",
          "background",
          "shirt",
          "hair",
          "skin",
          "ads"
        ]
      },
      "ListApiv3UserOkDataPurchasedPlan": {
        "type": "object",
        "properties": {
          "consecutive": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPurchasedPlanConsecutive"
          },
          "mysteryItems": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "gemsBought": {
            "type": "integer",
            "example": 0
          },
          "extraMonths": {
            "type": "integer",
            "example": 0
          },
          "quantity": {
            "type": "integer",
            "example": 1
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time",
            "example": "2017-09-25T07:33:49.386Z"
          },
          "perkMonthCount": {
            "type": "integer",
            "example": -1
          },
          "cumulativeCount": {
            "type": "integer",
            "example": 0
          }
        },
        "required": [
          "consecutive",
          "mysteryItems",
          "gemsBought",
          "extraMonths",
          "quantity",
          "dateUpdated",
          "perkMonthCount",
          "cumulativeCount"
        ]
      },
      "ListApiv3UserOkDataPurchasedPlanConsecutive": {
        "type": "object",
        "properties": {
          "trinkets": {
            "type": "integer",
            "example": 0
          },
          "gemCapExtra": {
            "type": "integer",
            "example": 0
          },
          "offset": {
            "type": "integer",
            "example": 0
          },
          "count": {
            "type": "integer",
            "example": 0
          }
        },
        "required": [
          "trinkets",
          "gemCapExtra",
          "offset",
          "count"
        ]
      },
      "ListApiv3UserOkDataPurchasedBackground": {
        "type": "object",
        "properties": {
          "yellow": {
            "type": "boolean"
          },
          "red": {
            "type": "boolean"
          },
          "purple": {
            "type": "boolean"
          },
          "green": {
            "type": "boolean"
          },
          "blue": {
            "type": "boolean"
          },
          "violet": {
            "type": "boolean"
          },
          "on_a_strange_planet": {
            "type": "boolean"
          }
        },
        "required": [
          "yellow",
          "red",
          "purple",
          "green",
          "blue",
          "violet",
          "on_a_strange_planet"
        ]
      },
      "ListApiv3UserOkDataFlags": {
        "type": "object",
        "properties": {
          "tour": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataFlagsTour"
          },
          "tutorial": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataFlagsTutorial"
          },
          "customizationsNotification": {
            "type": "boolean"
          },
          "showTour": {
            "type": "boolean"
          },
          "dropsEnabled": {
            "type": "boolean"
          },
          "itemsEnabled": {
            "type": "boolean"
          },
          "lastNewStuffRead": {
            "type": "string",
            "format": "uuid",
            "example": "de377c3a-208e-4b23-98d1-58f7c4f305d5"
          },
          "rewrite": {
            "type": "boolean"
          },
          "classSelected": {
            "type": "boolean"
          },
          "rebirthEnabled": {
            "type": "boolean"
          },
          "recaptureEmailsPhase": {
            "type": "integer",
            "example": 0
          },
          "weeklyRecapEmailsPhase": {
            "type": "integer",
            "example": 0
          },
          "communityGuidelinesAccepted": {
            "type": "boolean"
          },
          "cronCount": {
            "type": "integer",
            "example": 1486
          },
          "welcomed": {
            "type": "boolean"
          },
          "armoireEnabled": {
            "type": "boolean"
          },
          "armoireOpened": {
            "type": "boolean"
          },
          "armoireEmpty": {
            "type": "boolean"
          },
          "cardReceived": {
            "type": "boolean"
          },
          "warnedLowHealth": {
            "type": "boolean"
          },
          "verifiedUsername": {
            "type": "boolean"
          },
          "levelDrops": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataFlagsLevelDrops"
          },
          "lastWeeklyRecap": {
            "type": "string",
            "format": "date-time",
            "example": "2017-01-26T18:12:42.189Z"
          },
          "initializedUserHistory": {
            "type": "boolean"
          },
          "thirdPartyTools": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-05T21:37:40.576Z"
          },
          "newStuff": {
            "type": "boolean"
          }
        },
        "required": [
          "tour",
          "tutorial",
          "customizationsNotification",
          "showTour",
          "dropsEnabled",
          "itemsEnabled",
          "lastNewStuffRead",
          "rewrite",
          "classSelected",
          "rebirthEnabled",
          "recaptureEmailsPhase",
          "weeklyRecapEmailsPhase",
          "communityGuidelinesAccepted",
          "cronCount",
          "welcomed",
          "armoireEnabled",
          "armoireOpened",
          "armoireEmpty",
          "cardReceived",
          "warnedLowHealth",
          "verifiedUsername",
          "levelDrops",
          "lastWeeklyRecap",
          "initializedUserHistory",
          "thirdPartyTools",
          "newStuff"
        ]
      },
      "ListApiv3UserOkDataFlagsTour": {
        "type": "object",
        "properties": {
          "intro": {
            "type": "integer",
            "example": -2
          },
          "classes": {
            "type": "integer",
            "example": 0
          },
          "stats": {
            "type": "integer",
            "example": -2
          },
          "tavern": {
            "type": "integer",
            "example": -2
          },
          "party": {
            "type": "integer",
            "example": -2
          },
          "guilds": {
            "type": "integer",
            "example": -2
          },
          "challenges": {
            "type": "integer",
            "example": -2
          },
          "market": {
            "type": "integer",
            "example": -2
          },
          "pets": {
            "type": "integer",
            "example": -2
          },
          "mounts": {
            "type": "integer",
            "example": -2
          },
          "hall": {
            "type": "integer",
            "example": -2
          },
          "equipment": {
            "type": "integer",
            "example": -2
          },
          "groupPlans": {
            "type": "integer",
            "example": -1
          }
        },
        "required": [
          "intro",
          "classes",
          "stats",
          "tavern",
          "party",
          "guilds",
          "challenges",
          "market",
          "pets",
          "mounts",
          "hall",
          "equipment",
          "groupPlans"
        ]
      },
      "ListApiv3UserOkDataFlagsTutorial": {
        "type": "object",
        "properties": {
          "common": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataFlagsTutorialCommon"
          },
          "ios": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataFlagsTutorialIos"
          }
        },
        "required": [
          "common",
          "ios"
        ]
      },
      "ListApiv3UserOkDataFlagsTutorialCommon": {
        "type": "object",
        "properties": {
          "habits": {
            "type": "boolean"
          },
          "dailies": {
            "type": "boolean"
          },
          "todos": {
            "type": "boolean"
          },
          "rewards": {
            "type": "boolean"
          },
          "party": {
            "type": "boolean"
          },
          "pets": {
            "type": "boolean"
          },
          "gems": {
            "type": "boolean"
          },
          "skills": {
            "type": "boolean"
          },
          "classes": {
            "type": "boolean"
          },
          "tavern": {
            "type": "boolean"
          },
          "equipment": {
            "type": "boolean"
          },
          "items": {
            "type": "boolean"
          },
          "mounts": {
            "type": "boolean"
          },
          "inbox": {
            "type": "boolean"
          },
          "stats": {
            "type": "boolean"
          }
        },
        "required": [
          "habits",
          "dailies",
          "todos",
          "rewards",
          "party",
          "pets",
          "gems",
          "skills",
          "classes",
          "tavern",
          "equipment",
          "items",
          "mounts",
          "inbox",
          "stats"
        ]
      },
      "ListApiv3UserOkDataFlagsTutorialIos": {
        "type": "object",
        "properties": {
          "addTask": {
            "type": "boolean"
          },
          "editTask": {
            "type": "boolean"
          },
          "deleteTask": {
            "type": "boolean"
          },
          "filterTask": {
            "type": "boolean"
          },
          "groupPets": {
            "type": "boolean"
          },
          "inviteParty": {
            "type": "boolean"
          },
          "reorderTask": {
            "type": "boolean"
          }
        },
        "required": [
          "addTask",
          "editTask",
          "deleteTask",
          "filterTask",
          "groupPets",
          "inviteParty",
          "reorderTask"
        ]
      },
      "ListApiv3UserOkDataFlagsLevelDrops": {
        "type": "object",
        "properties": {
          "atom1": {
            "type": "boolean"
          },
          "vice1": {
            "type": "boolean"
          },
          "goldenknight1": {
            "type": "boolean"
          },
          "moonstone1": {
            "type": "boolean"
          }
        },
        "required": [
          "atom1",
          "vice1",
          "goldenknight1",
          "moonstone1"
        ]
      },
      "ListApiv3UserOkDataHistory": {
        "type": "object",
        "properties": {
          "todos": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataHistoryTodos"
          },
          "exp": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataHistoryExp"
          }
        },
        "required": [
          "todos",
          "exp"
        ]
      },
      "ListApiv3UserOkDataHistoryTodos": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ListApiv3UserOkDataHistoryTodosItem"
        }
      },
      "ListApiv3UserOkDataHistoryTodosItem": {
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataHistoryTodosItemDate"
          },
          "value": {
            "type": "number",
            "format": "double",
            "example": -2176.2784290345226
          }
        },
        "required": [
          "date",
          "value"
        ]
      },
      "ListApiv3UserOkDataHistoryTodosItemDate": {
        "oneOf": [
          {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-06T02:26:43.371Z"
          },
          {
            "type": "integer",
            "example": 1485487350827
          }
        ]
      },
      "ListApiv3UserOkDataHistoryExp": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ListApiv3UserOkDataHistoryExpItem"
        }
      },
      "ListApiv3UserOkDataHistoryExpItem": {
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataHistoryExpItemDate"
          },
          "value": {
            "type": "number",
            "format": "double",
            "example": 4831.31241363118
          }
        },
        "required": [
          "date",
          "value"
        ]
      },
      "ListApiv3UserOkDataHistoryExpItemDate": {
        "oneOf": [
          {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-06T02:26:43.371Z"
          },
          {
            "type": "integer",
            "example": 1485487350827
          }
        ]
      },
      "ListApiv3UserOkDataItems": {
        "type": "object",
        "properties": {
          "gear": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsGear"
          },
          "special": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsSpecial"
          },
          "lastDrop": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsLastDrop"
          },
          "quests": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsQuests"
          },
          "mounts": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsMounts"
          },
          "food": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsFood"
          },
          "hatchingPotions": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsHatchingPotions"
          },
          "eggs": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsEggs"
          },
          "pets": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsPets"
          },
          "currentPet": {
            "type": "string",
            "example": ""
          },
          "currentMount": {
            "type": "string",
            "example": "Dragon-Red"
          }
        },
        "required": [
          "gear",
          "special",
          "lastDrop",
          "quests",
          "mounts",
          "food",
          "hatchingPotions",
          "eggs",
          "pets",
          "currentPet",
          "currentMount"
        ]
      },
      "ListApiv3UserOkDataItemsGear": {
        "type": "object",
        "properties": {
          "equipped": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsGearEquipped"
          },
          "costume": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsGearCostume"
          },
          "owned": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataItemsGearOwned"
          }
        },
        "required": [
          "equipped",
          "costume",
          "owned"
        ]
      },
      "ListApiv3UserOkDataItemsGearEquipped": {
        "type": "object",
        "properties": {
          "weapon": {
            "type": "string",
            "example": "weapon_special_2"
          },
          "armor": {
            "type": "string",
            "example": "armor_special_nomadsCuirass"
          },
          "head": {
            "type": "string",
            "example": "head_warrior_5"
          },
          "shield": {
            "type": "string",
            "example": "shield_special_wakizashi"
          },
          "back": {
            "type": "string",
            "example": "back_special_namingDay2020"
          },
          "eyewear": {
            "type": "string",
            "example": "eyewear_base_0"
          },
          "body": {
            "type": "string",
            "example": "body_special_namingDay2018"
          }
        },
        "required": [
          "weapon",
          "armor",
          "head",
          "shield",
          "back",
          "eyewear",
          "body"
        ]
      },
      "ListApiv3UserOkDataItemsGearCostume": {
        "type": "object",
        "properties": {
          "shield": {
            "type": "string",
            "example": "shield_base_0"
          },
          "head": {
            "type": "string",
            "example": "head_base_0"
          },
          "armor": {
            "type": "string",
            "example": "armor_base_0"
          }
        },
        "required": [
          "shield",
          "head",
          "armor"
        ]
      },
      "ListApiv3UserOkDataItemsGearOwned": {
        "type": "object",
        "properties": {
          "eyewear_special_yellowTopFrame": {
            "type": "boolean"
          },
          "eyewear_special_whiteTopFrame": {
            "type": "boolean"
          },
          "eyewear_special_redTopFrame": {
            "type": "boolean"
          },
          "eyewear_special_pinkTopFrame": {
            "type": "boolean"
          },
          "eyewear_special_greenTopFrame": {
            "type": "boolean"
          },
          "eyewear_special_blueTopFrame": {
            "type": "boolean"
          },
          "eyewear_special_blackTopFrame": {
            "type": "boolean"
          },
          "armor_special_bardRobes": {
            "type": "boolean"
          },
          "head_special_bardHat": {
            "type": "boolean"
          },
          "head_warrior_1": {
            "type": "boolean"
          },
          "weapon_warrior_0": {
            "type": "boolean"
          },
          "shield_warrior_1": {
            "type": "boolean"
          },
          "weapon_warrior_1": {
            "type": "boolean"
          },
          "armor_special_birthday": {
            "type": "boolean"
          },
          "weapon_warrior_2": {
            "type": "boolean"
          },
          "head_warrior_2": {
            "type": "boolean"
          },
          "weapon_special_bardInstrument": {
            "type": "boolean"
          },
          "armor_warrior_1": {
            "type": "boolean"
          },
          "shield_warrior_2": {
            "type": "boolean"
          },
          "armor_warrior_2": {
            "type": "boolean"
          },
          "head_warrior_3": {
            "type": "boolean"
          },
          "head_special_lunarWarriorHelm": {
            "type": "boolean"
          },
          "shield_special_spring2017Warrior": {
            "type": "boolean"
          },
          "weapon_warrior_3": {
            "type": "boolean"
          },
          "armor_special_pageArmor": {
            "type": "boolean"
          },
          "head_special_pageHelm": {
            "type": "boolean"
          },
          "armor_warrior_3": {
            "type": "boolean"
          },
          "weapon_special_pageBanner": {
            "type": "boolean"
          },
          "shield_special_diamondStave": {
            "type": "boolean"
          },
          "armor_special_lunarWarriorArmor": {
            "type": "boolean"
          },
          "weapon_armoire_basicLongbow": {
            "type": "boolean"
          },
          "armor_warrior_4": {
            "type": "boolean"
          },
          "shield_warrior_3": {
            "type": "boolean"
          },
          "shield_special_lootBag": {
            "type": "boolean"
          },
          "weapon_special_skeletonKey": {
            "type": "boolean"
          },
          "head_special_nye": {
            "type": "boolean"
          },
          "armor_special_sneakthiefRobes": {
            "type": "boolean"
          },
          "head_special_clandestineCowl": {
            "type": "boolean"
          },
          "shield_special_winter2018Warrior": {
            "type": "boolean"
          },
          "armor_special_snowSovereignRobes": {
            "type": "boolean"
          },
          "head_special_snowSovereignCrown": {
            "type": "boolean"
          },
          "armor_special_birthday2015": {
            "type": "boolean"
          },
          "back_special_snowdriftVeil": {
            "type": "boolean"
          },
          "shield_special_wintryMirror": {
            "type": "boolean"
          },
          "headAccessory_special_blackHeadband": {
            "type": "boolean"
          },
          "headAccessory_special_blueHeadband": {
            "type": "boolean"
          },
          "headAccessory_special_greenHeadband": {
            "type": "boolean"
          },
          "headAccessory_special_pinkHeadband": {
            "type": "boolean"
          },
          "headAccessory_special_redHeadband": {
            "type": "boolean"
          },
          "headAccessory_special_whiteHeadband": {
            "type": "boolean"
          },
          "headAccessory_special_yellowHeadband": {
            "type": "boolean"
          },
          "weapon_warrior_4": {
            "type": "boolean"
          },
          "weapon_warrior_5": {
            "type": "boolean"
          },
          "head_warrior_4": {
            "type": "boolean"
          },
          "armor_warrior_5": {
            "type": "boolean"
          },
          "shield_warrior_4": {
            "type": "boolean"
          },
          "weapon_special_lunarScythe": {
            "type": "boolean"
          },
          "head_special_nye2014": {
            "type": "boolean"
          },
          "armor_special_nomadsCuirass": {
            "type": "boolean"
          },
          "weapon_special_nomadsScimitar": {
            "type": "boolean"
          },
          "head_armoire_bigWig": {
            "type": "boolean"
          },
          "armor_special_birthday2016": {
            "type": "boolean"
          },
          "head_special_spikedHelm": {
            "type": "boolean"
          },
          "head_special_piDay": {
            "type": "boolean"
          },
          "shield_special_piDay": {
            "type": "boolean"
          },
          "eyewear_special_blackHalfMoon": {
            "type": "boolean"
          },
          "eyewear_special_blueHalfMoon": {
            "type": "boolean"
          },
          "eyewear_special_greenHalfMoon": {
            "type": "boolean"
          },
          "eyewear_special_pinkHalfMoon": {
            "type": "boolean"
          },
          "eyewear_special_redHalfMoon": {
            "type": "boolean"
          },
          "eyewear_special_whiteHalfMoon": {
            "type": "boolean"
          },
          "eyewear_special_yellowHalfMoon": {
            "type": "boolean"
          },
          "head_special_namingDay2017": {
            "type": "boolean"
          },
          "head_special_nye2015": {
            "type": "boolean"
          },
          "armor_special_birthday2017": {
            "type": "boolean"
          },
          "body_special_namingDay2018": {
            "type": "boolean"
          },
          "head_special_nye2016": {
            "type": "boolean"
          },
          "armor_special_birthday2018": {
            "type": "boolean"
          },
          "back_special_namingDay2020": {
            "type": "boolean"
          },
          "head_special_dandyHat": {
            "type": "boolean"
          },
          "weapon_special_fencingFoil": {
            "type": "boolean"
          },
          "armor_special_dandySuit": {
            "type": "boolean"
          },
          "shield_warrior_5": {
            "type": "boolean"
          },
          "head_warrior_5": {
            "type": "boolean"
          },
          "weapon_warrior_6": {
            "type": "boolean"
          },
          "weapon_special_fall2021Warrior": {
            "type": "boolean"
          },
          "armor_special_turkeyArmorBase": {
            "type": "boolean"
          },
          "back_special_turkeyTailBase": {
            "type": "boolean"
          },
          "head_special_turkeyHelmBase": {
            "type": "boolean"
          },
          "head_special_nye2017": {
            "type": "boolean"
          },
          "weapon_armoire_jesterBaton": {
            "type": "boolean"
          },
          "weapon_special_tachi": {
            "type": "boolean"
          },
          "armor_special_samuraiArmor": {
            "type": "boolean"
          },
          "weapon_special_winter2022Warrior": {
            "type": "boolean"
          },
          "head_special_winter2022Warrior": {
            "type": "boolean"
          },
          "shield_special_winter2022Warrior": {
            "type": "boolean"
          },
          "armor_special_birthday2019": {
            "type": "boolean"
          },
          "head_special_kabuto": {
            "type": "boolean"
          },
          "shield_special_wakizashi": {
            "type": "boolean"
          },
          "weapon_special_2": {
            "type": "boolean"
          },
          "weapon_armoire_potionBase": {
            "type": "boolean"
          },
          "weapon_armoire_potionSkeleton": {
            "type": "boolean"
          },
          "weapon_special_spring2022Warrior": {
            "type": "boolean"
          },
          "head_special_spring2022Warrior": {
            "type": "boolean"
          },
          "head_special_fall2022Warrior": {
            "type": "boolean"
          },
          "weapon_special_fall2022Warrior": {
            "type": "boolean"
          },
          "armor_special_fall2022Warrior": {
            "type": "boolean"
          },
          "shield_special_fall2022Warrior": {
            "type": "boolean"
          },
          "armor_special_turkeyArmorGilded": {
            "type": "boolean"
          },
          "back_special_turkeyTailGilded": {
            "type": "boolean"
          },
          "head_special_turkeyHelmGilded": {
            "type": "boolean"
          },
          "head_special_nye2018": {
            "type": "boolean"
          },
          "armor_special_summer2023Warrior": {
            "type": "boolean"
          },
          "head_special_summer2023Warrior": {
            "type": "boolean"
          },
          "weapon_special_summer2023Warrior": {
            "type": "boolean"
          },
          "shield_special_summer2023Warrior": {
            "type": "boolean"
          },
          "head_special_nye2019": {
            "type": "boolean"
          },
          "armor_special_birthday2020": {
            "type": "boolean"
          },
          "head_special_nye2020": {
            "type": "boolean"
          },
          "armor_special_birthday2021": {
            "type": "boolean"
          },
          "armor_special_spring2025Warrior": {
            "type": "boolean"
          },
          "weapon_special_spring2025Warrior": {
            "type": "boolean"
          },
          "head_special_spring2025Warrior": {
            "type": "boolean"
          },
          "shield_special_spring2025Warrior": {
            "type": "boolean"
          },
          "shield_armoire_baseballGlove": {
            "type": "boolean"
          },
          "head_special_nye2021": {
            "type": "boolean"
          },
          "armor_special_birthday2022": {
            "type": "boolean"
          }
        },
        "required": [
          "eyewear_special_yellowTopFrame",
          "eyewear_special_whiteTopFrame",
          "eyewear_special_redTopFrame",
          "eyewear_special_pinkTopFrame",
          "eyewear_special_greenTopFrame",
          "eyewear_special_blueTopFrame",
          "eyewear_special_blackTopFrame",
          "armor_special_bardRobes",
          "head_special_bardHat",
          "head_warrior_1",
          "weapon_warrior_0",
          "shield_warrior_1",
          "weapon_warrior_1",
          "armor_special_birthday",
          "weapon_warrior_2",
          "head_warrior_2",
          "weapon_special_bardInstrument",
          "armor_warrior_1",
          "shield_warrior_2",
          "armor_warrior_2",
          "head_warrior_3",
          "head_special_lunarWarriorHelm",
          "shield_special_spring2017Warrior",
          "weapon_warrior_3",
          "armor_special_pageArmor",
          "head_special_pageHelm",
          "armor_warrior_3",
          "weapon_special_pageBanner",
          "shield_special_diamondStave",
          "armor_special_lunarWarriorArmor",
          "weapon_armoire_basicLongbow",
          "armor_warrior_4",
          "shield_warrior_3",
          "shield_special_lootBag",
          "weapon_special_skeletonKey",
          "head_special_nye",
          "armor_special_sneakthiefRobes",
          "head_special_clandestineCowl",
          "shield_special_winter2018Warrior",
          "armor_special_snowSovereignRobes",
          "head_special_snowSovereignCrown",
          "armor_special_birthday2015",
          "back_special_snowdriftVeil",
          "shield_special_wintryMirror",
          "headAccessory_special_blackHeadband",
          "headAccessory_special_blueHeadband",
          "headAccessory_special_greenHeadband",
          "headAccessory_special_pinkHeadband",
          "headAccessory_special_redHeadband",
          "headAccessory_special_whiteHeadband",
          "headAccessory_special_yellowHeadband",
          "weapon_warrior_4",
          "weapon_warrior_5",
          "head_warrior_4",
          "armor_warrior_5",
          "shield_warrior_4",
          "weapon_special_lunarScythe",
          "head_special_nye2014",
          "armor_special_nomadsCuirass",
          "weapon_special_nomadsScimitar",
          "head_armoire_bigWig",
          "armor_special_birthday2016",
          "head_special_spikedHelm",
          "head_special_piDay",
          "shield_special_piDay",
          "eyewear_special_blackHalfMoon",
          "eyewear_special_blueHalfMoon",
          "eyewear_special_greenHalfMoon",
          "eyewear_special_pinkHalfMoon",
          "eyewear_special_redHalfMoon",
          "eyewear_special_whiteHalfMoon",
          "eyewear_special_yellowHalfMoon",
          "head_special_namingDay2017",
          "head_special_nye2015",
          "armor_special_birthday2017",
          "body_special_namingDay2018",
          "head_special_nye2016",
          "armor_special_birthday2018",
          "back_special_namingDay2020",
          "head_special_dandyHat",
          "weapon_special_fencingFoil",
          "armor_special_dandySuit",
          "shield_warrior_5",
          "head_warrior_5",
          "weapon_warrior_6",
          "weapon_special_fall2021Warrior",
          "armor_special_turkeyArmorBase",
          "back_special_turkeyTailBase",
          "head_special_turkeyHelmBase",
          "head_special_nye2017",
          "weapon_armoire_jesterBaton",
          "weapon_special_tachi",
          "armor_special_samuraiArmor",
          "weapon_special_winter2022Warrior",
          "head_special_winter2022Warrior",
          "shield_special_winter2022Warrior",
          "armor_special_birthday2019",
          "head_special_kabuto",
          "shield_special_wakizashi",
          "weapon_special_2",
          "weapon_armoire_potionBase",
          "weapon_armoire_potionSkeleton",
          "weapon_special_spring2022Warrior",
          "head_special_spring2022Warrior",
          "head_special_fall2022Warrior",
          "weapon_special_fall2022Warrior",
          "armor_special_fall2022Warrior",
          "shield_special_fall2022Warrior",
          "armor_special_turkeyArmorGilded",
          "back_special_turkeyTailGilded",
          "head_special_turkeyHelmGilded",
          "head_special_nye2018",
          "armor_special_summer2023Warrior",
          "head_special_summer2023Warrior",
          "weapon_special_summer2023Warrior",
          "shield_special_summer2023Warrior",
          "head_special_nye2019",
          "armor_special_birthday2020",
          "head_special_nye2020",
          "armor_special_birthday2021",
          "armor_special_spring2025Warrior",
          "weapon_special_spring2025Warrior",
          "head_special_spring2025Warrior",
          "shield_special_spring2025Warrior",
          "shield_armoire_baseballGlove",
          "head_special_nye2021",
          "armor_special_birthday2022"
        ]
      },
      "ListApiv3UserOkDataItemsSpecial": {
        "type": "object",
        "properties": {
          "birthdayReceived": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "birthday": {
            "type": "integer",
            "example": 0
          },
          "thankyouReceived": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "thankyou": {
            "type": "integer",
            "example": 0
          },
          "greetingReceived": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "greeting": {
            "type": "integer",
            "example": 0
          },
          "nyeReceived": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "nye": {
            "type": "integer",
            "example": 0
          },
          "valentineReceived": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "valentine": {
            "type": "integer",
            "example": 0
          },
          "seafoam": {
            "type": "integer",
            "example": 1
          },
          "shinySeed": {
            "type": "integer",
            "example": 0
          },
          "spookySparkles": {
            "type": "integer",
            "example": 0
          },
          "snowball": {
            "type": "integer",
            "example": 0
          },
          "congratsReceived": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "getwellReceived": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "goodluckReceived": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "congrats": {
            "type": "integer",
            "example": 0
          },
          "getwell": {
            "type": "integer",
            "example": 0
          },
          "goodluck": {
            "type": "integer",
            "example": 0
          }
        },
        "required": [
          "birthdayReceived",
          "birthday",
          "thankyouReceived",
          "thankyou",
          "greetingReceived",
          "greeting",
          "nyeReceived",
          "nye",
          "valentineReceived",
          "valentine",
          "seafoam",
          "shinySeed",
          "spookySparkles",
          "snowball",
          "congratsReceived",
          "getwellReceived",
          "goodluckReceived",
          "congrats",
          "getwell",
          "goodluck"
        ]
      },
      "ListApiv3UserOkDataItemsLastDrop": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "example": 3
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-05T21:20:38.720Z"
          }
        },
        "required": [
          "count",
          "date"
        ]
      },
      "ListApiv3UserOkDataItemsQuests": {
        "type": "object",
        "properties": {
          "dustbunnies": {
            "type": "integer",
            "example": 0
          },
          "moon1": {
            "type": "integer",
            "example": 0
          },
          "basilist": {
            "type": "integer",
            "example": 3
          },
          "moon2": {
            "type": "integer",
            "example": 0
          },
          "moon3": {
            "type": "integer",
            "example": 0
          },
          "atom1": {
            "type": "integer",
            "example": 0
          },
          "dilatoryDistress1": {
            "type": "integer",
            "example": 1
          },
          "vice1": {
            "type": "integer",
            "example": 0
          },
          "vice2": {
            "type": "integer",
            "example": 0
          },
          "goldenknight1": {
            "type": "integer",
            "example": 1
          },
          "vice3": {
            "type": "integer",
            "example": 0
          },
          "atom2": {
            "type": "integer",
            "example": 0
          },
          "atom3": {
            "type": "integer",
            "example": 1
          },
          "moonstone1": {
            "type": "integer",
            "example": 1
          }
        },
        "required": [
          "dustbunnies",
          "moon1",
          "basilist",
          "moon2",
          "moon3",
          "atom1",
          "dilatoryDistress1",
          "vice1",
          "vice2",
          "goldenknight1",
          "vice3",
          "atom2",
          "atom3",
          "moonstone1"
        ]
      },
      "ListApiv3UserOkDataItemsMounts": {
        "type": "object",
        "properties": {
          "Wolf-RoyalPurple": {
            "type": "boolean"
          },
          "PandaCub-Desert": {
            "type": "boolean"
          },
          "Orca-Base": {
            "type": "boolean"
          },
          "Gryphon-RoyalPurple": {
            "type": "boolean"
          },
          "Hippogriff-Hopeful": {
            "type": "boolean"
          },
          "JackOLantern-Base": {
            "type": "boolean"
          },
          "Turkey-Base": {
            "type": "boolean"
          },
          "Dragon-Red": {
            "type": "boolean"
          },
          "Wolf-Red": {
            "type": "boolean"
          },
          "PandaCub-Base": {
            "type": "boolean"
          },
          "PandaCub-White": {
            "type": "boolean"
          },
          "FlyingPig-Desert": {
            "type": "boolean"
          },
          "TigerCub-Shade": {
            "type": "boolean"
          },
          "Wolf-Skeleton": {
            "type": "boolean"
          },
          "TigerCub-Zombie": {
            "type": "boolean"
          },
          "PandaCub-Zombie": {
            "type": "boolean"
          },
          "TigerCub-Skeleton": {
            "type": "boolean"
          },
          "Wolf-CottonCandyPink": {
            "type": "boolean"
          },
          "Dragon-CottonCandyPink": {
            "type": "boolean"
          },
          "Wolf-CottonCandyBlue": {
            "type": "boolean"
          },
          "Cactus-CottonCandyBlue": {
            "type": "boolean"
          },
          "Dragon-Golden": {
            "type": "boolean"
          },
          "Wolf-Golden": {
            "type": "boolean"
          },
          "Fox-CottonCandyBlue": {
            "type": "boolean"
          },
          "PandaCub-Shade": {
            "type": "boolean"
          },
          "Wolf-White": {
            "type": "boolean"
          },
          "BearCub-Golden": {
            "type": "boolean"
          },
          "Cactus-Desert": {
            "type": "boolean"
          },
          "TigerCub-Red": {
            "type": "boolean"
          },
          "Wolf-Base": {
            "type": "boolean"
          },
          "JackOLantern-Ghost": {
            "type": "boolean"
          },
          "Turkey-Gilded": {
            "type": "boolean"
          },
          "JackOLantern-Glow": {
            "type": "boolean"
          },
          "JackOLantern-RoyalPurple": {
            "type": "boolean"
          },
          "Wolf-Desert": {
            "type": "boolean"
          },
          "Wolf-Shade": {
            "type": "boolean"
          },
          "Wolf-Zombie": {
            "type": "boolean"
          },
          "TigerCub-Base": {
            "type": "boolean"
          },
          "TigerCub-White": {
            "type": "boolean"
          },
          "TigerCub-Desert": {
            "type": "boolean"
          },
          "TigerCub-CottonCandyPink": {
            "type": "boolean"
          },
          "TigerCub-CottonCandyBlue": {
            "type": "boolean"
          },
          "TigerCub-Golden": {
            "type": "boolean"
          },
          "PandaCub-Red": {
            "type": "boolean"
          },
          "PandaCub-Skeleton": {
            "type": "boolean"
          },
          "PandaCub-CottonCandyPink": {
            "type": "boolean"
          },
          "PandaCub-CottonCandyBlue": {
            "type": "boolean"
          },
          "PandaCub-Golden": {
            "type": "boolean"
          },
          "LionCub-Base": {
            "type": "boolean"
          },
          "LionCub-White": {
            "type": "boolean"
          },
          "LionCub-Shade": {
            "type": "boolean"
          },
          "LionCub-Skeleton": {
            "type": "boolean"
          },
          "LionCub-Zombie": {
            "type": "boolean"
          },
          "LionCub-CottonCandyPink": {
            "type": "boolean"
          },
          "LionCub-CottonCandyBlue": {
            "type": "boolean"
          },
          "Fox-Base": {
            "type": "boolean"
          },
          "BearCub-Base": {
            "type": "boolean"
          },
          "Cactus-Base": {
            "type": "boolean"
          },
          "Dragon-Base": {
            "type": "boolean"
          },
          "FlyingPig-Base": {
            "type": "boolean"
          },
          "FlyingPig-White": {
            "type": "boolean"
          },
          "Fox-White": {
            "type": "boolean"
          },
          "Dragon-White": {
            "type": "boolean"
          },
          "Dragon-Desert": {
            "type": "boolean"
          },
          "Dragon-Shade": {
            "type": "boolean"
          },
          "Dragon-Skeleton": {
            "type": "boolean"
          },
          "Dragon-Zombie": {
            "type": "boolean"
          },
          "Dragon-CottonCandyBlue": {
            "type": "boolean"
          },
          "BearCub-White": {
            "type": "boolean"
          },
          "BearCub-Desert": {
            "type": "boolean"
          },
          "BearCub-Red": {
            "type": "boolean"
          },
          "BearCub-Shade": {
            "type": "boolean"
          },
          "BearCub-Skeleton": {
            "type": "boolean"
          },
          "BearCub-Zombie": {
            "type": "boolean"
          },
          "BearCub-CottonCandyPink": {
            "type": "boolean"
          },
          "BearCub-CottonCandyBlue": {
            "type": "boolean"
          },
          "Cactus-White": {
            "type": "boolean"
          },
          "Cactus-Red": {
            "type": "boolean"
          },
          "Cactus-Shade": {
            "type": "boolean"
          },
          "Cactus-Skeleton": {
            "type": "boolean"
          }
        },
        "required": [
          "Wolf-RoyalPurple",
          "PandaCub-Desert",
          "Orca-Base",
          "Gryphon-RoyalPurple",
          "Hippogriff-Hopeful",
          "JackOLantern-Base",
          "Turkey-Base",
          "Dragon-Red",
          "Wolf-Red",
          "PandaCub-Base",
          "PandaCub-White",
          "FlyingPig-Desert",
          "TigerCub-Shade",
          "Wolf-Skeleton",
          "TigerCub-Zombie",
          "PandaCub-Zombie",
          "TigerCub-Skeleton",
          "Wolf-CottonCandyPink",
          "Dragon-CottonCandyPink",
          "Wolf-CottonCandyBlue",
          "Cactus-CottonCandyBlue",
          "Dragon-Golden",
          "Wolf-Golden",
          "Fox-CottonCandyBlue",
          "PandaCub-Shade",
          "Wolf-White",
          "BearCub-Golden",
          "Cactus-Desert",
          "TigerCub-Red",
          "Wolf-Base",
          "JackOLantern-Ghost",
          "Turkey-Gilded",
          "JackOLantern-Glow",
          "JackOLantern-RoyalPurple",
          "Wolf-Desert",
          "Wolf-Shade",
          "Wolf-Zombie",
          "TigerCub-Base",
          "TigerCub-White",
          "TigerCub-Desert",
          "TigerCub-CottonCandyPink",
          "TigerCub-CottonCandyBlue",
          "TigerCub-Golden",
          "PandaCub-Red",
          "PandaCub-Skeleton",
          "PandaCub-CottonCandyPink",
          "PandaCub-CottonCandyBlue",
          "PandaCub-Golden",
          "LionCub-Base",
          "LionCub-White",
          "LionCub-Shade",
          "LionCub-Skeleton",
          "LionCub-Zombie",
          "LionCub-CottonCandyPink",
          "LionCub-CottonCandyBlue",
          "Fox-Base",
          "BearCub-Base",
          "Cactus-Base",
          "Dragon-Base",
          "FlyingPig-Base",
          "FlyingPig-White",
          "Fox-White",
          "Dragon-White",
          "Dragon-Desert",
          "Dragon-Shade",
          "Dragon-Skeleton",
          "Dragon-Zombie",
          "Dragon-CottonCandyBlue",
          "BearCub-White",
          "BearCub-Desert",
          "BearCub-Red",
          "BearCub-Shade",
          "BearCub-Skeleton",
          "BearCub-Zombie",
          "BearCub-CottonCandyPink",
          "BearCub-CottonCandyBlue",
          "Cactus-White",
          "Cactus-Red",
          "Cactus-Shade",
          "Cactus-Skeleton"
        ]
      },
      "ListApiv3UserOkDataItemsFood": {
        "type": "object",
        "properties": {
          "Potatoe": {
            "type": "integer",
            "example": 91
          },
          "Chocolate": {
            "type": "integer",
            "example": 110
          },
          "CottonCandyPink": {
            "type": "integer",
            "example": 105
          },
          "Meat": {
            "type": "integer",
            "example": 86
          },
          "CottonCandyBlue": {
            "type": "integer",
            "example": 95
          },
          "RottenMeat": {
            "type": "integer",
            "example": 109
          },
          "Cake_Skeleton": {
            "type": "integer",
            "example": 15
          },
          "Cake_Base": {
            "type": "integer",
            "example": 17
          },
          "Cake_CottonCandyBlue": {
            "type": "integer",
            "example": 14
          },
          "Cake_CottonCandyPink": {
            "type": "integer",
            "example": 15
          },
          "Cake_Shade": {
            "type": "integer",
            "example": 14
          },
          "Cake_White": {
            "type": "integer",
            "example": 15
          },
          "Cake_Golden": {
            "type": "integer",
            "example": 14
          },
          "Cake_Zombie": {
            "type": "integer",
            "example": 17
          },
          "Cake_Desert": {
            "type": "integer",
            "example": 14
          },
          "Cake_Red": {
            "type": "integer",
            "example": 16
          },
          "Honey": {
            "type": "integer",
            "example": 124
          },
          "Strawberry": {
            "type": "integer",
            "example": 110
          },
          "Milk": {
            "type": "integer",
            "example": 79
          },
          "Fish": {
            "type": "integer",
            "example": 91
          },
          "Saddle": {
            "type": "integer",
            "example": 8
          },
          "Candy_Skeleton": {
            "type": "integer",
            "example": 10
          },
          "Candy_Base": {
            "type": "integer",
            "example": 9
          },
          "Candy_CottonCandyBlue": {
            "type": "integer",
            "example": 10
          },
          "Candy_CottonCandyPink": {
            "type": "integer",
            "example": 9
          },
          "Candy_Shade": {
            "type": "integer",
            "example": 9
          },
          "Candy_White": {
            "type": "integer",
            "example": 10
          },
          "Candy_Golden": {
            "type": "integer",
            "example": 10
          },
          "Candy_Zombie": {
            "type": "integer",
            "example": 11
          },
          "Candy_Desert": {
            "type": "integer",
            "example": 10
          },
          "Candy_Red": {
            "type": "integer",
            "example": 12
          },
          "Pie_Skeleton": {
            "type": "integer",
            "example": 13
          },
          "Pie_Base": {
            "type": "integer",
            "example": 13
          },
          "Pie_CottonCandyBlue": {
            "type": "integer",
            "example": 14
          },
          "Pie_CottonCandyPink": {
            "type": "integer",
            "example": 13
          },
          "Pie_Shade": {
            "type": "integer",
            "example": 15
          },
          "Pie_White": {
            "type": "integer",
            "example": 14
          },
          "Pie_Golden": {
            "type": "integer",
            "example": 18
          },
          "Pie_Zombie": {
            "type": "integer",
            "example": 12
          },
          "Pie_Desert": {
            "type": "integer",
            "example": 11
          },
          "Pie_Red": {
            "type": "integer",
            "example": 17
          }
        },
        "required": [
          "Potatoe",
          "Chocolate",
          "CottonCandyPink",
          "Meat",
          "CottonCandyBlue",
          "RottenMeat",
          "Cake_Skeleton",
          "Cake_Base",
          "Cake_CottonCandyBlue",
          "Cake_CottonCandyPink",
          "Cake_Shade",
          "Cake_White",
          "Cake_Golden",
          "Cake_Zombie",
          "Cake_Desert",
          "Cake_Red",
          "Honey",
          "Strawberry",
          "Milk",
          "Fish",
          "Saddle",
          "Candy_Skeleton",
          "Candy_Base",
          "Candy_CottonCandyBlue",
          "Candy_CottonCandyPink",
          "Candy_Shade",
          "Candy_White",
          "Candy_Golden",
          "Candy_Zombie",
          "Candy_Desert",
          "Candy_Red",
          "Pie_Skeleton",
          "Pie_Base",
          "Pie_CottonCandyBlue",
          "Pie_CottonCandyPink",
          "Pie_Shade",
          "Pie_White",
          "Pie_Golden",
          "Pie_Zombie",
          "Pie_Desert",
          "Pie_Red"
        ]
      },
      "ListApiv3UserOkDataItemsHatchingPotions": {
        "type": "object",
        "properties": {
          "RoyalPurple": {
            "type": "integer",
            "example": 8
          },
          "Desert": {
            "type": "integer",
            "example": 130
          },
          "CottonCandyPink": {
            "type": "integer",
            "example": 79
          },
          "CottonCandyBlue": {
            "type": "integer",
            "example": 64
          },
          "Red": {
            "type": "integer",
            "example": 99
          },
          "Zombie": {
            "type": "integer",
            "example": 85
          },
          "Base": {
            "type": "integer",
            "example": 146
          },
          "White": {
            "type": "integer",
            "example": 142
          },
          "Shade": {
            "type": "integer",
            "example": 100
          },
          "Skeleton": {
            "type": "integer",
            "example": 92
          },
          "Golden": {
            "type": "integer",
            "example": 55
          }
        },
        "required": [
          "RoyalPurple",
          "Desert",
          "CottonCandyPink",
          "CottonCandyBlue",
          "Red",
          "Zombie",
          "Base",
          "White",
          "Shade",
          "Skeleton",
          "Golden"
        ]
      },
      "ListApiv3UserOkDataItemsEggs": {
        "type": "object",
        "properties": {
          "Wolf": {
            "type": "integer",
            "example": 103
          },
          "Cactus": {
            "type": "integer",
            "example": 131
          },
          "PandaCub": {
            "type": "integer",
            "example": 115
          },
          "Fox": {
            "type": "integer",
            "example": 100
          },
          "BearCub": {
            "type": "integer",
            "example": 106
          },
          "Dragon": {
            "type": "integer",
            "example": 116
          },
          "LionCub": {
            "type": "integer",
            "example": 113
          },
          "FlyingPig": {
            "type": "integer",
            "example": 107
          },
          "TigerCub": {
            "type": "integer",
            "example": 122
          }
        },
        "required": [
          "Wolf",
          "Cactus",
          "PandaCub",
          "Fox",
          "BearCub",
          "Dragon",
          "LionCub",
          "FlyingPig",
          "TigerCub"
        ]
      },
      "ListApiv3UserOkDataItemsPets": {
        "type": "object",
        "properties": {
          "Wolf-RoyalPurple": {
            "type": "integer",
            "example": 5
          },
          "PandaCub-Desert": {
            "type": "integer",
            "example": 5
          },
          "Cactus-Desert": {
            "type": "integer",
            "example": 5
          },
          "Fox-RoyalPurple": {
            "type": "integer",
            "example": 5
          },
          "Wolf-CottonCandyBlue": {
            "type": "integer",
            "example": -1
          },
          "Dragon-CottonCandyPink": {
            "type": "integer",
            "example": 5
          },
          "Dragon-Red": {
            "type": "integer",
            "example": 5
          },
          "FlyingPig-CottonCandyPink": {
            "type": "integer",
            "example": 5
          },
          "Dragon-Zombie": {
            "type": "integer",
            "example": 5
          },
          "LionCub-Desert": {
            "type": "integer",
            "example": 45
          },
          "BearCub-Desert": {
            "type": "integer",
            "example": 5
          },
          "Fox-Red": {
            "type": "integer",
            "example": 5
          },
          "FlyingPig-Red": {
            "type": "integer",
            "example": 5
          },
          "PandaCub-Base": {
            "type": "integer",
            "example": 5
          },
          "LionCub-RoyalPurple": {
            "type": "integer",
            "example": 5
          },
          "Dragon-Golden": {
            "type": "integer",
            "example": 5
          },
          "BearCub-Base": {
            "type": "integer",
            "example": 5
          },
          "Cactus-CottonCandyBlue": {
            "type": "integer",
            "example": 5
          },
          "Cactus-CottonCandyPink": {
            "type": "integer",
            "example": 25
          },
          "Dragon-RoyalPurple": {
            "type": "integer",
            "example": 5
          },
          "FlyingPig-Desert": {
            "type": "integer",
            "example": 5
          },
          "FlyingPig-RoyalPurple": {
            "type": "integer",
            "example": 5
          },
          "Fox-CottonCandyBlue": {
            "type": "integer",
            "example": 5
          },
          "LionCub-CottonCandyBlue": {
            "type": "integer",
            "example": -1
          },
          "LionCub-Red": {
            "type": "integer",
            "example": 45
          },
          "PandaCub-Red": {
            "type": "integer",
            "example": -1
          },
          "Wolf-Red": {
            "type": "integer",
            "example": 5
          },
          "Wolf-Skeleton": {
            "type": "integer",
            "example": -1
          },
          "Wolf-White": {
            "type": "integer",
            "example": -1
          },
          "TigerCub-White": {
            "type": "integer",
            "example": -1
          },
          "PandaCub-White": {
            "type": "integer",
            "example": 5
          },
          "TigerCub-Zombie": {
            "type": "integer",
            "example": 5
          },
          "PandaCub-Zombie": {
            "type": "integer",
            "example": 5
          },
          "TigerCub-Shade": {
            "type": "integer",
            "example": 5
          },
          "PandaCub-Shade": {
            "type": "integer",
            "example": 5
          },
          "TigerCub-RoyalPurple": {
            "type": "integer",
            "example": 5
          },
          "TigerCub-Skeleton": {
            "type": "integer",
            "example": 5
          },
          "TigerCub-Red": {
            "type": "integer",
            "example": 5
          },
          "Wolf-Veteran": {
            "type": "integer",
            "example": 5
          },
          "JackOLantern-Base": {
            "type": "integer",
            "example": 5
          },
          "Turkey-Base": {
            "type": "integer",
            "example": 5
          },
          "Hippogriff-Hopeful": {
            "type": "integer",
            "example": 5
          },
          "Orca-Base": {
            "type": "integer",
            "example": 5
          },
          "Gryphon-RoyalPurple": {
            "type": "integer",
            "example": 5
          },
          "Tiger-Veteran": {
            "type": "integer",
            "example": 5
          },
          "PandaCub-RoyalPurple": {
            "type": "integer",
            "example": 5
          },
          "Cactus-RoyalPurple": {
            "type": "integer",
            "example": 5
          },
          "BearCub-RoyalPurple": {
            "type": "integer",
            "example": 5
          },
          "Wolf-Base": {
            "type": "integer",
            "example": 5
          },
          "Wolf-Desert": {
            "type": "integer",
            "example": -1
          },
          "Wolf-Shade": {
            "type": "integer",
            "example": -1
          },
          "Wolf-Zombie": {
            "type": "integer",
            "example": -1
          },
          "Wolf-CottonCandyPink": {
            "type": "integer",
            "example": -1
          },
          "Wolf-Golden": {
            "type": "integer",
            "example": -1
          },
          "TigerCub-Base": {
            "type": "integer",
            "example": -1
          },
          "BearCub-White": {
            "type": "integer",
            "example": 5
          },
          "BearCub-Golden": {
            "type": "integer",
            "example": 5
          },
          "PandaCub-Skeleton": {
            "type": "integer",
            "example": -1
          },
          "TigerCub-Desert": {
            "type": "integer",
            "example": -1
          },
          "TigerCub-CottonCandyPink": {
            "type": "integer",
            "example": -1
          },
          "TigerCub-CottonCandyBlue": {
            "type": "integer",
            "example": -1
          },
          "TigerCub-Golden": {
            "type": "integer",
            "example": -1
          },
          "LionCub-Base": {
            "type": "integer",
            "example": -1
          },
          "Fox-Desert": {
            "type": "integer",
            "example": 5
          },
          "FlyingPig-Skeleton": {
            "type": "integer",
            "example": 5
          },
          "Dragon-Skeleton": {
            "type": "integer",
            "example": 5
          },
          "FlyingPig-White": {
            "type": "integer",
            "example": -1
          },
          "Dragon-Desert": {
            "type": "integer",
            "example": 5
          },
          "Fox-Shade": {
            "type": "integer",
            "example": 5
          },
          "LionCub-Zombie": {
            "type": "integer",
            "example": -1
          },
          "FlyingPig-Zombie": {
            "type": "integer",
            "example": 15
          },
          "Cactus-White": {
            "type": "integer",
            "example": 5
          },
          "Fox-Base": {
            "type": "integer",
            "example": -1
          },
          "Fox-Zombie": {
            "type": "integer",
            "example": 5
          },
          "Dragon-CottonCandyBlue": {
            "type": "integer",
            "example": 5
          },
          "Fox-CottonCandyPink": {
            "type": "integer",
            "example": 5
          },
          "FlyingPig-CottonCandyBlue": {
            "type": "integer",
            "example": 5
          },
          "LionCub-CottonCandyPink": {
            "type": "integer",
            "example": -1
          },
          "Fox-Skeleton": {
            "type": "integer",
            "example": 5
          },
          "LionCub-Skeleton": {
            "type": "integer",
            "example": -1
          },
          "LionCub-Shade": {
            "type": "integer",
            "example": -1
          },
          "Fox-White": {
            "type": "integer",
            "example": -1
          },
          "LionCub-White": {
            "type": "integer",
            "example": -1
          },
          "PandaCub-CottonCandyPink": {
            "type": "integer",
            "example": -1
          },
          "FlyingPig-Shade": {
            "type": "integer",
            "example": 5
          },
          "FlyingPig-Base": {
            "type": "integer",
            "example": -1
          },
          "Dragon-Base": {
            "type": "integer",
            "example": 5
          },
          "Dragon-White": {
            "type": "integer",
            "example": 5
          },
          "Dragon-Shade": {
            "type": "integer",
            "example": 5
          },
          "PandaCub-CottonCandyBlue": {
            "type": "integer",
            "example": -1
          },
          "Cactus-Base": {
            "type": "integer",
            "example": 5
          },
          "BearCub-Zombie": {
            "type": "integer",
            "example": 5
          },
          "Cactus-Shade": {
            "type": "integer",
            "example": 5
          },
          "Cactus-Skeleton": {
            "type": "integer",
            "example": 5
          },
          "Cactus-Zombie": {
            "type": "integer",
            "example": 5
          },
          "BearCub-CottonCandyPink": {
            "type": "integer",
            "example": 5
          },
          "Cactus-Red": {
            "type": "integer",
            "example": 5
          },
          "BearCub-Skeleton": {
            "type": "integer",
            "example": 5
          },
          "BearCub-Shade": {
            "type": "integer",
            "example": 5
          },
          "BearCub-Red": {
            "type": "integer",
            "example": 5
          },
          "BearCub-CottonCandyBlue": {
            "type": "integer",
            "example": 5
          },
          "PandaCub-Golden": {
            "type": "integer",
            "example": -1
          },
          "JackOLantern-Ghost": {
            "type": "integer",
            "example": 5
          },
          "Turkey-Gilded": {
            "type": "integer",
            "example": 5
          },
          "JackOLantern-Glow": {
            "type": "integer",
            "example": 5
          },
          "JackOLantern-RoyalPurple": {
            "type": "integer",
            "example": 5
          },
          "Lion-Veteran": {
            "type": "integer",
            "example": 5
          },
          "Bear-Veteran": {
            "type": "integer",
            "example": 5
          },
          "Cactus-Golden": {
            "type": "integer",
            "example": 5
          }
        },
        "required": [
          "Wolf-RoyalPurple",
          "PandaCub-Desert",
          "Cactus-Desert",
          "Fox-RoyalPurple",
          "Wolf-CottonCandyBlue",
          "Dragon-CottonCandyPink",
          "Dragon-Red",
          "FlyingPig-CottonCandyPink",
          "Dragon-Zombie",
          "LionCub-Desert",
          "BearCub-Desert",
          "Fox-Red",
          "FlyingPig-Red",
          "PandaCub-Base",
          "LionCub-RoyalPurple",
          "Dragon-Golden",
          "BearCub-Base",
          "Cactus-CottonCandyBlue",
          "Cactus-CottonCandyPink",
          "Dragon-RoyalPurple",
          "FlyingPig-Desert",
          "FlyingPig-RoyalPurple",
          "Fox-CottonCandyBlue",
          "LionCub-CottonCandyBlue",
          "LionCub-Red",
          "PandaCub-Red",
          "Wolf-Red",
          "Wolf-Skeleton",
          "Wolf-White",
          "TigerCub-White",
          "PandaCub-White",
          "TigerCub-Zombie",
          "PandaCub-Zombie",
          "TigerCub-Shade",
          "PandaCub-Shade",
          "TigerCub-RoyalPurple",
          "TigerCub-Skeleton",
          "TigerCub-Red",
          "Wolf-Veteran",
          "JackOLantern-Base",
          "Turkey-Base",
          "Hippogriff-Hopeful",
          "Orca-Base",
          "Gryphon-RoyalPurple",
          "Tiger-Veteran",
          "PandaCub-RoyalPurple",
          "Cactus-RoyalPurple",
          "BearCub-RoyalPurple",
          "Wolf-Base",
          "Wolf-Desert",
          "Wolf-Shade",
          "Wolf-Zombie",
          "Wolf-CottonCandyPink",
          "Wolf-Golden",
          "TigerCub-Base",
          "BearCub-White",
          "BearCub-Golden",
          "PandaCub-Skeleton",
          "TigerCub-Desert",
          "TigerCub-CottonCandyPink",
          "TigerCub-CottonCandyBlue",
          "TigerCub-Golden",
          "LionCub-Base",
          "Fox-Desert",
          "FlyingPig-Skeleton",
          "Dragon-Skeleton",
          "FlyingPig-White",
          "Dragon-Desert",
          "Fox-Shade",
          "LionCub-Zombie",
          "FlyingPig-Zombie",
          "Cactus-White",
          "Fox-Base",
          "Fox-Zombie",
          "Dragon-CottonCandyBlue",
          "Fox-CottonCandyPink",
          "FlyingPig-CottonCandyBlue",
          "LionCub-CottonCandyPink",
          "Fox-Skeleton",
          "LionCub-Skeleton",
          "LionCub-Shade",
          "Fox-White",
          "LionCub-White",
          "PandaCub-CottonCandyPink",
          "FlyingPig-Shade",
          "FlyingPig-Base",
          "Dragon-Base",
          "Dragon-White",
          "Dragon-Shade",
          "PandaCub-CottonCandyBlue",
          "Cactus-Base",
          "BearCub-Zombie",
          "Cactus-Shade",
          "Cactus-Skeleton",
          "Cactus-Zombie",
          "BearCub-CottonCandyPink",
          "Cactus-Red",
          "BearCub-Skeleton",
          "BearCub-Shade",
          "BearCub-Red",
          "BearCub-CottonCandyBlue",
          "PandaCub-Golden",
          "JackOLantern-Ghost",
          "Turkey-Gilded",
          "JackOLantern-Glow",
          "JackOLantern-RoyalPurple",
          "Lion-Veteran",
          "Bear-Veteran",
          "Cactus-Golden"
        ]
      },
      "ListApiv3UserOkDataInvitations": {
        "type": "object",
        "properties": {
          "party": {
            "type": "object"
          },
          "guilds": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          },
          "parties": {
            "type": "array",
            "items": {
              "type": "object",
              "example": null
            }
          }
        },
        "required": [
          "party",
          "guilds",
          "parties"
        ]
      },
      "ListApiv3UserOkDataParty": {
        "type": "object",
        "properties": {
          "quest": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPartyQuest"
          },
          "_id": {
            "type": "string",
            "format": "uuid"
          },
          "order": {
            "type": "string",
            "example": "level"
          },
          "orderAscending": {
            "type": "string",
            "example": "ascending"
          }
        },
        "required": [
          "quest",
          "_id",
          "order",
          "orderAscending"
        ]
      },
      "ListApiv3UserOkDataPartyQuest": {
        "type": "object",
        "properties": {
          "progress": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPartyQuestProgress"
          },
          "RSVPNeeded": {
            "type": "boolean"
          }
        },
        "required": [
          "progress",
          "RSVPNeeded"
        ]
      },
      "ListApiv3UserOkDataPartyQuestProgress": {
        "type": "object",
        "properties": {
          "up": {
            "type": "number",
            "format": "double",
            "example": 2.722206363050413
          },
          "down": {
            "type": "integer",
            "example": 0
          },
          "collectedItems": {
            "type": "integer",
            "example": 3
          },
          "collect": {
            "type": "object"
          }
        },
        "required": [
          "up",
          "down",
          "collectedItems",
          "collect"
        ]
      },
      "ListApiv3UserOkDataPreferences": {
        "type": "object",
        "properties": {
          "hair": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPreferencesHair"
          },
          "emailNotifications": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPreferencesEmailNotifications"
          },
          "pushNotifications": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPreferencesPushNotifications"
          },
          "suppressModals": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPreferencesSuppressModals"
          },
          "tasks": {
            "$ref": "#/components/schemas/ListApiv3UserOkDataPreferencesTasks"
          },
          "dayStart": {
            "type": "integer",
            "example": 2
          },
          "size": {
            "type": "string",
            "example": "broad"
          },
          "hideHeader": {
            "type": "boolean"
          },
          "skin": {
            "type": "string",
            "example": "f5a76e"
          },
          "shirt": {
            "type": "string",
            "example": "green"
          },
          "timezoneOffset": {
            "type": "integer",
            "example": -120
          },
          "sound": {
            "type": "string",
            "example": "gokulTheme"
          },
          "chair": {
            "type": "string",
            "example": "none"
          },
          "allocationMode": {
            "type": "string",
            "example": "classbased"
          },
          "autoEquip": {
            "type": "boolean"
          },
          "costume": {
            "type": "boolean"
[...]
