{
  "openapi": "3.1.0",
  "info": {
    "title": "API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.notion.com/v1"
    }
  ],
  "paths": {
    "/pages/{pageId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/pageId"
        },
        {
          "$ref": "#/components/parameters/Notion-Version"
        }
      ],
      "get": {
        "operationId": "GetV1PageByPageID",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetV1PageByPageIDOkResponse"
          }
        }
      }
    },
    "/blocks/{blockId}/children": {
      "parameters": [
        {
          "$ref": "#/components/parameters/blockId"
        },
        {
          "$ref": "#/components/parameters/page_size"
        },
        {
          "$ref": "#/components/parameters/Notion-Version2"
        }
      ],
      "get": {
        "operationId": "ListV1BlockChildren",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListV1BlockChildrenOkResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GetV1PageByPageIDOk": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "page"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "example": "2022-07-14T05:31:00.000Z"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time",
            "example": "2025-02-02T19:54:00.000Z"
          },
          "created_by": {
            "$ref": "#/components/schemas/GetV1PageByPageIDOkCreatedBy"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/GetV1PageByPageIDOkLastEditedBy"
          },
          "cover": {
            "$ref": "#/components/schemas/GetV1PageByPageIDOkCover"
          },
          "icon": {
            "$ref": "#/components/schemas/GetV1PageByPageIDOkIcon"
          },
          "parent": {
            "$ref": "#/components/schemas/GetV1PageByPageIDOkParent"
          },
          "in_trash": {
            "type": "boolean"
          },
          "is_archived": {
            "type": "boolean"
          },
          "is_locked": {
            "type": "boolean"
          },
          "properties": {
            "$ref": "#/components/schemas/GetV1PageByPageIDOkProperties"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://app.notion.com/p/Example-Page-96245c8f178444a482ad1941127c3ec3"
          },
          "public_url": {
            "type": "string",
            "format": "uri",
            "example": "https://fae-tools.notion.site/Example-Page-96245c8f178444a482ad1941127c3ec3"
          },
          "request_id": {
            "type": "string",
            "format": "uuid",
            "example": "1cd5f340-41a1-4465-bf0f-d732f1080f7b"
          }
        },
        "required": [
          "object",
          "id",
          "created_time",
          "last_edited_time",
          "created_by",
          "last_edited_by",
          "cover",
          "icon",
          "parent",
          "in_trash",
          "is_archived",
          "is_locked",
          "properties",
          "url",
          "public_url",
          "request_id"
        ]
      },
      "GetV1PageByPageIDOkCreatedBy": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "user"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "object",
          "id"
        ]
      },
      "GetV1PageByPageIDOkLastEditedBy": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "user"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "object",
          "id"
        ]
      },
      "GetV1PageByPageIDOkCover": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "external"
          },
          "external": {
            "$ref": "#/components/schemas/GetV1PageByPageIDOkCoverExternal"
          }
        },
        "required": [
          "type",
          "external"
        ]
      },
      "GetV1PageByPageIDOkCoverExternal": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://app.notion.com/images/page-cover/nasa_space_shuttle_columbia_and_sunrise.jpg"
          }
        },
        "required": [
          "url"
        ]
      },
      "GetV1PageByPageIDOkIcon": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "emoji"
          },
          "emoji": {
            "type": "string",
            "example": "🌄"
          }
        },
        "required": [
          "type",
          "emoji"
        ]
      },
      "GetV1PageByPageIDOkParent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "page_id"
          },
          "page_id": {
            "type": "string",
            "format": "uuid",
            "example": "11f88fcd-daf4-802e-b645-eb2d041a759b"
          }
        },
        "required": [
          "type",
          "page_id"
        ]
      },
      "GetV1PageByPageIDOkProperties": {
        "type": "object",
        "properties": {
          "title": {
            "$ref": "#/components/schemas/GetV1PageByPageIDOkPropertiesTitle"
          }
        },
        "required": [
          "title"
        ]
      },
      "GetV1PageByPageIDOkPropertiesTitle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "title"
          },
          "type": {
            "type": "string",
            "example": "title"
          },
          "title": {
            "$ref": "#/components/schemas/GetV1PageByPageIDOkPropertiesTitleTitle"
          }
        },
        "required": [
          "id",
          "type",
          "title"
        ]
      },
      "GetV1PageByPageIDOkPropertiesTitleTitle": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/GetV1PageByPageIDOkPropertiesTitleTitleItem"
        }
      },
      "GetV1PageByPageIDOkPropertiesTitleTitleItem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/GetV1PageByPageIDOkPropertiesTitleTitleItemText"
          },
          "annotations": {
            "$ref": "#/components/schemas/GetV1PageByPageIDOkPropertiesTitleTitleItemAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "Example Page"
          },
          "href": {
            "type": "object",
            "example": null
          }
        },
        "required": [
          "type",
          "text",
          "annotations",
          "plain_text",
          "href"
        ]
      },
      "GetV1PageByPageIDOkPropertiesTitleTitleItemText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "Example Page"
          },
          "link": {
            "type": "object",
            "example": null
          }
        },
        "required": [
          "content",
          "link"
        ]
      },
      "GetV1PageByPageIDOkPropertiesTitleTitleItemAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean"
          },
          "italic": {
            "type": "boolean"
          },
          "strikethrough": {
            "type": "boolean"
          },
          "underline": {
            "type": "boolean"
          },
          "code": {
            "type": "boolean"
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ]
      },
      "ListV1BlockChildrenOk": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "results": {
            "$ref": "#/components/schemas/ListV1BlockChildrenOkResults"
          },
          "next_cursor": {
            "type": "string",
            "format": "uuid",
            "example": "7f7a2665-50a6-4a33-9ee7-33a93dd3cbd0"
          },
          "has_more": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "example": "block"
          },
          "block": {
            "type": "object"
          },
          "request_id": {
            "type": "string",
            "format": "uuid",
            "example": "ae6bf639-93df-4d73-8e9f-7e349f9c4e23"
          }
        },
        "required": [
          "object",
          "results",
          "next_cursor",
          "has_more",
          "type",
          "block",
          "request_id"
        ]
      },
      "ListV1BlockChildrenOkResults": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ListV1BlockChildrenOkResultsItem"
        }
      },
      "ListV1BlockChildrenOkResultsItem": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "block"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "parent": {
            "$ref": "#/components/schemas/ListV1BlockChildrenOkResultsItemParent"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "example": "2022-07-14T05:31:00.000Z"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time",
            "example": "2022-07-14T05:33:00.000Z"
          },
          "created_by": {
            "$ref": "#/components/schemas/ListV1BlockChildrenOkResultsItemCreatedBy"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/ListV1BlockChildrenOkResultsItemLastEditedBy"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "example": "paragraph"
          },
          "paragraph": {
            "$ref": "#/components/schemas/ListV1BlockChildrenOkResultsItemParagraph"
          }
        },
        "required": [
          "object",
          "id",
          "parent",
          "created_time",
          "last_edited_time",
          "created_by",
          "last_edited_by",
          "has_children",
          "in_trash",
          "type",
          "paragraph"
        ]
      },
      "ListV1BlockChildrenOkResultsItemParent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "page_id"
          },
          "page_id": {
            "type": "string",
            "format": "uuid",
            "example": "96245c8f-1784-44a4-82ad-1941127c3ec3"
          }
        },
        "required": [
          "type",
          "page_id"
        ]
      },
      "ListV1BlockChildrenOkResultsItemCreatedBy": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "user"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "object",
          "id"
        ]
      },
      "ListV1BlockChildrenOkResultsItemLastEditedBy": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "user"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "object",
          "id"
        ]
      },
      "ListV1BlockChildrenOkResultsItemParagraph": {
        "type": "object",
        "properties": {
          "rich_text": {
            "$ref": "#/components/schemas/ListV1BlockChildrenOkResultsItemParagraphRichText"
          },
          "icon": {
            "type": "object",
            "example": null
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "rich_text",
          "icon",
          "color"
        ]
      },
      "ListV1BlockChildrenOkResultsItemParagraphRichText": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ListV1BlockChildrenOkResultsItemParagraphRichTextItem"
        }
      },
      "ListV1BlockChildrenOkResultsItemParagraphRichTextItem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "text"
          },
          "text": {
            "$ref": "#/components/schemas/ListV1BlockChildrenOkResultsItemParagraphRichTextItemText"
          },
          "annotations": {
            "$ref": "#/components/schemas/ListV1BlockChildrenOkResultsItemParagraphRichTextItemAnnotations"
          },
          "plain_text": {
            "type": "string",
            "example": "This is a simple paragraph."
          },
          "href": {
            "type": "object",
            "example": null
          }
        },
        "example": null
      },
      "ListV1BlockChildrenOkResultsItemParagraphRichTextItemText": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "This is a simple paragraph."
          },
          "link": {
            "type": "object",
            "example": null
          }
        },
        "required": [
          "content",
          "link"
        ]
      },
      "ListV1BlockChildrenOkResultsItemParagraphRichTextItemAnnotations": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean"
          },
          "italic": {
            "type": "boolean"
          },
          "strikethrough": {
            "type": "boolean"
          },
          "underline": {
            "type": "boolean"
          },
          "code": {
            "type": "boolean"
          },
          "color": {
            "type": "string",
            "example": "default"
          }
        },
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ]
      }
    },
    "responses": {
      "GetV1PageByPageIDOkResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetV1PageByPageIDOk"
            }
          }
        }
      },
      "ListV1BlockChildrenOkResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ListV1BlockChildrenOk"
            }
          }
        }
      }
    },
    "parameters": {
      "pageId": {
        "name": "pageId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Notion-Version": {
        "name": "Notion-Version",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "example": "2026-03-11"
        }
      },
      "blockId": {
        "name": "blockId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "page_size": {
        "name": "page_size",
        "in": "query",
        "schema": {
          "type": "integer"
        }
      },
      "Notion-Version2": {
        "name": "Notion-Version",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "example": "2026-03-11"
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}